In [150]:
import pandas as pd
import random
import numpy as np
from datetime import datetime, timedelta
import ast
import math

In [151]:
signal_need_to_compare = pd.read_csv("need_to_compare_realtime.csv").head(1)["signal_code"].values[0]
summary_compare_realtime = pd.read_csv("summary_compare_realtime.csv")
detail_compare_realtime =  pd.read_csv("detail_compare_realtime.csv")

In [152]:
real_time = pd.read_csv(f"./Cassandra/{signal_need_to_compare}.csv")
real_time

,unit_no,signal_code,time,frozen_times,int_value,numeric_value,string_value,times,timestamp_value
0,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,2024-06-10 08:29:55.400,"[2024-06-10 08:29:55,2024-06-10 08:29:55,2024-...",0,NaN,NaN,NaN,NaN
1,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,2024-06-10 08:29:50.400,"[2024-06-10 08:29:50,2024-06-10 08:29:50,2024-...",0,NaN,NaN,NaN,NaN
2,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,2024-06-10 08:29:45.400,"[2024-06-10 08:29:45,2024-06-10 08:29:45,2024-...",0,NaN,NaN,NaN,NaN
3,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,2024-06-10 08:29:40.200,"[2024-06-10 08:29:40,2024-06-10 08:29:40,2024-...",0,NaN,NaN,NaN,NaN
4,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,2024-06-10 08:29:35.200,"[2024-06-10 08:29:35,2024-06-10 08:29:35,2024-...",0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
660,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,2024-06-10 07:33:11.800,"[2024-06-10 07:33:12,2024-06-10 07:33:12,2024-...",0,NaN,NaN,NaN,NaN
661,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,2024-06-10 07:33:06.600,"[2024-06-10 07:33:06,2024-06-10 07:33:07,2024-...",0,NaN,NaN,NaN,NaN
662,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,2024-06-10 07:33:01.400,"[2024-06-10 07:33:01,2024-06-10 07:33:01,2024-...",0,NaN,NaN,NaN,NaN
663,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,2024-06-10 07:32:56.400,"[2024-06-10 07:32:56,2024-06-10 07:32:56,2024-...",0,NaN,NaN,NaN,NaN
664,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,2024-06-10 07:32:52.000,"[2024-06-10 07:32:52,2024-06-10 07:32:52,2024-...",0,NaN,NaN,NaN,NaN

In [153]:
def convertColumnToArray(x):
    x = x.replace("[" , "").replace("]" , "")
    x = x.split(",")
    return x

real_time["frozen_times"] = real_time["frozen_times"].apply(convertColumnToArray)
real_time

,unit_no,signal_code,time,frozen_times,int_value,numeric_value,string_value,times,timestamp_value
0,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,2024-06-10 08:29:55.400,"[2024-06-10 08:29:55, 2024-06-10 08:29:55, 202...",0,NaN,NaN,NaN,NaN
1,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,2024-06-10 08:29:50.400,"[2024-06-10 08:29:50, 2024-06-10 08:29:50, 202...",0,NaN,NaN,NaN,NaN
2,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,2024-06-10 08:29:45.400,"[2024-06-10 08:29:45, 2024-06-10 08:29:45, 202...",0,NaN,NaN,NaN,NaN
3,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,2024-06-10 08:29:40.200,"[2024-06-10 08:29:40, 2024-06-10 08:29:40, 202...",0,NaN,NaN,NaN,NaN
4,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,2024-06-10 08:29:35.200,"[2024-06-10 08:29:35, 2024-06-10 08:29:35, 202...",0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
660,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,2024-06-10 07:33:11.800,"[2024-06-10 07:33:12, 2024-06-10 07:33:12, 202...",0,NaN,NaN,NaN,NaN
661,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,2024-06-10 07:33:06.600,"[2024-06-10 07:33:06, 2024-06-10 07:33:07, 202...",0,NaN,NaN,NaN,NaN
662,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,2024-06-10 07:33:01.400,"[2024-06-10 07:33:01, 2024-06-10 07:33:01, 202...",0,NaN,NaN,NaN,NaN
663,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,2024-06-10 07:32:56.400,"[2024-06-10 07:32:56, 2024-06-10 07:32:56, 202...",0,NaN,NaN,NaN,NaN
664,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,2024-06-10 07:32:52.000,"[2024-06-10 07:32:52, 2024-06-10 07:32:52, 202...",0,NaN,NaN,NaN,NaN

In [154]:
def seperateTime(x):
    if x[3][0] == "" :
        return [x[2]]
    else:
        parse_frozen_time = x[3].copy()
        parse_frozen_time.insert(0 , x[2])
        current_second = int(parse_frozen_time[0].split(" ")[1].split(":")[2].split(".")[0])
        current_milisecond = int(parse_frozen_time[0].split(" ")[1].split(".")[1])
        for i in range(len(parse_frozen_time)):
            if i == 0 :
                continue
            elif i == len(parse_frozen_time) - 1:
                if int(parse_frozen_time[i].split(" ")[1].split(":")[2].split(".")[0]) == current_second :
                    milisecond = int(int(current_milisecond) + 200)
                    parse_frozen_time[i] = f'{parse_frozen_time[i].split(".")[0]}.{milisecond}'
                    current_milisecond = int(parse_frozen_time[i].split(" ")[1].split(".")[1])
                else:
                    parse_frozen_time[i] = f'{parse_frozen_time[i].split(".")[0]}.000'
            else:
                if int(parse_frozen_time[i].split(" ")[1].split(":")[2].split(".")[0]) == current_second :
                    milisecond = int(int(current_milisecond) + 200)
                    parse_frozen_time[i] = f'{parse_frozen_time[i].split(".")[0]}.{milisecond}'
                    current_milisecond = int(parse_frozen_time[i].split(" ")[1].split(".")[1])
                else:
                        parse_frozen_time[i] = f'{parse_frozen_time[i].split(".")[0]}.000'
                        current_second = int(parse_frozen_time[i].split(" ")[1].split(":")[2].split(".")[0])
                        current_milisecond = 0
        return parse_frozen_time
real_time["parse_frozen_time"]=real_time.apply(seperateTime , axis = 1)
real_time

C:\Users\khangnguyen1\AppData\Local\Temp\ipykernel_23328\20941865.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if x[3][0] == "" :
C:\Users\khangnguyen1\AppData\Local\Temp\ipykernel_23328\20941865.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  parse_frozen_time = x[3].copy()
C:\Users\khangnguyen1\AppData\Local\Temp\ipykernel_23328\20941865.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  parse_frozen_time.insert(0 , x[2])
C:\Users\khangnguyen1\AppData\Local\Temp\ipykernel_23328\20941865.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  return [x[2]]

,unit_no,signal_code,time,frozen_times,int_value,numeric_value,string_value,times,timestamp_value,parse_frozen_time
0,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,2024-06-10 08:29:55.400,"[2024-06-10 08:29:55, 2024-06-10 08:29:55, 202...",0,NaN,NaN,NaN,NaN,"[2024-06-10 08:29:55.400, 2024-06-10 08:29:55...."
1,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,2024-06-10 08:29:50.400,"[2024-06-10 08:29:50, 2024-06-10 08:29:50, 202...",0,NaN,NaN,NaN,NaN,"[2024-06-10 08:29:50.400, 2024-06-10 08:29:50...."
2,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,2024-06-10 08:29:45.400,"[2024-06-10 08:29:45, 2024-06-10 08:29:45, 202...",0,NaN,NaN,NaN,NaN,"[2024-06-10 08:29:45.400, 2024-06-10 08:29:45...."
3,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,2024-06-10 08:29:40.200,"[2024-06-10 08:29:40, 2024-06-10 08:29:40, 202...",0,NaN,NaN,NaN,NaN,"[2024-06-10 08:29:40.200, 2024-06-10 08:29:40...."
4,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,2024-06-10 08:29:35.200,"[2024-06-10 08:29:35, 2024-06-10 08:29:35, 202...",0,NaN,NaN,NaN,NaN,"[2024-06-10 08:29:35.200, 2024-06-10 08:29:35...."
...,...,...,...,...,...,...,...,...,...,...
660,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,2024-06-10 07:33:11.800,"[2024-06-10 07:33:12, 2024-06-10 07:33:12, 202...",0,NaN,NaN,NaN,NaN,"[2024-06-10 07:33:11.800, 2024-06-10 07:33:12...."
661,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,2024-06-10 07:33:06.600,"[2024-06-10 07:33:06, 2024-06-10 07:33:07, 202...",0,NaN,NaN,NaN,NaN,"[2024-06-10 07:33:06.600, 2024-06-10 07:33:06...."
662,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,2024-06-10 07:33:01.400,"[2024-06-10 07:33:01, 2024-06-10 07:33:01, 202...",0,NaN,NaN,NaN,NaN,"[2024-06-10 07:33:01.400, 2024-06-10 07:33:01...."
663,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,2024-06-10 07:32:56.400,"[2024-06-10 07:32:56, 2024-06-10 07:32:56, 202...",0,NaN,NaN,NaN,NaN,"[2024-06-10 07:32:56.400, 2024-06-10 07:32:56...."
664,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,2024-06-10 07:32:52.000,"[2024-06-10 07:32:52, 2024-06-10 07:32:52, 202...",0,NaN,NaN,NaN,NaN,"[2024-06-10 07:32:52.000, 2024-06-10 07:32:52...."

In [155]:
real_time.explode('parse_frozen_time').to_csv("compare-realtime.csv")

In [156]:
batch = pd.read_csv('./datasese/datasese.csv')
batch

C:\Users\khangnguyen1\AppData\Local\Temp\ipykernel_23328\734190858.py:1: DtypeWarning: Columns (2987,3104) have mixed types. Specify dtype option on import or set low_memory=False.
  batch = pd.read_csv('./datasese/datasese.csv')

,filename,pentahocounter,calendar_timestamp,sd1_v0_kindoftext_20h,yearhcode,yearlcode,monthhcode,monthlcode,dayhcode,daylcode,...,sd1_v0_numberofrecordedtrace_tractionhighms1,sd1_v0_numberofrecordedtrace_tractionhighms2,sd1_v0_numberofrecordedtrace_tractionhighms3,sd1_v0_numberofrecordedtrace_tractionhighms4,sd1_v0_numberofrecordedtrace_apsms1,sd1_v0_numberofrecordedtrace_apsms2,sd1_v0_numberofrecordedtrace_apsms4,Year,Month,Day
0,SD2406100627290-395001-SD1,0,2024/06/10 07:27:29.000000000,32,2,4,0,6,1,0,...,0,0,0,0,3,3,3,2024,6,10
1,SD2406100627290-395001-SD1,1,2024/06/10 07:27:29.000000000,32,2,4,0,6,1,0,...,0,0,0,0,3,3,3,2024,6,10
2,SD2406100627290-395001-SD1,2,2024/06/10 07:27:29.000000000,32,2,4,0,6,1,0,...,0,0,0,0,3,3,3,2024,6,10
3,SD2406100627290-395001-SD1,3,2024/06/10 07:27:29.000000000,32,2,4,0,6,1,0,...,0,0,0,0,3,3,3,2024,6,10
4,SD2406100627290-395001-SD1,4,2024/06/10 07:27:30.000000000,32,2,4,0,6,1,0,...,0,0,0,0,3,3,3,2024,6,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35995,SD2406100627290-395001-SD1,35995,2024/06/10 09:26:59.000000000,32,2,4,0,6,1,0,...,0,0,0,0,3,3,3,2024,6,10
35996,SD2406100627290-395001-SD1,35996,2024/06/10 09:27:00.000000000,32,2,4,0,6,1,0,...,0,0,0,0,3,3,3,2024,6,10
35997,SD2406100627290-395001-SD1,35997,2024/06/10 09:27:00.000000000,32,2,4,0,6,1,0,...,0,0,0,0,3,3,3,2024,6,10
35998,SD2406100627290-395001-SD1,35998,2024/06/10 09:27:00.000000000,32,2,4,0,6,1,0,...,0,0,0,0,3,3,3,2024,6,10
35999,SD2406100627290-395001-SD1,35999,2024/06/10 09:27:00.000000000,32,2,4,0,6,1,0,...,0,0,0,0,3,3,3,2024,6,10

In [157]:
current_second_batch = int(batch.iloc[0,2].split(" ")[1].split(":")[2].split(".")[0])
current_milisecond_batch = int(batch.iloc[0,2].split(" ")[1].split(".")[1])
for i in range(len(batch)):
            if i == 0 :
                continue
            else:
                if int(batch.iloc[i,2].split(" ")[1].split(":")[2].split(".")[0]) == current_second_batch :
                    milisecond_batch = int(int(current_milisecond_batch) + 200)
                    batch.iloc[i,2] = f'{batch.iloc[i,2].split(".")[0]}.{milisecond_batch}'
                    current_milisecond_batch =  int(batch.iloc[i,2].split(" ")[1].split(".")[1])
                else:
                        current_second_batch = int(batch.iloc[i,2].split(" ")[1].split(":")[2].split(".")[0])
                        current_milisecond_batch = 0

batch

,filename,pentahocounter,calendar_timestamp,sd1_v0_kindoftext_20h,yearhcode,yearlcode,monthhcode,monthlcode,dayhcode,daylcode,...,sd1_v0_numberofrecordedtrace_tractionhighms1,sd1_v0_numberofrecordedtrace_tractionhighms2,sd1_v0_numberofrecordedtrace_tractionhighms3,sd1_v0_numberofrecordedtrace_tractionhighms4,sd1_v0_numberofrecordedtrace_apsms1,sd1_v0_numberofrecordedtrace_apsms2,sd1_v0_numberofrecordedtrace_apsms4,Year,Month,Day
0,SD2406100627290-395001-SD1,0,2024/06/10 07:27:29.000000000,32,2,4,0,6,1,0,...,0,0,0,0,3,3,3,2024,6,10
1,SD2406100627290-395001-SD1,1,2024/06/10 07:27:29.200,32,2,4,0,6,1,0,...,0,0,0,0,3,3,3,2024,6,10
2,SD2406100627290-395001-SD1,2,2024/06/10 07:27:29.400,32,2,4,0,6,1,0,...,0,0,0,0,3,3,3,2024,6,10
3,SD2406100627290-395001-SD1,3,2024/06/10 07:27:29.600,32,2,4,0,6,1,0,...,0,0,0,0,3,3,3,2024,6,10
4,SD2406100627290-395001-SD1,4,2024/06/10 07:27:30.000000000,32,2,4,0,6,1,0,...,0,0,0,0,3,3,3,2024,6,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35995,SD2406100627290-395001-SD1,35995,2024/06/10 09:26:59.800,32,2,4,0,6,1,0,...,0,0,0,0,3,3,3,2024,6,10
35996,SD2406100627290-395001-SD1,35996,2024/06/10 09:27:00.000000000,32,2,4,0,6,1,0,...,0,0,0,0,3,3,3,2024,6,10
35997,SD2406100627290-395001-SD1,35997,2024/06/10 09:27:00.200,32,2,4,0,6,1,0,...,0,0,0,0,3,3,3,2024,6,10
35998,SD2406100627290-395001-SD1,35998,2024/06/10 09:27:00.400,32,2,4,0,6,1,0,...,0,0,0,0,3,3,3,2024,6,10
35999,SD2406100627290-395001-SD1,35999,2024/06/10 09:27:00.600,32,2,4,0,6,1,0,...,0,0,0,0,3,3,3,2024,6,10

In [158]:
real_time = real_time.explode("parse_frozen_time")
real_time

,unit_no,signal_code,time,frozen_times,int_value,numeric_value,string_value,times,timestamp_value,parse_frozen_time
0,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,2024-06-10 08:29:55.400,"[2024-06-10 08:29:55, 2024-06-10 08:29:55, 202...",0,NaN,NaN,NaN,NaN,2024-06-10 08:29:55.400
0,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,2024-06-10 08:29:55.400,"[2024-06-10 08:29:55, 2024-06-10 08:29:55, 202...",0,NaN,NaN,NaN,NaN,2024-06-10 08:29:55.600
0,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,2024-06-10 08:29:55.400,"[2024-06-10 08:29:55, 2024-06-10 08:29:55, 202...",0,NaN,NaN,NaN,NaN,2024-06-10 08:29:55.800
0,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,2024-06-10 08:29:55.400,"[2024-06-10 08:29:55, 2024-06-10 08:29:55, 202...",0,NaN,NaN,NaN,NaN,2024-06-10 08:29:56.000
0,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,2024-06-10 08:29:55.400,"[2024-06-10 08:29:55, 2024-06-10 08:29:55, 202...",0,NaN,NaN,NaN,NaN,2024-06-10 08:29:56.200
...,...,...,...,...,...,...,...,...,...,...
664,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,2024-06-10 07:32:52.000,"[2024-06-10 07:32:52, 2024-06-10 07:32:52, 202...",0,NaN,NaN,NaN,NaN,2024-06-10 07:32:55.400
664,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,2024-06-10 07:32:52.000,"[2024-06-10 07:32:52, 2024-06-10 07:32:52, 202...",0,NaN,NaN,NaN,NaN,2024-06-10 07:32:55.600
664,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,2024-06-10 07:32:52.000,"[2024-06-10 07:32:52, 2024-06-10 07:32:52, 202...",0,NaN,NaN,NaN,NaN,2024-06-10 07:32:55.800
664,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,2024-06-10 07:32:52.000,"[2024-06-10 07:32:52, 2024-06-10 07:32:52, 202...",0,NaN,NaN,NaN,NaN,2024-06-10 07:32:56.000
664,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,2024-06-10 07:32:52.000,"[2024-06-10 07:32:52, 2024-06-10 07:32:52, 202...",0,NaN,NaN,NaN,NaN,2024-06-10 07:32:56.200

In [159]:
real_time = real_time.drop(columns=['time']) 
real_time

,unit_no,signal_code,frozen_times,int_value,numeric_value,string_value,times,timestamp_value,parse_frozen_time
0,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 08:29:55, 2024-06-10 08:29:55, 202...",0,NaN,NaN,NaN,NaN,2024-06-10 08:29:55.400
0,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 08:29:55, 2024-06-10 08:29:55, 202...",0,NaN,NaN,NaN,NaN,2024-06-10 08:29:55.600
0,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 08:29:55, 2024-06-10 08:29:55, 202...",0,NaN,NaN,NaN,NaN,2024-06-10 08:29:55.800
0,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 08:29:55, 2024-06-10 08:29:55, 202...",0,NaN,NaN,NaN,NaN,2024-06-10 08:29:56.000
0,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 08:29:55, 2024-06-10 08:29:55, 202...",0,NaN,NaN,NaN,NaN,2024-06-10 08:29:56.200
...,...,...,...,...,...,...,...,...,...
664,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 07:32:52, 2024-06-10 07:32:52, 202...",0,NaN,NaN,NaN,NaN,2024-06-10 07:32:55.400
664,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 07:32:52, 2024-06-10 07:32:52, 202...",0,NaN,NaN,NaN,NaN,2024-06-10 07:32:55.600
664,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 07:32:52, 2024-06-10 07:32:52, 202...",0,NaN,NaN,NaN,NaN,2024-06-10 07:32:55.800
664,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 07:32:52, 2024-06-10 07:32:52, 202...",0,NaN,NaN,NaN,NaN,2024-06-10 07:32:56.000
664,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 07:32:52, 2024-06-10 07:32:52, 202...",0,NaN,NaN,NaN,NaN,2024-06-10 07:32:56.200

In [160]:
real_time = real_time.sort_values(by=['parse_frozen_time'])
real_time

,unit_no,signal_code,frozen_times,int_value,numeric_value,string_value,times,timestamp_value,parse_frozen_time
664,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 07:32:52, 2024-06-10 07:32:52, 202...",0,NaN,NaN,NaN,NaN,2024-06-10 07:32:52.000
664,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 07:32:52, 2024-06-10 07:32:52, 202...",0,NaN,NaN,NaN,NaN,2024-06-10 07:32:52.200
664,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 07:32:52, 2024-06-10 07:32:52, 202...",0,NaN,NaN,NaN,NaN,2024-06-10 07:32:52.400
664,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 07:32:52, 2024-06-10 07:32:52, 202...",0,NaN,NaN,NaN,NaN,2024-06-10 07:32:53.000
664,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 07:32:52, 2024-06-10 07:32:52, 202...",0,NaN,NaN,NaN,NaN,2024-06-10 07:32:53.200
...,...,...,...,...,...,...,...,...,...
0,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 08:29:55, 2024-06-10 08:29:55, 202...",0,NaN,NaN,NaN,NaN,2024-06-10 08:29:59.400
0,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 08:29:55, 2024-06-10 08:29:55, 202...",0,NaN,NaN,NaN,NaN,2024-06-10 08:29:59.600
0,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 08:29:55, 2024-06-10 08:29:55, 202...",0,NaN,NaN,NaN,NaN,2024-06-10 08:29:59.800
0,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 08:29:55, 2024-06-10 08:29:55, 202...",0,NaN,NaN,NaN,NaN,2024-06-10 08:30:00.000
0,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 08:29:55, 2024-06-10 08:29:55, 202...",0,NaN,NaN,NaN,NaN,2024-06-10 08:30:00.200

In [161]:
batch = batch[["filename" , "pentahocounter" ,"calendar_timestamp" ,f"{signal_need_to_compare}"]]
batch

,filename,pentahocounter,calendar_timestamp,sd1_v0_eventrecord_carnumber_tmscarnumber
0,SD2406100627290-395001-SD1,0,2024/06/10 07:27:29.000000000,0
1,SD2406100627290-395001-SD1,1,2024/06/10 07:27:29.200,0
2,SD2406100627290-395001-SD1,2,2024/06/10 07:27:29.400,0
3,SD2406100627290-395001-SD1,3,2024/06/10 07:27:29.600,0
4,SD2406100627290-395001-SD1,4,2024/06/10 07:27:30.000000000,0
...,...,...,...,...
35995,SD2406100627290-395001-SD1,35995,2024/06/10 09:26:59.800,0
35996,SD2406100627290-395001-SD1,35996,2024/06/10 09:27:00.000000000,0
35997,SD2406100627290-395001-SD1,35997,2024/06/10 09:27:00.200,0
35998,SD2406100627290-395001-SD1,35998,2024/06/10 09:27:00.400,0
35999,SD2406100627290-395001-SD1,35999,2024/06/10 09:27:00.600,0

In [162]:
batch["calendar_timestamp"] = pd.to_datetime(batch["calendar_timestamp"])

C:\Users\khangnguyen1\AppData\Local\Temp\ipykernel_23328\2972911169.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  batch["calendar_timestamp"] = pd.to_datetime(batch["calendar_timestamp"])

In [163]:
batch = batch[(batch["calendar_timestamp"] >= '2024-06-10 07:32:52.000') &  (batch["calendar_timestamp"] <= '2024-06-10 08:30:00.200')]
batch

,filename,pentahocounter,calendar_timestamp,sd1_v0_eventrecord_carnumber_tmscarnumber
1621,SD2406100627290-395001-SD1,1621,2024-06-10 07:32:52.000,0
1622,SD2406100627290-395001-SD1,1622,2024-06-10 07:32:52.200,0
1623,SD2406100627290-395001-SD1,1623,2024-06-10 07:32:52.400,0
1624,SD2406100627290-395001-SD1,1624,2024-06-10 07:32:52.600,0
1625,SD2406100627290-395001-SD1,1625,2024-06-10 07:32:52.800,0
...,...,...,...,...
18829,SD2406100627290-395001-SD1,18829,2024-06-10 08:29:59.400,0
18830,SD2406100627290-395001-SD1,18830,2024-06-10 08:29:59.600,0
18831,SD2406100627290-395001-SD1,18831,2024-06-10 08:29:59.800,0
18832,SD2406100627290-395001-SD1,18832,2024-06-10 08:30:00.000,0
18833,SD2406100627290-395001-SD1,18833,2024-06-10 08:30:00.200,0

In [164]:
signal_value_type = ""
list_signal_Type = ["int_value" , "numeric_value" , "string_value" , "times" , "timestamp_value"]
if str(real_time.head(1)["int_value"].values[0]) != "nan":
    signal_value_type = "int_value"
elif str(real_time.head(1)["numeric_value"].values[0]) != "nan":
    signal_value_type = "numeric_value"
elif str(real_time.head(1)["string_value"].values[0]) != "nan":
    signal_value_type = "string_value"
elif str(real_time.head(1)["times"].values[0]) != "nan":
    signal_value_type = "times"
else : 
    signal_value_type = "timestamp_value"
list_signal_Type = [i for i in list_signal_Type if i != signal_value_type]
list_signal_Type

['numeric_value', 'string_value', 'times', 'timestamp_value']

In [165]:
real_time = real_time.drop(columns=list_signal_Type)
real_time

,unit_no,signal_code,frozen_times,int_value,parse_frozen_time
664,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 07:32:52, 2024-06-10 07:32:52, 202...",0,2024-06-10 07:32:52.000
664,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 07:32:52, 2024-06-10 07:32:52, 202...",0,2024-06-10 07:32:52.200
664,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 07:32:52, 2024-06-10 07:32:52, 202...",0,2024-06-10 07:32:52.400
664,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 07:32:52, 2024-06-10 07:32:52, 202...",0,2024-06-10 07:32:53.000
664,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 07:32:52, 2024-06-10 07:32:52, 202...",0,2024-06-10 07:32:53.200
...,...,...,...,...,...
0,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 08:29:55, 2024-06-10 08:29:55, 202...",0,2024-06-10 08:29:59.400
0,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 08:29:55, 2024-06-10 08:29:55, 202...",0,2024-06-10 08:29:59.600
0,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 08:29:55, 2024-06-10 08:29:55, 202...",0,2024-06-10 08:29:59.800
0,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 08:29:55, 2024-06-10 08:29:55, 202...",0,2024-06-10 08:30:00.000
0,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 08:29:55, 2024-06-10 08:29:55, 202...",0,2024-06-10 08:30:00.200

In [166]:
real_time

,unit_no,signal_code,frozen_times,int_value,parse_frozen_time
664,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 07:32:52, 2024-06-10 07:32:52, 202...",0,2024-06-10 07:32:52.000
664,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 07:32:52, 2024-06-10 07:32:52, 202...",0,2024-06-10 07:32:52.200
664,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 07:32:52, 2024-06-10 07:32:52, 202...",0,2024-06-10 07:32:52.400
664,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 07:32:52, 2024-06-10 07:32:52, 202...",0,2024-06-10 07:32:53.000
664,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 07:32:52, 2024-06-10 07:32:52, 202...",0,2024-06-10 07:32:53.200
...,...,...,...,...,...
0,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 08:29:55, 2024-06-10 08:29:55, 202...",0,2024-06-10 08:29:59.400
0,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 08:29:55, 2024-06-10 08:29:55, 202...",0,2024-06-10 08:29:59.600
0,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 08:29:55, 2024-06-10 08:29:55, 202...",0,2024-06-10 08:29:59.800
0,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 08:29:55, 2024-06-10 08:29:55, 202...",0,2024-06-10 08:30:00.000
0,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 08:29:55, 2024-06-10 08:29:55, 202...",0,2024-06-10 08:30:00.200

In [167]:
real_time["parse_frozen_time"] = pd.to_datetime(real_time["parse_frozen_time"])
real_time

,unit_no,signal_code,frozen_times,int_value,parse_frozen_time
664,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 07:32:52, 2024-06-10 07:32:52, 202...",0,2024-06-10 07:32:52.000
664,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 07:32:52, 2024-06-10 07:32:52, 202...",0,2024-06-10 07:32:52.200
664,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 07:32:52, 2024-06-10 07:32:52, 202...",0,2024-06-10 07:32:52.400
664,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 07:32:52, 2024-06-10 07:32:52, 202...",0,2024-06-10 07:32:53.000
664,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 07:32:52, 2024-06-10 07:32:52, 202...",0,2024-06-10 07:32:53.200
...,...,...,...,...,...
0,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 08:29:55, 2024-06-10 08:29:55, 202...",0,2024-06-10 08:29:59.400
0,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 08:29:55, 2024-06-10 08:29:55, 202...",0,2024-06-10 08:29:59.600
0,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 08:29:55, 2024-06-10 08:29:55, 202...",0,2024-06-10 08:29:59.800
0,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 08:29:55, 2024-06-10 08:29:55, 202...",0,2024-06-10 08:30:00.000
0,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 08:29:55, 2024-06-10 08:29:55, 202...",0,2024-06-10 08:30:00.200

In [168]:
real_time.columns = ["unit_no" ,"signal_code","frozen_times","numeric_value" , "calendar_timestamp"]
real_time

,unit_no,signal_code,frozen_times,numeric_value,calendar_timestamp
664,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 07:32:52, 2024-06-10 07:32:52, 202...",0,2024-06-10 07:32:52.000
664,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 07:32:52, 2024-06-10 07:32:52, 202...",0,2024-06-10 07:32:52.200
664,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 07:32:52, 2024-06-10 07:32:52, 202...",0,2024-06-10 07:32:52.400
664,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 07:32:52, 2024-06-10 07:32:52, 202...",0,2024-06-10 07:32:53.000
664,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 07:32:52, 2024-06-10 07:32:52, 202...",0,2024-06-10 07:32:53.200
...,...,...,...,...,...
0,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 08:29:55, 2024-06-10 08:29:55, 202...",0,2024-06-10 08:29:59.400
0,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 08:29:55, 2024-06-10 08:29:55, 202...",0,2024-06-10 08:29:59.600
0,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 08:29:55, 2024-06-10 08:29:55, 202...",0,2024-06-10 08:29:59.800
0,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 08:29:55, 2024-06-10 08:29:55, 202...",0,2024-06-10 08:30:00.000
0,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 08:29:55, 2024-06-10 08:29:55, 202...",0,2024-06-10 08:30:00.200

In [169]:
real_time.reset_index(inplace = True,drop=True)
# real_time = real_time.drop(columns = ["index"])
real_time

,unit_no,signal_code,frozen_times,numeric_value,calendar_timestamp
0,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 07:32:52, 2024-06-10 07:32:52, 202...",0,2024-06-10 07:32:52.000
1,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 07:32:52, 2024-06-10 07:32:52, 202...",0,2024-06-10 07:32:52.200
2,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 07:32:52, 2024-06-10 07:32:52, 202...",0,2024-06-10 07:32:52.400
3,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 07:32:52, 2024-06-10 07:32:52, 202...",0,2024-06-10 07:32:53.000
4,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 07:32:52, 2024-06-10 07:32:52, 202...",0,2024-06-10 07:32:53.200
...,...,...,...,...,...
14980,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 08:29:55, 2024-06-10 08:29:55, 202...",0,2024-06-10 08:29:59.400
14981,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 08:29:55, 2024-06-10 08:29:55, 202...",0,2024-06-10 08:29:59.600
14982,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 08:29:55, 2024-06-10 08:29:55, 202...",0,2024-06-10 08:29:59.800
14983,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 08:29:55, 2024-06-10 08:29:55, 202...",0,2024-06-10 08:30:00.000
14984,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 08:29:55, 2024-06-10 08:29:55, 202...",0,2024-06-10 08:30:00.200

In [170]:
real_time_clean = []
for it in range(len(real_time)):
    if "1" not in str(real_time.iloc[it , 4].microsecond):
            real_time_clean.append(real_time.iloc[it])

In [171]:
real_time_clean = pd.DataFrame(real_time_clean)
real_time_clean

,unit_no,signal_code,frozen_times,numeric_value,calendar_timestamp
0,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 07:32:52, 2024-06-10 07:32:52, 202...",0,2024-06-10 07:32:52.000
1,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 07:32:52, 2024-06-10 07:32:52, 202...",0,2024-06-10 07:32:52.200
2,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 07:32:52, 2024-06-10 07:32:52, 202...",0,2024-06-10 07:32:52.400
3,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 07:32:52, 2024-06-10 07:32:52, 202...",0,2024-06-10 07:32:53.000
4,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 07:32:52, 2024-06-10 07:32:52, 202...",0,2024-06-10 07:32:53.200
...,...,...,...,...,...
14980,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 08:29:55, 2024-06-10 08:29:55, 202...",0,2024-06-10 08:29:59.400
14981,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 08:29:55, 2024-06-10 08:29:55, 202...",0,2024-06-10 08:29:59.600
14982,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 08:29:55, 2024-06-10 08:29:55, 202...",0,2024-06-10 08:29:59.800
14983,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 08:29:55, 2024-06-10 08:29:55, 202...",0,2024-06-10 08:30:00.000
14984,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 08:29:55, 2024-06-10 08:29:55, 202...",0,2024-06-10 08:30:00.200

In [172]:
compare = real_time_clean.merge(batch ,how = 'left' , on =['calendar_timestamp'])
compare

,unit_no,signal_code,frozen_times,numeric_value,calendar_timestamp,filename,pentahocounter,sd1_v0_eventrecord_carnumber_tmscarnumber
0,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 07:32:52, 2024-06-10 07:32:52, 202...",0,2024-06-10 07:32:52.000,SD2406100627290-395001-SD1,1621.0,0.0
1,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 07:32:52, 2024-06-10 07:32:52, 202...",0,2024-06-10 07:32:52.200,SD2406100627290-395001-SD1,1622.0,0.0
2,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 07:32:52, 2024-06-10 07:32:52, 202...",0,2024-06-10 07:32:52.400,SD2406100627290-395001-SD1,1623.0,0.0
3,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 07:32:52, 2024-06-10 07:32:52, 202...",0,2024-06-10 07:32:53.000,SD2406100627290-395001-SD1,1626.0,0.0
4,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 07:32:52, 2024-06-10 07:32:52, 202...",0,2024-06-10 07:32:53.200,SD2406100627290-395001-SD1,1627.0,0.0
...,...,...,...,...,...,...,...,...
14881,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 08:29:55, 2024-06-10 08:29:55, 202...",0,2024-06-10 08:29:59.400,SD2406100627290-395001-SD1,18829.0,0.0
14882,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 08:29:55, 2024-06-10 08:29:55, 202...",0,2024-06-10 08:29:59.600,SD2406100627290-395001-SD1,18830.0,0.0
14883,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 08:29:55, 2024-06-10 08:29:55, 202...",0,2024-06-10 08:29:59.800,SD2406100627290-395001-SD1,18831.0,0.0
14884,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 08:29:55, 2024-06-10 08:29:55, 202...",0,2024-06-10 08:30:00.000,SD2406100627290-395001-SD1,18832.0,0.0
14885,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 08:29:55, 2024-06-10 08:29:55, 202...",0,2024-06-10 08:30:00.200,SD2406100627290-395001-SD1,18833.0,0.0

In [173]:
compare[compare[f"{signal_need_to_compare}"].isna()]

,unit_no,signal_code,frozen_times,numeric_value,calendar_timestamp,filename,pentahocounter,sd1_v0_eventrecord_carnumber_tmscarnumber
2543,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 07:43:21, 2024-06-10 07:43:21, 202...",0,2024-06-10 07:43:21.800,NaN,NaN,NaN
5454,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 07:57:16, 2024-06-10 07:57:17, 202...",0,2024-06-10 07:57:16.800,NaN,NaN,NaN
5504,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 07:57:26, 2024-06-10 07:57:26, 202...",0,2024-06-10 07:57:26.800,NaN,NaN,NaN
8480,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 08:08:25, 2024-06-10 08:08:25, 202...",0,2024-06-10 08:08:29.800,NaN,NaN,NaN
9054,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 08:10:25, 2024-06-10 08:10:25, 202...",0,2024-06-10 08:10:25.800,NaN,NaN,NaN
10049,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 08:13:45, 2024-06-10 08:13:45, 202...",0,2024-06-10 08:13:44.905,NaN,NaN,NaN
11547,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 08:18:50, 2024-06-10 08:18:51, 202...",0,2024-06-10 08:18:50.800,NaN,NaN,NaN
12561,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 08:22:10, 2024-06-10 08:22:11, 202...",0,2024-06-10 08:22:13.800,NaN,NaN,NaN
14618,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 08:29:05, 2024-06-10 08:29:05, 202...",0,2024-06-10 08:29:06.800,NaN,NaN,NaN

In [174]:
list_result = []  
for e in range(len(compare)):
    if signal_value_type == "int_value" or signal_value_type == "numeric_value" : 
        if float(compare.iloc[e , 3]) != float(compare.iloc[e , 7]):
                list_result.append(compare.iloc[e])
    else:
        if str(compare.iloc[e , 3]) != str(compare.iloc[e , 7]):
                list_result.append(compare.iloc[e])
list_result

[unit_no                                                                                 395001
 signal_code                                          sd1_v0_eventrecord_carnumber_tmscarnumber
 frozen_times                                 [2024-06-10 07:37:27, 2024-06-10 07:37:27, 202...
 numeric_value                                                                                0
 calendar_timestamp                                                         2024-06-10 07:37:31
 filename                                                            SD2406100627290-395001-SD1
 pentahocounter                                                                          3022.0
 sd1_v0_eventrecord_carnumber_tmscarnumber                                                  1.0
 Name: 798, dtype: object,
 unit_no                                                                                 395001
 signal_code                                          sd1_v0_eventrecord_carnumber_tmscarnumber
 frozen_times                                 [2024-06-10 07:38:07, 2024-06-10 07:38:07, 202...
 numeric_value                                                                                0
 calendar_timestamp                                                  2024-06-10 07:38:10.200000
 filename                                                            SD2406100627290-395001-SD1
 pentahocounter                                                                          3219.0
 sd1_v0_eventrecord_carnumber_tmscarnumber                                                  1.0
 Name: 994, dtype: object,
 unit_no                                                                         395001
 signal_code                                  sd1_v0_eventrecord_carnumber_tmscarnumber
 frozen_times                                                                        []
 numeric_value                                                                        6
 calendar_timestamp                                          2024-06-10 07:38:26.400000
 filename                                                    SD2406100627290-395001-SD1
 pentahocounter                                                                  3300.0
 sd1_v0_eventrecord_carnumber_tmscarnumber                                          0.0
 Name: 1075, dtype: object,
 unit_no                                                                         395001
 signal_code                                  sd1_v0_eventrecord_carnumber_tmscarnumber
 frozen_times                                                                        []
 numeric_value                                                                        6
 calendar_timestamp                                          2024-06-10 07:38:28.800000
 filename                                                    SD2406100627290-395001-SD1
 pentahocounter                                                                  3312.0
 sd1_v0_eventrecord_carnumber_tmscarnumber                                          0.0
 Name: 1087, dtype: object,
 unit_no                                                                         395001
 signal_code                                  sd1_v0_eventrecord_carnumber_tmscarnumber
 frozen_times                                                                        []
 numeric_value                                                                        1
 calendar_timestamp                                                 2024-06-10 07:40:18
 filename                                                    SD2406100627290-395001-SD1
 pentahocounter                                                                  3860.0
 sd1_v0_eventrecord_carnumber_tmscarnumber                                          0.0
 Name: 1633, dtype: object,
 unit_no                                                                         395001
 signal_code                                  sd1_v0_eventrecord_carnumber_tmscarnumber
 frozen_times                                                                        []
 numeric_value                                                                        1
 calendar_timestamp                                          2024-06-10 07:40:57.200000
 filename                                                    SD2406100627290-395001-SD1
 pentahocounter                                                                  4057.0
 sd1_v0_eventrecord_carnumber_tmscarnumber                                          0.0
 Name: 1829, dtype: object,
 unit_no                                                                                 395001
 signal_code                                          sd1_v0_eventrecord_carnumber_tmscarnumber
 frozen_times                                 [2024-06-10 07:43:21, 2024-06-10 07:43:21, 202...
 numeric_value                                                                                0
 calendar_timestamp                                                  2024-06-10 07:43:21.800000
 filename                                                                                   NaN
 pentahocounter                                                                             NaN
 sd1_v0_eventrecord_carnumber_tmscarnumber                                                  NaN
 Name: 2543, dtype: object,
 unit_no                                                                                 395001
 signal_code                                          sd1_v0_eventrecord_carnumber_tmscarnumber
 frozen_times                                 [2024-06-10 07:48:56, 2024-06-10 07:48:56, 202...
 numeric_value                                                                                0
 calendar_timestamp                                                  2024-06-10 07:48:57.600000
 filename                                                            SD2406100627290-395001-SD1
 pentahocounter                                                                          6470.0
 sd1_v0_eventrecord_carnumber_tmscarnumber                                                  1.0
 Name: 4222, dtype: object,
 unit_no                                                                                 395001
 signal_code                                          sd1_v0_eventrecord_carnumber_tmscarnumber
 frozen_times                                 [2024-06-10 07:49:36, 2024-06-10 07:49:36, 202...
 numeric_value                                                                                0
 calendar_timestamp                                                  2024-06-10 07:49:37.200000
 filename                                                            SD2406100627290-395001-SD1
 pentahocounter                                                                          6669.0
 sd1_v0_eventrecord_carnumber_tmscarnumber                                                  1.0
 Name: 4420, dtype: object,
 unit_no                                                                         395001
 signal_code                                  sd1_v0_eventrecord_carnumber_tmscarnumber
 frozen_times                                                                        []
 numeric_value                                                                        1
 calendar_timestamp                                          2024-06-10 07:51:44.800000
 filename                                                    SD2406100627290-395001-SD1
 pentahocounter                                                                  7309.0
 sd1_v0_eventrecord_carnumber_tmscarnumber                                          0.0
 Name: 5051, dtype: object,
 unit_no                                                                                 395001
 signal_code                                          sd1_v0_eventrecord_carnumber_tmscarnumber
 frozen_times                                 [2024-06-10 07:57:16, 2024-06-10 07:57:17, 202...
 numeric_value                                                                                0
 calendar_timestamp                                                  2024-06-10 07:57:16.800000
 filename                                                                                   NaN
 pentahocounter                                                                             NaN
 sd1_v0_eventrecord_carnumber_tmscarnumber                                                  NaN
 Name: 5454, dtype: object,
 unit_no                                                                                 395001
 signal_code                                          sd1_v0_eventrecord_carnumber_tmscarnumber
 frozen_times                                 [2024-06-10 07:57:26, 2024-06-10 07:57:26, 202...
 numeric_value                                                                                0
 calendar_timestamp                                                  2024-06-10 07:57:26.800000
 filename                                                                                   NaN
 pentahocounter                                                                             NaN
 sd1_v0_eventrecord_carnumber_tmscarnumber                                                  NaN
 Name: 5504, dtype: object,
 unit_no                                                                                 395001
 signal_code                                          sd1_v0_eventrecord_carnumber_tmscarnumber
 frozen_times                                 [2024-06-10 07:59:51, 2024-06-10 07:59:52, 202...
 numeric_value                                                                                0
 calendar_timestamp                                                  2024-06-10 07:59:56.200000
 filename                                                            SD2406100627290-395001-SD1
 pentahocounter                                                                          9777.0
 sd1_v0_eventrecord_carnumber_tmscarnumber                                                  1.0
 Name: 6236, dtype: object,
 unit_no                                                                                 395001
 signal_code                                          sd1_v0_eventrecord_carnumber_tmscarnumber
 frozen_times                                 [2024-06-10 07:59:56, 2024-06-10 07:59:57, 202...
 numeric_value                                                                                0
 calendar_timestamp                                                  2024-06-10 07:59:56.600000
 filename                                                            SD2406100627290-395001-SD1
 pentahocounter                                                                          9779.0
 sd1_v0_eventrecord_carnumber_tmscarnumber                                                  1.0
 Name: 6238, dtype: object,
 unit_no                                                                                 395001
 signal_code                                          sd1_v0_eventrecord_carnumber_tmscarnumber
 frozen_times                                 [2024-06-10 07:59:56, 2024-06-10 07:59:57, 202...
 numeric_value                                                                                0
 calendar_timestamp                                                  2024-06-10 07:59:58.400000
 filename                                                            SD2406100627290-395001-SD1
 pentahocounter                                                                          9788.0
 sd1_v0_eventrecord_carnumber_tmscarnumber                                                  1.0
 Name: 6247, dtype: object,
 unit_no                                                                                 395001
 signal_code                                          sd1_v0_eventrecord_carnumber_tmscarnumber
 frozen_times                                 [2024-06-10 07:59:56, 2024-06-10 07:59:57, 202...
 numeric_value                                                                                0
 calendar_timestamp                                                         2024-06-10 07:59:59
 filename                                                            SD2406100627290-395001-SD1
 pentahocounter                                                                          9791.0
 sd1_v0_eventrecord_carnumber_tmscarnumber                                                  1.0
 Name: 6250, dtype: object,
 unit_no                                                                                 395001
 signal_code                                          sd1_v0_eventrecord_carnumber_tmscarnumber
 frozen_times                                 [2024-06-10 08:00:20, 2024-06-10 08:00:21, 202...
 numeric_value                                                                                0
 calendar_timestamp                                                  2024-06-10 08:00:24.400000
 filename                                                            SD2406100627290-395001-SD1
 pentahocounter                                                                          9919.0
 sd1_v0_eventrecord_carnumber_tmscarnumber                                                  1.0
 Name: 6378, dtype: object,
 unit_no                                                                                 395001
 signal_code                                          sd1_v0_eventrecord_carnumber_tmscarnumber
 frozen_times                                 [2024-06-10 08:01:00, 2024-06-10 08:01:01, 202...
 numeric_value                                                                                0
 calendar_timestamp                                                         2024-06-10 08:01:04
 filename                                                            SD2406100627290-395001-SD1
 pentahocounter                                                                         10117.0
 sd1_v0_eventrecord_carnumber_tmscarnumber                                                  1.0
 Name: 6576, dtype: object,
 unit_no                                                                         395001
 signal_code                                  sd1_v0_eventrecord_carnumber_tmscarnumber
 frozen_times                                                                        []
 numeric_value                                                                        1
 calendar_timestamp                                          2024-06-10 08:03:10.400000
 filename                                                    SD2406100627290-395001-SD1
 pentahocounter                                                                 10752.0
 sd1_v0_eventrecord_carnumber_tmscarnumber                                          0.0
 Name: 7207, dtype: object,
 unit_no                                                                         395001
 signal_code                                  sd1_v0_eventrecord_carnumber_tmscarnumber
 frozen_times                                                                        []
 numeric_value                                                                        1
 calendar_timestamp                                                 2024-06-10 08:03:50
 filename                                                    SD2406100627290-395001-SD1
 pentahocounter                                                                 10951.0
 sd1_v0_eventrecord_carnumber_tmscarnumber                                          0.0
 Name: 7405, dtype: object,
 unit_no                                                                                 395001
 signal_code                                          sd1_v0_eventrecord_carnumber_tmscarnumber
 frozen_times                                 [2024-06-10 08:08:25, 2024-06-10 08:08:25, 202...
 numeric_value                                                                                0
 calendar_timestamp                                                  2024-06-10 08:08:29.800000
 filename                                                                                   NaN
 pentahocounter                                                                             NaN
 sd1_v0_eventrecord_carnumber_tmscarnumber                                                  NaN
 Name: 8480, dtype: object,
 unit_no                                                                         395001
 signal_code                                  sd1_v0_eventrecord_carnumber_tmscarnumber
 frozen_times                                                                        []
 numeric_value                                                                        1
 calendar_timestamp                                          2024-06-10 08:08:44.400000
 filename                                                    SD2406100627290-395001-SD1
 pentahocounter                                                                 12428.0
 sd1_v0_eventrecord_carnumber_tmscarnumber                                          0.0
 Name: 8553, dtype: object,
 unit_no                                                                                 395001
 signal_code                                          sd1_v0_eventrecord_carnumber_tmscarnumber
 frozen_times                                 [2024-06-10 08:08:44, 2024-06-10 08:08:45, 202...
 numeric_value                                                                                0
 calendar_timestamp                                                         2024-06-10 08:08:45
 filename                                                            SD2406100627290-395001-SD1
 pentahocounter                                                                         12431.0
 sd1_v0_eventrecord_carnumber_tmscarnumber                                                  1.0
 Name: 8556, dtype: object,
 unit_no                                                                         395001
 signal_code                                  sd1_v0_eventrecord_carnumber_tmscarnumber
 frozen_times                                                                        []
 numeric_value                                                                        1
 calendar_timestamp                                          2024-06-10 08:08:54.600000
 filename                                                    SD2406100627290-395001-SD1
 pentahocounter                                                                 12479.0
 sd1_v0_eventrecord_carnumber_tmscarnumber                                          0.0
 Name: 8604, dtype: object,
 unit_no                                                                          395001
 signal_code                                   sd1_v0_eventrecord_carnumber_tmscarnumber
 frozen_times                                 [2024-06-10 08:08:55, 2024-06-10 08:08:55]
 numeric_value                                                                         0
 calendar_timestamp                                           2024-06-10 08:08:55.200000
 filename                                                     SD2406100627290-395001-SD1
 pentahocounter                                                                  12482.0
 sd1_v0_eventrecord_carnumber_tmscarnumber                                           1.0
 Name: 8607, dtype: object,
 unit_no                                                                                 395001
 signal_code                                          sd1_v0_eventrecord_carnumber_tmscarnumber
 frozen_times                                 [2024-06-10 08:10:25, 2024-06-10 08:10:25, 202...
 numeric_value                                                                                0
 calendar_timestamp                                                  2024-06-10 08:10:25.800000
 filename                                                                                   NaN
 pentahocounter                                                                             NaN

In [175]:
result = pd.DataFrame(list_result)
result.columns = ["unit_no" , "signal_code" , "frozen_times" , "realtime_value" , "calendar_timestamp" , "filename" , "pentahocounter" , "batch_value"]
result

,unit_no,signal_code,frozen_times,realtime_value,calendar_timestamp,filename,pentahocounter,batch_value
798,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 07:37:27, 2024-06-10 07:37:27, 202...",0,2024-06-10 07:37:31.000,SD2406100627290-395001-SD1,3022.0,1.0
994,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 07:38:07, 2024-06-10 07:38:07, 202...",0,2024-06-10 07:38:10.200,SD2406100627290-395001-SD1,3219.0,1.0
1075,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,[],6,2024-06-10 07:38:26.400,SD2406100627290-395001-SD1,3300.0,0.0
1087,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,[],6,2024-06-10 07:38:28.800,SD2406100627290-395001-SD1,3312.0,0.0
1633,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,[],1,2024-06-10 07:40:18.000,SD2406100627290-395001-SD1,3860.0,0.0
1829,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,[],1,2024-06-10 07:40:57.200,SD2406100627290-395001-SD1,4057.0,0.0
2543,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 07:43:21, 2024-06-10 07:43:21, 202...",0,2024-06-10 07:43:21.800,NaN,NaN,NaN
4222,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 07:48:56, 2024-06-10 07:48:56, 202...",0,2024-06-10 07:48:57.600,SD2406100627290-395001-SD1,6470.0,1.0
4420,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 07:49:36, 2024-06-10 07:49:36, 202...",0,2024-06-10 07:49:37.200,SD2406100627290-395001-SD1,6669.0,1.0
5051,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,[],1,2024-06-10 07:51:44.800,SD2406100627290-395001-SD1,7309.0,0.0
5454,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 07:57:16, 2024-06-10 07:57:17, 202...",0,2024-06-10 07:57:16.800,NaN,NaN,NaN
5504,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 07:57:26, 2024-06-10 07:57:26, 202...",0,2024-06-10 07:57:26.800,NaN,NaN,NaN
6236,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 07:59:51, 2024-06-10 07:59:52, 202...",0,2024-06-10 07:59:56.200,SD2406100627290-395001-SD1,9777.0,1.0
6238,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 07:59:56, 2024-06-10 07:59:57, 202...",0,2024-06-10 07:59:56.600,SD2406100627290-395001-SD1,9779.0,1.0
6247,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 07:59:56, 2024-06-10 07:59:57, 202...",0,2024-06-10 07:59:58.400,SD2406100627290-395001-SD1,9788.0,1.0
6250,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 07:59:56, 2024-06-10 07:59:57, 202...",0,2024-06-10 07:59:59.000,SD2406100627290-395001-SD1,9791.0,1.0
6378,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 08:00:20, 2024-06-10 08:00:21, 202...",0,2024-06-10 08:00:24.400,SD2406100627290-395001-SD1,9919.0,1.0
6576,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 08:01:00, 2024-06-10 08:01:01, 202...",0,2024-06-10 08:01:04.000,SD2406100627290-395001-SD1,10117.0,1.0
7207,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,[],1,2024-06-10 08:03:10.400,SD2406100627290-395001-SD1,10752.0,0.0
7405,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,[],1,2024-06-10 08:03:50.000,SD2406100627290-395001-SD1,10951.0,0.0
8480,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 08:08:25, 2024-06-10 08:08:25, 202...",0,2024-06-10 08:08:29.800,NaN,NaN,NaN
8553,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,[],1,2024-06-10 08:08:44.400,SD2406100627290-395001-SD1,12428.0,0.0
8556,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 08:08:44, 2024-06-10 08:08:45, 202...",0,2024-06-10 08:08:45.000,SD2406100627290-395001-SD1,12431.0,1.0
8604,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,[],1,2024-06-10 08:08:54.600,SD2406100627290-395001-SD1,12479.0,0.0
8607,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 08:08:55, 2024-06-10 08:08:55]",0,2024-06-10 08:08:55.200,SD2406100627290-395001-SD1,12482.0,1.0
9054,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 08:10:25, 2024-06-10 08:10:25, 202...",0,2024-06-10 08:10:25.800,NaN,NaN,NaN
9482,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 08:11:50, 2024-06-10 08:11:50, 202...",0,2024-06-10 08:11:51.400,SD2406100627290-395001-SD1,13367.0,1.0
9679,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 08:12:30, 2024-06-10 08:12:30, 202...",0,2024-06-10 08:12:30.800,SD2406100627290-395001-SD1,13565.0,1.0
10049,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 08:13:45, 2024-06-10 08:13:45, 202...",0,2024-06-10 08:13:44.905,NaN,NaN,NaN
10304,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,[],1,2024-06-10 08:14:37.000,SD2406100627290-395001-SD1,14198.0,0.0
10502,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,[],1,2024-06-10 08:15:16.600,SD2406100627290-395001-SD1,14397.0,0.0
10992,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,[],4,2024-06-10 08:16:59.600,SD2406100627290-395001-SD1,14914.0,0.0
10995,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,[],4,2024-06-10 08:17:00.200,SD2406100627290-395001-SD1,14917.0,0.0
11002,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,[],3,2024-06-10 08:17:01.600,SD2406100627290-395001-SD1,14924.0,0.0
11004,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,[],3,2024-06-10 08:17:02.000,SD2406100627290-395001-SD1,14926.0,0.0
11547,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 08:18:50, 2024-06-10 08:18:51, 202...",0,2024-06-10 08:18:50.800,NaN,NaN,NaN
12561,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 08:22:10, 2024-06-10 08:22:11, 202...",0,2024-06-10 08:22:13.800,NaN,NaN,NaN
12883,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 08:23:15, 2024-06-10 08:23:15, 202...",0,2024-06-10 08:23:18.200,SD2406100627290-395001-SD1,16815.0,1.0
13080,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 08:23:55, 2024-06-10 08:23:55, 202...",0,2024-06-10 08:23:57.800,SD2406100627290-395001-SD1,17014.0,1.0
13711,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,[],1,2024-06-10 08:26:04.200,SD2406100627290-395001-SD1,17650.0,0.0
13907,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,[],1,2024-06-10 08:26:43.400,SD2406100627290-395001-SD1,17846.0,0.0
14364,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,[],3,2024-06-10 08:28:15.800,SD2406100627290-395001-SD1,18310.0,0.0
14365,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,[2024-06-10 08:28:16],4,2024-06-10 08:28:16.000,SD2406100627290-395001-SD1,18311.0,0.0
14366,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,[2024-06-10 08:28:16],4,2024-06-10 08:28:16.200,SD2406100627290-395001-SD1,18312.0,0.0
14367,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,[2024-06-10 08:28:16],2,2024-06-10 08:28:16.400,SD2406100627290-395001-SD1,18313.0,0.0
14368,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,[2024-06-10 08:28:16],2,2024-06-10 08:28:16.600,SD2406100627290-395001-SD1,18314.0,0.0
14370,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,[],3,2024-06-10 08:28:17.000,SD2406100627290-395001-SD1,18316.0,0.0
14384,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,[],1,2024-06-10 08:28:19.800,SD2406100627290-395001-SD1,18330.0,0.0
14474,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,[],6,2024-06-10 08:28:38.000,SD2406100627290-395001-SD1,18422.0,0.0
14476,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,[2024-06-10 08:28:38],6,2024-06-10 08:28:38.400,SD2406100627290-395001-SD1,18424.0,0.0
14477,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,[2024-06-10 08:28:38],6,2024-06-10 08:28:38.600,SD2406100627290-395001-SD1,18425.0,0.0
14618,395001,sd1_v0_eventrecord_carnumber_tmscarnumber,"[2024-06-10 08:29:05, 2024-06-10 08:29:05, 202...",0,2024-06-10 08:29:06.800,NaN,NaN,NaN

In [176]:
summary = pd.DataFrame([[f'{signal_need_to_compare}' , len(result)]] , columns = ["signal_code" , "number_column_mismatch"])
summary

                                 signal_code  number_column_mismatch
0  sd1_v0_eventrecord_carnumber_tmscarnumber                      52

In [177]:
pd.concat([summary_compare_realtime, summary], ignore_index=True).to_csv("summary_compare_realtime.csv" , index = False)
pd.concat([detail_compare_realtime, result], ignore_index=True).to_csv("detail_compare_realtime.csv" , index = False)
if(len(summary) > 0 ):
    pd.read_csv("need_to_compare_realtime.csv").drop(0).to_csv("need_to_compare_realtime.csv" ,  index = False)

C:\Users\khangnguyen1\AppData\Local\Temp\ipykernel_23328\2316351057.py:2: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  pd.concat([detail_compare_realtime, result], ignore_index=True).to_csv("detail_compare_realtime.csv" , index = False)

In [143]:
# summary_compare_realtime

In [144]:
# detail_compare_realtime

In [145]:
# batch[batch["pentahocounter"] == 3218]

In [146]:
# batch[batch["calendar_timestamp"] >= "2024-06-10 08:29:05.800"].head(30)

In [147]:
# test = ['sd1_v0_counter','sd1_v0_eventrecord_carnumber_tmscarnumber','sd1_v0_eventrecord_carnumber_uniquecarnumber','sd1_v0_eventrecord_carnumber_unitnumber','sd1_v0_eventrecord_dateofeventoccurred_dayh','sd1_v0_eventrecord_dateofeventoccurred_dayl','sd1_v0_eventrecord_dateofeventoccurred_hourh','sd1_v0_eventrecord_dateofeventoccurred_hourl','sd1_v0_eventrecord_dateofeventoccurred_minuteh','sd1_v0_eventrecord_dateofeventoccurred_minutel','sd1_v0_eventrecord_dateofeventoccurred_monthh','sd1_v0_eventrecord_dateofeventoccurred_monthl','sd1_v0_eventrecord_dateofeventoccurred_secondh','sd1_v0_eventrecord_dateofeventoccurred_secondl','sd1_v0_eventrecord_dateofeventoccurred_yearh','sd1_v0_eventrecord_dateofeventoccurred_yearl','sd1_v0_eventrecord_decouplingcoupling','sd1_v0_eventrecord_failurecode','sd1_v0_eventrecord_gpslocation_directionoflatitude','sd1_v0_eventrecord_gpslocation_directionoflongitude','sd1_v0_eventrecord_gpslocation_latitudedegrees','sd1_v0_eventrecord_gpslocation_latitudeminutes','sd1_v0_eventrecord_gpslocation_longitudedegrees','sd1_v0_eventrecord_gpslocation_longitudeminutes','sd1_v0_eventrecord_notchinformaion_notch','sd1_v0_eventrecord_occurrencerecovering','sd1_v0_eventrecord_overheadlinevoltage_overheadlinevoltageac','sd1_v0_eventrecord_overheadlinevoltage_overheadlinevoltagedc','sd1_v0_eventrecord_runningsectioncode_nextstationcode','sd1_v0_eventrecord_runningsectioncode_relevantstationcode','sd1_v0_eventrecord_speed_speed','sd1_v0_eventrecord_trackmode_acctr','sd1_v0_eventrecord_trackmode_acnl','sd1_v0_eventrecord_trackmode_dcnl','sd1_v0_screendisplaydata_loginstatus_anotherunitdpt1loginstatus','sd1_v0_screendisplaydata_loginstatus_anotherunitdpt2loginstatus','sd1_v0_screendisplaydata_loginstatus_selfunitdpt1loginstatus','sd1_v0_screendisplaydata_loginstatus_selfunitdpt2loginstatus','sd1_v0_screendisplaydata_nextstationcode_nextstationcode','sd1_v0_screendisplaydata_unitstatus_couplingstatus','sd1_v0_statisticaldata_compressor_compoperatinghoursdpt1_operatinghours','sd1_v0_statisticaldata_compressor_compoperatinghoursdpt2_operatinghours','sd1_v0_statisticaldata_mileage_odometerrunningdistance','sd1_v0_unitnumber','sd1_v1_bcu_bcutransmission_analogdata7_bsrpressure','sd1_v1_bcu_bcutransmission_brakefault_bcumajorfault','sd1_v1_bcu_bcutransmission_brakefault_dumpvaluefault1','sd1_v1_bcu_bcutransmission_brakefault_dumpvaluefault2','sd1_v1_bcu_bcutransmission_brakefault_dumpvaluefault3','sd1_v1_bcu_bcutransmission_brakefault_dumpvaluefault4','sd1_v1_bcu_bcutransmission_brakefault_lockedaxle1','sd1_v1_bcu_bcutransmission_brakefault_lockedaxle2','sd1_v1_bcu_bcutransmission_brakefault_lockedaxle3','sd1_v1_bcu_bcutransmission_brakefault_lockedaxle4','sd1_v1_bcu_bcutransmission_brakefault_sandrequestrefused','sd1_v1_bcu_bcutransmission_brakefault_speedsensorfault1','sd1_v1_bcu_bcutransmission_brakefault_speedsensorfault2','sd1_v1_bcu_bcutransmission_brakefault_speedsensorfault3','sd1_v1_bcu_bcutransmission_brakefault_speedsensorfault4','sd1_v1_bcu_bcutransmission_brakefault_wspmajorfault','sd1_v1_bcu_bcutransmission_brakefault_wsptimeout1','sd1_v1_bcu_bcutransmission_brakefault_wsptimeout2','sd1_v1_bcu_bcutransmission_brakefault_wsptimeout3','sd1_v1_bcu_bcutransmission_brakefault_wsptimeout4','sd1_v1_bcu_bcutransmission_brakestatus_sanding','sd1_v1_bcu_bcutransmission_tmscarnumber_tmscarnumber','sd1_v1_dido_dido_fsdi_doorclosecommandleft','sd1_v1_dido_dido_fsdi_doorclosecommandright','sd1_v1_dido_dido_fsdi_dooropencommandleft','sd1_v1_dido_dido_fsdi_dooropencommandright','sd1_v1_dido_dido_fsdi_doorreleaseleft','sd1_v1_dido_dido_fsdi_doorreleaseright','sd1_v1_dido_dido_fsdi_forwardmodeline','sd1_v1_dido_dido_fsdi_reversemodeline','sd1_v1_dido_dido_fsdi_speedsignalmorethan25kmh','sd1_v1_dido_dido_fsdi_speedsignalmorethan5kmh','sd1_v1_dido_dido_monitoringdi110v_ddson','sd1_v1_dido_dido_monitoringdi110v_emergencypantographup','sd1_v1_dido_dido_monitoringdi110v_otmrfailure','sd1_v1_dido_dido_monitoringdi110v_pantographdownshoeupsw','sd1_v1_dido_dido_monitoringdi110v_pantographupshoedownsw','sd1_v1_dido_dido_monitoringdi110v_powersupplyforaxletemperaturedetectioncircuit','sd1_v1_dido_dido_monitoringdi110v_powersupplyforbrake','sd1_v1_dido_dido_monitoringdi110v_powersupplyfordriversdisplayunit','sd1_v1_dido_dido_monitoringdi110v_powersupplyforhvac','sd1_v1_dido_dido_monitoringdi110v_powersupplyforotmr','sd1_v1_dido_dido_monitoringdi110v_powersupplyforpis','sd1_v1_dido_dido_monitoringdi110v_speedindicatorfailure','sd1_v1_dido_dido_monitoringdi110v_uncouplingsw','sd1_v1_dido_dido_monitoringdi24v_acpowersupplyisovercurrentacocrstatus','sd1_v1_dido_dido_monitoringdi24v_airsuspensionpressuredown','sd1_v1_dido_dido_monitoringdi24v_anyotherareadetectionisisolated','sd1_v1_dido_dido_monitoringdi24v_auxliarycompressorisinoperation','sd1_v1_dido_dido_monitoringdi24v_brakecockisbeingblocked','sd1_v1_dido_dido_monitoringdi24v_brakeisdragging','sd1_v1_dido_dido_monitoringdi24v_cabareafire','sd1_v1_dido_dido_monitoringdi24v_cabdooropenleft','sd1_v1_dido_dido_monitoringdi24v_cabdooropenright','sd1_v1_dido_dido_monitoringdi24v_compressorfailure','sd1_v1_dido_dido_monitoringdi24v_ebrstatus','sd1_v1_dido_dido_monitoringdi24v_emergencydoorhandle1','sd1_v1_dido_dido_monitoringdi24v_emergencydoorhandle2','sd1_v1_dido_dido_monitoringdi24v_emergencydoorhandle3','sd1_v1_dido_dido_monitoringdi24v_emergencydoorhandle4','sd1_v1_dido_dido_monitoringdi24v_failureofbatterybackupunitforreservelamp1','sd1_v1_dido_dido_monitoringdi24v_failureofbrake','sd1_v1_dido_dido_monitoringdi24v_failureofcabhvac','sd1_v1_dido_dido_monitoringdi24v_failureofgangwaydoor','sd1_v1_dido_dido_monitoringdi24v_firedetectionsystemfailure','sd1_v1_dido_dido_monitoringdi24v_hotaxlebearingdetection11','sd1_v1_dido_dido_monitoringdi24v_hotaxlebearingdetection12','sd1_v1_dido_dido_monitoringdi24v_hotaxlebearingdetection13','sd1_v1_dido_dido_monitoringdi24v_hotaxlebearingdetection14','sd1_v1_dido_dido_monitoringdi24v_hotaxlebearingdetection21','sd1_v1_dido_dido_monitoringdi24v_hotaxlebearingdetection22','sd1_v1_dido_dido_monitoringdi24v_hotaxlebearingdetection23','sd1_v1_dido_dido_monitoringdi24v_hotaxlebearingdetection24','sd1_v1_dido_dido_monitoringdi24v_kvbemergencybrake','sd1_v1_dido_dido_monitoringdi24v_pantographautomaticdowndetection','sd1_v1_dido_dido_monitoringdi24v_pantographstatus','sd1_v1_dido_dido_monitoringdi24v_powersupplyforavacuumequipmentfortoiletsystem','sd1_v1_dido_dido_monitoringdi24v_saloonareafire','sd1_v1_dido_dido_monitoringdi24v_sandingcockisbeingblocked','sd1_v1_dido_dido_monitoringdi24v_toiletareafire','sd1_v1_dido_dido_monitoringdi24v_tpwsawsemergencybrake','sd1_v1_dido_dido_monitoringdi24v_tractionabnormaldetectionfunctionisfailed','sd1_v1_dido_dido_monitoringdi24v_tractionareafire','sd1_v1_dido_dido_monitoringdi24v_tractionarealdetectionfunctionisisolated','sd1_v1_dido_dido_monitoringdi24v_tvm430emergencybrake','sd1_v1_dido_dido_monitoringdo_powersupplyforbuzzerfordriversdispalyunit','sd1_v1_hvac_hvactransmission_airconditioningequipmentmonitorinformation9_cabtemperature','sd1_v1_otmr_otmrtransmission_brake_brakecylinderpressuredpts1','sd1_v1_otmr_otmrtransmission_brake_brakecylinderpressuredpts2','sd1_v1_otmr_otmrtransmission_brake_brakecylinderpressurems1','sd1_v1_otmr_otmrtransmission_brake_brakecylinderpressurems2','sd1_v1_otmr_otmrtransmission_brake_brakecylinderpressurems3','sd1_v1_otmr_otmrtransmission_brake_brakecylinderpressurems4','sd1_v1_otmr_otmrtransmission_brake_brakereservoirpressuredpts1','sd1_v1_otmr_otmrtransmission_brake_brakereservoirpressuredpts2','sd1_v1_otmr_otmrtransmission_brake_brakereservoirpressurems1','sd1_v1_otmr_otmrtransmission_brake_brakereservoirpressurems2','sd1_v1_otmr_otmrtransmission_brake_brakereservoirpressurems3','sd1_v1_otmr_otmrtransmission_brake_brakereservoirpressurems4','sd1_v1_otmr_otmrtransmission_brake_wspactivedpts1','sd1_v1_otmr_otmrtransmission_brake_wspactivedpts2','sd1_v1_otmr_otmrtransmission_brake_wspactivems1','sd1_v1_otmr_otmrtransmission_brake_wspactivems2','sd1_v1_otmr_otmrtransmission_brake_wspactivems3','sd1_v1_otmr_otmrtransmission_brake_wspactivems4','sd1_v1_otmr_otmrtransmission_couple_cabcoupled','sd1_v1_otmr_otmrtransmission_couple_couplecoverswitch','sd1_v1_otmr_otmrtransmission_couple_couplepushbutton','sd1_v1_otmr_otmrtransmission_couple_uncouplepushbutton','sd1_v1_otmr_otmrtransmission_door_dirinformation1','sd1_v1_otmr_otmrtransmission_door_dirinformation12','sd1_v1_otmr_otmrtransmission_door_dirinformation6','sd1_v1_otmr_otmrtransmission_door_dirinformation7','sd1_v1_otmr_otmrtransmission_lineinformation_ctrlacselectbutton','sd1_v1_otmr_otmrtransmission_lineinformation_nracselectbutton','sd1_v1_otmr_otmrtransmission_lineinformation_nrdcselectbutton','sd1_v1_otmr_otmrtransmission_pea_peaoperationdpts1','sd1_v1_otmr_otmrtransmission_pea_peaoperationdpts2','sd1_v1_otmr_otmrtransmission_pea_peaoperationms1','sd1_v1_otmr_otmrtransmission_pea_peaoperationms2','sd1_v1_otmr_otmrtransmission_pea_peaoperationms3','sd1_v1_otmr_otmrtransmission_pea_peaoperationms4','sd1_v1_otmr_otmrtransmission_pinnumber_pinnumber','sd1_v1_otmr_otmrtransmission_sanding_sandercontroldpst1','sd1_v1_otmr_otmrtransmission_sanding_sandercontroldpts2','sd1_v1_otmr_otmrtransmission_sanding_sandercontrolms1','sd1_v1_otmr_otmrtransmission_sanding_sandercontrolms2','sd1_v1_otmr_otmrtransmission_sanding_sandercontrolms3','sd1_v1_otmr_otmrtransmission_sanding_sandercontrolms4','sd1_v1_otmr_otmrtransmission_sanding_sandrequestrefuseddpst1','sd1_v1_otmr_otmrtransmission_sanding_sandrequestrefuseddpts2','sd1_v1_otmr_otmrtransmission_sanding_sandrequestrefusedms1','sd1_v1_otmr_otmrtransmission_sanding_sandrequestrefusedms2','sd1_v1_otmr_otmrtransmission_sanding_sandrequestrefusedms3','sd1_v1_otmr_otmrtransmission_sanding_sandrequestrefusedms4','sd1_v1_otmr_otmrtransmission_sdo_emergencyreleaseoperation','sd1_v1_otmr_otmrtransmission_sdo_leftsidedoorsrelease','sd1_v1_otmr_otmrtransmission_sdo_rightsidedoorsrelease','sd1_v1_otmr_otmrtransmission_sdo_sdocommand1','sd1_v1_otmr_otmrtransmission_sdo_sdocommand10','sd1_v1_otmr_otmrtransmission_sdo_sdocommand11','sd1_v1_otmr_otmrtransmission_sdo_sdocommand12','sd1_v1_otmr_otmrtransmission_sdo_sdocommand2','sd1_v1_otmr_otmrtransmission_sdo_sdocommand3','sd1_v1_otmr_otmrtransmission_sdo_sdocommand4','sd1_v1_otmr_otmrtransmission_sdo_sdocommand5','sd1_v1_otmr_otmrtransmission_sdo_sdocommand6','sd1_v1_otmr_otmrtransmission_sdo_sdocommand7','sd1_v1_otmr_otmrtransmission_sdo_sdocommand8','sd1_v1_otmr_otmrtransmission_sdo_sdocommand9','sd1_v1_otmr_otmrtransmission_sdo_sdodoorreleaseerror','sd1_v1_otmr_otmrtransmission_sdo_stationchanged','sd1_v1_otmr_otmrtransmission_sdo_tmssdofault1','sd1_v1_otmr_otmrtransmission_sdo_tmssdofault2','sd1_v1_otmr_otmrtransmission_speedset_speedsetactive','sd1_v1_otmr_otmrtransmission_speedset_speedsetspeed','sd1_v1_otmr_otmrtransmission_speedset_tractionactiveforspeedset','sd1_v1_otmr_otmrtransmission_traction_icemodems1','sd1_v1_otmr_otmrtransmission_traction_icemodems2','sd1_v1_otmr_otmrtransmission_traction_icemodems3','sd1_v1_otmr_otmrtransmission_traction_icemodems4','sd1_v1_otmr_otmrtransmission_traction_poweringmodems1','sd1_v1_otmr_otmrtransmission_traction_poweringmodems2','sd1_v1_otmr_otmrtransmission_traction_poweringmodems3','sd1_v1_otmr_otmrtransmission_traction_poweringmodems4','sd1_v1_otmr_otmrtransmission_traction_powerredistributionmodems1','sd1_v1_otmr_otmrtransmission_traction_powerredistributionmodems2','sd1_v1_otmr_otmrtransmission_traction_powerredistributionmodems3','sd1_v1_otmr_otmrtransmission_traction_powerredistributionmodems4','sd1_v1_otmr_otmrtransmission_traction_slowspeedmodems1','sd1_v1_otmr_otmrtransmission_traction_slowspeedmodems2','sd1_v1_otmr_otmrtransmission_traction_slowspeedmodems3','sd1_v1_otmr_otmrtransmission_traction_slowspeedmodems4','sd1_v1_otmr_otmrtransmission_traction_tractionfaultms1','sd1_v1_otmr_otmrtransmission_traction_tractionfaultms2','sd1_v1_otmr_otmrtransmission_traction_tractionfaultms3','sd1_v1_otmr_otmrtransmission_traction_tractionfaultms4','sd1_v1_otmr_otmrtransmission_traction_tractionwspdetectedms1','sd1_v1_otmr_otmrtransmission_traction_tractionwspdetectedms2','sd1_v1_otmr_otmrtransmission_traction_tractionwspdetectedms3','sd1_v1_otmr_otmrtransmission_traction_tractionwspdetectedms4','sd1_v1_otmr_otmrtransmission_vcb_vcb1','sd1_v1_otmr_otmrtransmission_vcb_vcb2','sd1_v1_pis_pistransmission_gpsfault_gpsfault','sd1_v1_pis_pistransmission_gpsfault_speedsignalfault','sd1_v1_pis_pistransmission_gpslocation_directionoflatitude','sd1_v1_pis_pistransmission_gpslocation_directionoflongitude','sd1_v1_pis_pistransmission_gpslocation_latitudedegrees','sd1_v1_pis_pistransmission_gpslocation_latitudeminutes','sd1_v1_pis_pistransmission_gpslocation_longitudedegrees','sd1_v1_pis_pistransmission_gpslocation_longitudeminutes','sd1_v1_pis_pistransmission_speed_speed','sd1_v1_pis_pistransmission_stationcodeofthecurrentstation_stationcodeofthecurrentstation','sd1_v1_pis_pistransmission_stationcodeofthedestination_stationcodeofthedestination','sd1_v1_pis_pistransmission_stationcodeoftheorigin_stationcodeoftheorigin','sd1_v1_pis_pistransmission_trainid_trainid','sd1_v1_pis_pistransmission_trainstatus_couplingswstatus','sd1_v1_screendisplaydata_doordisplaydataanotherunit_cabdooropen_cardpt1_leftdoor','sd1_v1_screendisplaydata_doordisplaydataanotherunit_cabdooropen_cardpt1_rightdoor','sd1_v1_screendisplaydata_driverscreendataanotherunit_bcufaultdpt1','sd1_v1_screendisplaydata_driverscreendataanotherunit_bcupowersupplydpt1','sd1_v1_toilet_toilettransmission_status_freshwaterlevelsensor25percent_freshwaterlevelsensor25percent','sd1_v1_toilet_toilettransmission_status_wastewaterlevelsensor80percent_wastewaterlevelsensor80percent','sd1_v1_toilet_toilettransmission_status_wcoutofservice_doorlockedbystaff','sd1_v1_toilet_toilettransmission_status_wcoutofservice_freshwatertankempty','sd1_v1_toilet_toilettransmission_status_wcoutofservice_wastewatertankfull','sd1_v1_toilet_toilettransmission_status_wcoutofservice_wcbowlfull','sd1_v1_toilet_toilettransmission_status_wcoutofservice_wcbowloutofservice','sd1_v2_aps_apstransmission_equipmentfailureinformation4_acgr','sd1_v2_aps_apstransmission_equipmentfailureinformation4_dcgr','sd1_v2_aps_apstransmission_equipmentfailureinformation5_bskf','sd1_v2_aps_apstransmission_overheadlinevoltageac_overheadlinevoltageac','sd1_v2_bcu_bcutransmission_analogdata7_bsrpressure','sd1_v2_bcu_bcutransmission_brakefault_bcumajorfault','sd1_v2_bcu_bcutransmission_brakefault_dumpvaluefault1','sd1_v2_bcu_bcutransmission_brakefault_dumpvaluefault2','sd1_v2_bcu_bcutransmission_brakefault_dumpvaluefault3','sd1_v2_bcu_bcutransmission_brakefault_dumpvaluefault4','sd1_v2_bcu_bcutransmission_brakefault_lockedaxle1','sd1_v2_bcu_bcutransmission_brakefault_lockedaxle2','sd1_v2_bcu_bcutransmission_brakefault_lockedaxle3','sd1_v2_bcu_bcutransmission_brakefault_lockedaxle4','sd1_v2_bcu_bcutransmission_brakefault_sandrequestrefused','sd1_v2_bcu_bcutransmission_brakefault_speedsensorfault1','sd1_v2_bcu_bcutransmission_brakefault_speedsensorfault2','sd1_v2_bcu_bcutransmission_brakefault_speedsensorfault3','sd1_v2_bcu_bcutransmission_brakefault_speedsensorfault4','sd1_v2_bcu_bcutransmission_brakefault_wspmajorfault','sd1_v2_bcu_bcutransmission_brakefault_wsptimeout1','sd1_v2_bcu_bcutransmission_brakefault_wsptimeout2','sd1_v2_bcu_bcutransmission_brakefault_wsptimeout3','sd1_v2_bcu_bcutransmission_brakefault_wsptimeout4','sd1_v2_bcu_bcutransmission_brakestatus_sanding','sd1_v2_bcu_bcutransmission_tmscarnumber_tmscarnumber','sd1_v2_dido_dido_monitoringdi110v_buslineearthing1','sd1_v2_dido_dido_monitoringdi110v_buslineearthing2','sd1_v2_dido_dido_monitoringdi110v_powersupplyforairconditioningequipment','sd1_v2_dido_dido_monitoringdi110v_powersupplyforaps','sd1_v2_dido_dido_monitoringdi110v_powersupplyforbrakeequipment','sd1_v2_dido_dido_monitoringdi110v_powersupplyforhottemparatureofaxlebearingdetectionhabdcircuit','sd1_v2_dido_dido_monitoringdi110v_powersupplyfortractionconverter','sd1_v2_dido_dido_monitoringdi24v_anyotherareadetectionisisolated','sd1_v2_dido_dido_monitoringdi24v_brakecockisbeingblocked','sd1_v2_dido_dido_monitoringdi24v_brakeisdragging','sd1_v2_dido_dido_monitoringdi24v_emergencydoorhandle1','sd1_v2_dido_dido_monitoringdi24v_emergencydoorhandle2','sd1_v2_dido_dido_monitoringdi24v_emergencydoorhandle3','sd1_v2_dido_dido_monitoringdi24v_emergencydoorhandle4','sd1_v2_dido_dido_monitoringdi24v_failureofbrakeequipment','sd1_v2_dido_dido_monitoringdi24v_failureofgangwaydoor1','sd1_v2_dido_dido_monitoringdi24v_failureofgangwaydoor2','sd1_v2_dido_dido_monitoringdi24v_firedetectionsystemfailure','sd1_v2_dido_dido_monitoringdi24v_hotaxlebearingdetection11','sd1_v2_dido_dido_monitoringdi24v_hotaxlebearingdetection12','sd1_v2_dido_dido_monitoringdi24v_hotaxlebearingdetection13','sd1_v2_dido_dido_monitoringdi24v_hotaxlebearingdetection14','sd1_v2_dido_dido_monitoringdi24v_hotaxlebearingdetection21','sd1_v2_dido_dido_monitoringdi24v_hotaxlebearingdetection22','sd1_v2_dido_dido_monitoringdi24v_hotaxlebearingdetection23','sd1_v2_dido_dido_monitoringdi24v_hotaxlebearingdetection24','sd1_v2_dido_dido_monitoringdi24v_parkingbrake','sd1_v2_dido_dido_monitoringdi24v_saloonareafire','sd1_v2_dido_dido_monitoringdi24v_tractionareadetectionfunctionfailure','sd1_v2_dido_dido_monitoringdi24v_tractionareadetectionfunctionisisolated','sd1_v2_dido_dido_monitoringdi24v_tractionareafire','sd1_v2_dido_dido_monitoringdi24v_tractionconverterfailure','sd1_v2_screendisplaydata_driverscreendataanotherunit_bcufaultms1','sd1_v2_screendisplaydata_driverscreendataanotherunit_bcupowersupplyms1','sd1_v2_screendisplaydata_driverscreendataanotherunit_tractionfaultms1','sd1_v2_screendisplaydata_driverscreendataanotherunit_tractionisolationms1','sd1_v2_screendisplaydata_driverscreendataanotherunit_tractionmotortorque','sd1_v2_screendisplaydata_driverscreendataanotherunit_tractionpowersupplyms1','sd1_v2_traction_tractiontransmission_analoginformation10_igbttemperatureinconverter','sd1_v2_traction_tractiontransmission_analoginformation11_thermistortemperatureininverter','sd1_v2_traction_tractiontransmission_analoginformation12_igbttemperatureininverter','sd1_v2_traction_tractiontransmission_analoginformation13_thermistortemperatureinbrakechopper','sd1_v2_traction_tractiontransmission_analoginformation14_temperatureriseofbrakeresistor','sd1_v2_traction_tractiontransmission_analoginformation30_overheadlinevoltageac','sd1_v2_traction_tractiontransmission_analoginformation31_overheadlinevoltagedc','sd1_v2_traction_tractiontransmission_analoginformation32_overheadlinecurrentdc','sd1_v2_traction_tractiontransmission_analoginformation36_dclineoverheadlinecurrentlimitvalue','sd1_v2_traction_tractiontransmission_analoginformation38_motorcurrent','sd1_v2_traction_tractiontransmission_analoginformation9_thermistortemperatureinconverter','sd1_v2_traction_tractiontransmission_protectivedetectionsignal1_cfdc','sd1_v2_traction_tractiontransmission_protectivedetectionsignal6_lb3f','sd1_v3_aps_apstransmission_equipmentfailureinformation4_acgr','sd1_v3_aps_apstransmission_equipmentfailureinformation4_dcgr','sd1_v3_aps_apstransmission_equipmentfailureinformation5_bskf','sd1_v3_aps_apstransmission_overheadlinevoltageac_overheadlinevoltageac','sd1_v3_bcu_bcutransmission_analogdata7_bsrpressure','sd1_v3_bcu_bcutransmission_brakefault_bcumajorfault','sd1_v3_bcu_bcutransmission_brakefault_dumpvaluefault1','sd1_v3_bcu_bcutransmission_brakefault_dumpvaluefault2','sd1_v3_bcu_bcutransmission_brakefault_dumpvaluefault3','sd1_v3_bcu_bcutransmission_brakefault_dumpvaluefault4','sd1_v3_bcu_bcutransmission_brakefault_lockedaxle1','sd1_v3_bcu_bcutransmission_brakefault_lockedaxle2','sd1_v3_bcu_bcutransmission_brakefault_lockedaxle3','sd1_v3_bcu_bcutransmission_brakefault_lockedaxle4','sd1_v3_bcu_bcutransmission_brakefault_sandrequestrefused','sd1_v3_bcu_bcutransmission_brakefault_speedsensorfault1','sd1_v3_bcu_bcutransmission_brakefault_speedsensorfault2','sd1_v3_bcu_bcutransmission_brakefault_speedsensorfault3','sd1_v3_bcu_bcutransmission_brakefault_speedsensorfault4','sd1_v3_bcu_bcutransmission_brakefault_wspmajorfault','sd1_v3_bcu_bcutransmission_brakefault_wsptimeout1','sd1_v3_bcu_bcutransmission_brakefault_wsptimeout2','sd1_v3_bcu_bcutransmission_brakefault_wsptimeout3','sd1_v3_bcu_bcutransmission_brakefault_wsptimeout4','sd1_v3_bcu_bcutransmission_brakestatus_sanding','sd1_v3_bcu_bcutransmission_tmscarnumber_tmscarnumber','sd1_v3_dido_dido_monitoringdi110v_busline750vearthingcircuit','sd1_v3_dido_dido_monitoringdi110v_buslineearthing1','sd1_v3_dido_dido_monitoringdi110v_buslineearthing2','sd1_v3_dido_dido_monitoringdi110v_powersupplyforairconditioningequipment','sd1_v3_dido_dido_monitoringdi110v_powersupplyforaps','sd1_v3_dido_dido_monitoringdi110v_powersupplyforbrakeequipment','sd1_v3_dido_dido_monitoringdi110v_powersupplyforhottemparatureofaxlebearingdetectionhabdcircuit','sd1_v3_dido_dido_monitoringdi110v_powersupplyfortractionconverter','sd1_v3_dido_dido_monitoringdi24v_anyotherareadetectionisisolated','sd1_v3_dido_dido_monitoringdi24v_apsfailure','sd1_v3_dido_dido_monitoringdi24v_brakecockisbeingblocked','sd1_v3_dido_dido_monitoringdi24v_brakeisdragging','sd1_v3_dido_dido_monitoringdi24v_emergencydoorhandle1','sd1_v3_dido_dido_monitoringdi24v_emergencydoorhandle2','sd1_v3_dido_dido_monitoringdi24v_emergencydoorhandle3','sd1_v3_dido_dido_monitoringdi24v_emergencydoorhandle4','sd1_v3_dido_dido_monitoringdi24v_failureofbrakeequipment','sd1_v3_dido_dido_monitoringdi24v_failureofgangwaydoor1','sd1_v3_dido_dido_monitoringdi24v_failureofgangwaydoor2','sd1_v3_dido_dido_monitoringdi24v_firedetectionsystemfailure','sd1_v3_dido_dido_monitoringdi24v_hotaxlebearingdetection11','sd1_v3_dido_dido_monitoringdi24v_hotaxlebearingdetection12','sd1_v3_dido_dido_monitoringdi24v_hotaxlebearingdetection13','sd1_v3_dido_dido_monitoringdi24v_hotaxlebearingdetection14','sd1_v3_dido_dido_monitoringdi24v_hotaxlebearingdetection21','sd1_v3_dido_dido_monitoringdi24v_hotaxlebearingdetection22','sd1_v3_dido_dido_monitoringdi24v_hotaxlebearingdetection23','sd1_v3_dido_dido_monitoringdi24v_hotaxlebearingdetection24','sd1_v3_dido_dido_monitoringdi24v_parkingbrake','sd1_v3_dido_dido_monitoringdi24v_saloonareafire','sd1_v3_dido_dido_monitoringdi24v_tractionareadetectionfunctionfailure','sd1_v3_dido_dido_monitoringdi24v_tractionareadetectionfunctionisisolated','sd1_v3_dido_dido_monitoringdi24v_tractionareafire','sd1_v3_dido_dido_monitoringdi24v_tractionconverterfailure','sd1_v3_screendisplaydata_driverscreendataanotherunit_bcufaultms2','sd1_v3_screendisplaydata_driverscreendataanotherunit_bcupowersupplyms2','sd1_v3_screendisplaydata_driverscreendataanotherunit_tractionfaultms2','sd1_v3_screendisplaydata_driverscreendataanotherunit_tractionisolationms2','sd1_v3_screendisplaydata_driverscreendataanotherunit_tractionmotortorque','sd1_v3_screendisplaydata_driverscreendataanotherunit_tractionpowersupplyms2','sd1_v3_traction_tractiontransmission_analoginformation10_igbttemperatureinconverter','sd1_v3_traction_tractiontransmission_analoginformation11_thermistortemperatureininverter','sd1_v3_traction_tractiontransmission_analoginformation12_igbttemperatureininverter','sd1_v3_traction_tractiontransmission_analoginformation13_thermistortemperatureinbrakechopper','sd1_v3_traction_tractiontransmission_analoginformation14_temperatureriseofbrakeresistor','sd1_v3_traction_tractiontransmission_analoginformation30_overheadlinevoltageac','sd1_v3_traction_tractiontransmission_analoginformation31_overheadlinevoltagedc','sd1_v3_traction_tractiontransmission_analoginformation32_overheadlinecurrentdc','sd1_v3_traction_tractiontransmission_analoginformation36_dclineoverheadlinecurrentlimitvalue','sd1_v3_traction_tractiontransmission_analoginformation38_motorcurrent','sd1_v3_traction_tractiontransmission_analoginformation9_thermistortemperatureinconverter','sd1_v3_traction_tractiontransmission_protectivedetectionsignal1_cfdc','sd1_v3_traction_tractiontransmission_protectivedetectionsignal6_lb3f','sd1_v4_bcu_bcutransmission_analogdata7_bsrpressure','sd1_v4_bcu_bcutransmission_brakefault_bcumajorfault','sd1_v4_bcu_bcutransmission_brakefault_dumpvaluefault1','sd1_v4_bcu_bcutransmission_brakefault_dumpvaluefault2','sd1_v4_bcu_bcutransmission_brakefault_dumpvaluefault3','sd1_v4_bcu_bcutransmission_brakefault_dumpvaluefault4','sd1_v4_bcu_bcutransmission_brakefault_lockedaxle1','sd1_v4_bcu_bcutransmission_brakefault_lockedaxle2','sd1_v4_bcu_bcutransmission_brakefault_lockedaxle3','sd1_v4_bcu_bcutransmission_brakefault_lockedaxle4','sd1_v4_bcu_bcutransmission_brakefault_sandrequestrefused','sd1_v4_bcu_bcutransmission_brakefault_speedsensorfault1','sd1_v4_bcu_bcutransmission_brakefault_speedsensorfault2','sd1_v4_bcu_bcutransmission_brakefault_speedsensorfault3','sd1_v4_bcu_bcutransmission_brakefault_speedsensorfault4','sd1_v4_bcu_bcutransmission_brakefault_wspmajorfault','sd1_v4_bcu_bcutransmission_brakefault_wsptimeout1','sd1_v4_bcu_bcutransmission_brakefault_wsptimeout2','sd1_v4_bcu_bcutransmission_brakefault_wsptimeout3','sd1_v4_bcu_bcutransmission_brakefault_wsptimeout4','sd1_v4_bcu_bcutransmission_brakestatus_sanding','sd1_v4_bcu_bcutransmission_tmscarnumber_tmscarnumber','sd1_v4_dido_dido_monitoringdi110v_buslineearthing1','sd1_v4_dido_dido_monitoringdi110v_buslineearthing2','sd1_v4_dido_dido_monitoringdi110v_powersupplyforairconditioningequipment','sd1_v4_dido_dido_monitoringdi110v_powersupplyforbrakeequipment','sd1_v4_dido_dido_monitoringdi110v_powersupplyforhottemparatureofaxlebearingdetectionhabdcircuit','sd1_v4_dido_dido_monitoringdi110v_powersupplyfortractionconverter','sd1_v4_dido_dido_monitoringdi24v_anyotherareadetectionisisolated','sd1_v4_dido_dido_monitoringdi24v_brakecockisbeingblocked','sd1_v4_dido_dido_monitoringdi24v_brakeisdragging','sd1_v4_dido_dido_monitoringdi24v_emergencydoorhandle1','sd1_v4_dido_dido_monitoringdi24v_emergencydoorhandle2','sd1_v4_dido_dido_monitoringdi24v_emergencydoorhandle3','sd1_v4_dido_dido_monitoringdi24v_emergencydoorhandle4','sd1_v4_dido_dido_monitoringdi24v_failureofbrakeequipment','sd1_v4_dido_dido_monitoringdi24v_failureofgangwaydoor1','sd1_v4_dido_dido_monitoringdi24v_failureofgangwaydoor2','sd1_v4_dido_dido_monitoringdi24v_firedetectionsystemfailure','sd1_v4_dido_dido_monitoringdi24v_hotaxlebearingdetection11','sd1_v4_dido_dido_monitoringdi24v_hotaxlebearingdetection12','sd1_v4_dido_dido_monitoringdi24v_hotaxlebearingdetection13','sd1_v4_dido_dido_monitoringdi24v_hotaxlebearingdetection14','sd1_v4_dido_dido_monitoringdi24v_hotaxlebearingdetection21','sd1_v4_dido_dido_monitoringdi24v_hotaxlebearingdetection22','sd1_v4_dido_dido_monitoringdi24v_hotaxlebearingdetection23','sd1_v4_dido_dido_monitoringdi24v_hotaxlebearingdetection24','sd1_v4_dido_dido_monitoringdi24v_parkingbrake','sd1_v4_dido_dido_monitoringdi24v_saloonareafire','sd1_v4_dido_dido_monitoringdi24v_tractionareadetectionfunctionfailure','sd1_v4_dido_dido_monitoringdi24v_tractionareadetectionfunctionisisolated','sd1_v4_dido_dido_monitoringdi24v_tractionareafire','sd1_v4_dido_dido_monitoringdi24v_tractionconverterfailure','sd1_v4_screendisplaydata_driverscreendataanotherunit_bcufaultms3','sd1_v4_screendisplaydata_driverscreendataanotherunit_bcupowersupplyms3','sd1_v4_screendisplaydata_driverscreendataanotherunit_tractionfaultms3','sd1_v4_screendisplaydata_driverscreendataanotherunit_tractionisolationms3','sd1_v4_screendisplaydata_driverscreendataanotherunit_tractionmotortorque','sd1_v4_screendisplaydata_driverscreendataanotherunit_tractionpowersupplyms3','sd1_v4_traction_tractiontransmission_analoginformation10_igbttemperatureinconverter','sd1_v4_traction_tractiontransmission_analoginformation11_thermistortemperatureininverter','sd1_v4_traction_tractiontransmission_analoginformation12_igbttemperatureininverter','sd1_v4_traction_tractiontransmission_analoginformation13_thermistortemperatureinbrakechopper','sd1_v4_traction_tractiontransmission_analoginformation14_temperatureriseofbrakeresistor','sd1_v4_traction_tractiontransmission_analoginformation30_overheadlinevoltageac','sd1_v4_traction_tractiontransmission_analoginformation31_overheadlinevoltagedc','sd1_v4_traction_tractiontransmission_analoginformation32_overheadlinecurrentdc','sd1_v4_traction_tractiontransmission_analoginformation36_dclineoverheadlinecurrentlimitvalue','sd1_v4_traction_tractiontransmission_analoginformation38_motorcurrent','sd1_v4_traction_tractiontransmission_analoginformation9_thermistortemperatureinconverter','sd1_v4_traction_tractiontransmission_protectivedetectionsignal1_cfdc','sd1_v4_traction_tractiontransmission_protectivedetectionsignal6_lb3f','sd1_v5_aps_apstransmission_equipmentfailureinformation4_acgr','sd1_v5_aps_apstransmission_equipmentfailureinformation4_dcgr','sd1_v5_aps_apstransmission_equipmentfailureinformation5_bskf','sd1_v5_aps_apstransmission_overheadlinevoltageac_overheadlinevoltageac','sd1_v5_bcu_bcutransmission_analogdata7_bsrpressure','sd1_v5_bcu_bcutransmission_brakefault_bcumajorfault','sd1_v5_bcu_bcutransmission_brakefault_dumpvaluefault1','sd1_v5_bcu_bcutransmission_brakefault_dumpvaluefault2','sd1_v5_bcu_bcutransmission_brakefault_dumpvaluefault3','sd1_v5_bcu_bcutransmission_brakefault_dumpvaluefault4','sd1_v5_bcu_bcutransmission_brakefault_lockedaxle1','sd1_v5_bcu_bcutransmission_brakefault_lockedaxle2','sd1_v5_bcu_bcutransmission_brakefault_lockedaxle3','sd1_v5_bcu_bcutransmission_brakefault_lockedaxle4','sd1_v5_bcu_bcutransmission_brakefault_sandrequestrefused','sd1_v5_bcu_bcutransmission_brakefault_speedsensorfault1','sd1_v5_bcu_bcutransmission_brakefault_speedsensorfault2','sd1_v5_bcu_bcutransmission_brakefault_speedsensorfault3','sd1_v5_bcu_bcutransmission_brakefault_speedsensorfault4','sd1_v5_bcu_bcutransmission_brakefault_wspmajorfault','sd1_v5_bcu_bcutransmission_brakefault_wsptimeout1','sd1_v5_bcu_bcutransmission_brakefault_wsptimeout2','sd1_v5_bcu_bcutransmission_brakefault_wsptimeout3','sd1_v5_bcu_bcutransmission_brakefault_wsptimeout4','sd1_v5_bcu_bcutransmission_brakestatus_sanding','sd1_v5_bcu_bcutransmission_tmscarnumber_tmscarnumber','sd1_v5_dido_dido_monitoringdi110v_buslineearthing1','sd1_v5_dido_dido_monitoringdi110v_buslineearthing2','sd1_v5_dido_dido_monitoringdi110v_powersupplyforairconditioningequipment','sd1_v5_dido_dido_monitoringdi110v_powersupplyforaps','sd1_v5_dido_dido_monitoringdi110v_powersupplyforbrakeequipment','sd1_v5_dido_dido_monitoringdi110v_powersupplyforhottemparatureofaxlebearingdetectionhabdcircuit','sd1_v5_dido_dido_monitoringdi110v_powersupplyfortractionconverter','sd1_v5_dido_dido_monitoringdi24v_anyotherareadetectionisisolated','sd1_v5_dido_dido_monitoringdi24v_brakecockisbeingblocked','sd1_v5_dido_dido_monitoringdi24v_brakeisdragging','sd1_v5_dido_dido_monitoringdi24v_emergencydoorhandle1','sd1_v5_dido_dido_monitoringdi24v_emergencydoorhandle2','sd1_v5_dido_dido_monitoringdi24v_emergencydoorhandle3','sd1_v5_dido_dido_monitoringdi24v_emergencydoorhandle4','sd1_v5_dido_dido_monitoringdi24v_failureofbrakeequipment','sd1_v5_dido_dido_monitoringdi24v_failureofgangwaydoor1','sd1_v5_dido_dido_monitoringdi24v_failureofgangwaydoor2','sd1_v5_dido_dido_monitoringdi24v_firedetectionsystemfailure','sd1_v5_dido_dido_monitoringdi24v_hotaxlebearingdetection11','sd1_v5_dido_dido_monitoringdi24v_hotaxlebearingdetection12','sd1_v5_dido_dido_monitoringdi24v_hotaxlebearingdetection13','sd1_v5_dido_dido_monitoringdi24v_hotaxlebearingdetection14','sd1_v5_dido_dido_monitoringdi24v_hotaxlebearingdetection21','sd1_v5_dido_dido_monitoringdi24v_hotaxlebearingdetection22','sd1_v5_dido_dido_monitoringdi24v_hotaxlebearingdetection23','sd1_v5_dido_dido_monitoringdi24v_hotaxlebearingdetection24','sd1_v5_dido_dido_monitoringdi24v_parkingbrake','sd1_v5_dido_dido_monitoringdi24v_saloonareafire','sd1_v5_dido_dido_monitoringdi24v_tractionareadetectionfunctionfailure','sd1_v5_dido_dido_monitoringdi24v_tractionareadetectionfunctionisisolated','sd1_v5_dido_dido_monitoringdi24v_tractionareafire','sd1_v5_dido_dido_monitoringdi24v_tractionconverterfailure','sd1_v5_screendisplaydata_driverscreendataanotherunit_bcufaultms4','sd1_v5_screendisplaydata_driverscreendataanotherunit_bcupowersupplyms4','sd1_v5_screendisplaydata_driverscreendataanotherunit_tractionfaultms4','sd1_v5_screendisplaydata_driverscreendataanotherunit_tractionisolationms4','sd1_v5_screendisplaydata_driverscreendataanotherunit_tractionmotortorque','sd1_v5_screendisplaydata_driverscreendataanotherunit_tractionpowersupplyms4','sd1_v5_traction_tractiontransmission_analoginformation10_igbttemperatureinconverter','sd1_v5_traction_tractiontransmission_analoginformation11_thermistortemperatureininverter','sd1_v5_traction_tractiontransmission_analoginformation12_igbttemperatureininverter','sd1_v5_traction_tractiontransmission_analoginformation13_thermistortemperatureinbrakechopper','sd1_v5_traction_tractiontransmission_analoginformation14_temperatureriseofbrakeresistor','sd1_v5_traction_tractiontransmission_analoginformation30_overheadlinevoltageac','sd1_v5_traction_tractiontransmission_analoginformation31_overheadlinevoltagedc','sd1_v5_traction_tractiontransmission_analoginformation32_overheadlinecurrentdc','sd1_v5_traction_tractiontransmission_analoginformation36_dclineoverheadlinecurrentlimitvalue','sd1_v5_traction_tractiontransmission_analoginformation38_motorcurrent','sd1_v5_traction_tractiontransmission_analoginformation9_thermistortemperatureinconverter','sd1_v5_traction_tractiontransmission_protectivedetectionsignal1_cfdc','sd1_v5_traction_tractiontransmission_protectivedetectionsignal6_lb3f','sd1_v6_bcu_bcutransmission_analogdata7_bsrpressure','sd1_v6_bcu_bcutransmission_brakefault_bcumajorfault','sd1_v6_bcu_bcutransmission_brakefault_dumpvaluefault1','sd1_v6_bcu_bcutransmission_brakefault_dumpvaluefault2','sd1_v6_bcu_bcutransmission_brakefault_dumpvaluefault3','sd1_v6_bcu_bcutransmission_brakefault_dumpvaluefault4','sd1_v6_bcu_bcutransmission_brakefault_lockedaxle1','sd1_v6_bcu_bcutransmission_brakefault_lockedaxle2','sd1_v6_bcu_bcutransmission_brakefault_lockedaxle3','sd1_v6_bcu_bcutransmission_brakefault_lockedaxle4','sd1_v6_bcu_bcutransmission_brakefault_sandrequestrefused','sd1_v6_bcu_bcutransmission_brakefault_speedsensorfault1','sd1_v6_bcu_bcutransmission_brakefault_speedsensorfault2','sd1_v6_bcu_bcutransmission_brakefault_speedsensorfault3','sd1_v6_bcu_bcutransmission_brakefault_speedsensorfault4','sd1_v6_bcu_bcutransmission_brakefault_wspmajorfault','sd1_v6_bcu_bcutransmission_brakefault_wsptimeout1','sd1_v6_bcu_bcutransmission_brakefault_wsptimeout2','sd1_v6_bcu_bcutransmission_brakefault_wsptimeout3','sd1_v6_bcu_bcutransmission_brakefault_wsptimeout4','sd1_v6_bcu_bcutransmission_brakestatus_sanding','sd1_v6_bcu_bcutransmission_tmscarnumber_tmscarnumber','sd1_v6_dido_dido_fsdi_ctrlacmode','sd1_v6_dido_dido_fsdi_doorclosecommandleft','sd1_v6_dido_dido_fsdi_doorclosecommandright','sd1_v6_dido_dido_fsdi_dooropencommandleft','sd1_v6_dido_dido_fsdi_dooropencommandright','sd1_v6_dido_dido_fsdi_doorreleaseleft','sd1_v6_dido_dido_fsdi_doorreleaseright','sd1_v6_dido_dido_fsdi_forwardmodeline','sd1_v6_dido_dido_fsdi_reversemodeline','sd1_v6_dido_dido_fsdi_speedsignalmorethan25kmh','sd1_v6_dido_dido_fsdi_speedsignalmorethan5kmh','sd1_v6_dido_dido_fsdo_tmsfailure','sd1_v6_dido_dido_monitoringdi110v_couplercoverclosingswitch','sd1_v6_dido_dido_monitoringdi110v_couplercoveropeningswitch','sd1_v6_dido_dido_monitoringdi110v_couplingsw','sd1_v6_dido_dido_monitoringdi110v_dcmode','sd1_v6_dido_dido_monitoringdi110v_ddson','sd1_v6_dido_dido_monitoringdi110v_electriccouplerisolationsw','sd1_v6_dido_dido_monitoringdi110v_emergencypantographup','sd1_v6_dido_dido_monitoringdi110v_networkrailacmode','sd1_v6_dido_dido_monitoringdi110v_otmrfailure','sd1_v6_dido_dido_monitoringdi110v_pantographdownshoeupsw','sd1_v6_dido_dido_monitoringdi110v_pantographupshoedownsw','sd1_v6_dido_dido_monitoringdi110v_poweringcommand','sd1_v6_dido_dido_monitoringdi110v_powersupplyforaxletemperaturedetectioncircuit','sd1_v6_dido_dido_monitoringdi110v_powersupplyforbrake','sd1_v6_dido_dido_monitoringdi110v_powersupplyfordriversdisplayunit','sd1_v6_dido_dido_monitoringdi110v_powersupplyforhvac','sd1_v6_dido_dido_monitoringdi110v_powersupplyforotmr','sd1_v6_dido_dido_monitoringdi110v_speedindicatorfailure','sd1_v6_dido_dido_monitoringdi110v_uncouplingsw','sd1_v6_dido_dido_monitoringdi110v_vcb','sd1_v6_dido_dido_monitoringdi24v_acpowersupplyisovercurrentacocrstatus','sd1_v6_dido_dido_monitoringdi24v_anyotherareadetectionisisolated','sd1_v6_dido_dido_monitoringdi24v_auxliarycompressorisinoperation','sd1_v6_dido_dido_monitoringdi24v_brakecockisbeingblocked','sd1_v6_dido_dido_monitoringdi24v_brakeisdragging','sd1_v6_dido_dido_monitoringdi24v_cabareafire','sd1_v6_dido_dido_monitoringdi24v_compressorfailure','sd1_v6_dido_dido_monitoringdi24v_emergencydoorhandle1','sd1_v6_dido_dido_monitoringdi24v_emergencydoorhandle2','sd1_v6_dido_dido_monitoringdi24v_emergencydoorhandle3','sd1_v6_dido_dido_monitoringdi24v_emergencydoorhandle4','sd1_v6_dido_dido_monitoringdi24v_failureofbrake','sd1_v6_dido_dido_monitoringdi24v_failureofgangwaydoor','sd1_v6_dido_dido_monitoringdi24v_firedetectionsystemfailure','sd1_v6_dido_dido_monitoringdi24v_frontcoverclosestatus','sd1_v6_dido_dido_monitoringdi24v_frontcoveropenstatus','sd1_v6_dido_dido_monitoringdi24v_hotaxlebearingdetection11','sd1_v6_dido_dido_monitoringdi24v_hotaxlebearingdetection12','sd1_v6_dido_dido_monitoringdi24v_hotaxlebearingdetection13','sd1_v6_dido_dido_monitoringdi24v_hotaxlebearingdetection14','sd1_v6_dido_dido_monitoringdi24v_hotaxlebearingdetection21','sd1_v6_dido_dido_monitoringdi24v_hotaxlebearingdetection22','sd1_v6_dido_dido_monitoringdi24v_hotaxlebearingdetection23','sd1_v6_dido_dido_monitoringdi24v_hotaxlebearingdetection24','sd1_v6_dido_dido_monitoringdi24v_kvbemergencybrake','sd1_v6_dido_dido_monitoringdi24v_pantographautomaticdowndetection','sd1_v6_dido_dido_monitoringdi24v_pantographstatus','sd1_v6_dido_dido_monitoringdi24v_parkingbrake','sd1_v6_dido_dido_monitoringdi24v_powersupplyforavacuumequipmentfortoiletsystem','sd1_v6_dido_dido_monitoringdi24v_saloonareafire','sd1_v6_dido_dido_monitoringdi24v_sandingcockisbeingblocked','sd1_v6_dido_dido_monitoringdi24v_toiletareafire','sd1_v6_dido_dido_monitoringdi24v_tpwsawsemergencybrake','sd1_v6_dido_dido_monitoringdi24v_tractionabnormaldetectionfunctionisfailed','sd1_v6_dido_dido_monitoringdi24v_tractionareafire','sd1_v6_dido_dido_monitoringdi24v_tractionarealdetectionfunctionisisolated','sd1_v6_dido_dido_monitoringdi24v_tvm430emergencybrake','sd1_v6_dido_dido_monitoringdi24v_warninghornisisolated','sd1_v6_dido_dido_monitoringdo_powersupplyforbuzzerfordriversdispalyunit','sd1_v6_dido_dido_monitoringdo_slipandskiddetectingindicatorlampincab','sd1_v6_hvac_hvactransmission_airconditioningequipmentmonitorinformation9_cabtemperature','sd1_v6_otmr_otmrtransmission_brake_brakecylinderpressuredpts1','sd1_v6_otmr_otmrtransmission_brake_brakecylinderpressuredpts2','sd1_v6_otmr_otmrtransmission_brake_brakecylinderpressurems1','sd1_v6_otmr_otmrtransmission_brake_brakecylinderpressurems2','sd1_v6_otmr_otmrtransmission_brake_brakecylinderpressurems3','sd1_v6_otmr_otmrtransmission_brake_brakecylinderpressurems4','sd1_v6_otmr_otmrtransmission_brake_brakereservoirpressuredpts1','sd1_v6_otmr_otmrtransmission_brake_brakereservoirpressuredpts2','sd1_v6_otmr_otmrtransmission_brake_brakereservoirpressurems1','sd1_v6_otmr_otmrtransmission_brake_brakereservoirpressurems2','sd1_v6_otmr_otmrtransmission_brake_brakereservoirpressurems3','sd1_v6_otmr_otmrtransmission_brake_brakereservoirpressurems4','sd1_v6_otmr_otmrtransmission_brake_wspactivedpts1','sd1_v6_otmr_otmrtransmission_brake_wspactivedpts2','sd1_v6_otmr_otmrtransmission_brake_wspactivems1','sd1_v6_otmr_otmrtransmission_brake_wspactivems2','sd1_v6_otmr_otmrtransmission_brake_wspactivems3','sd1_v6_otmr_otmrtransmission_brake_wspactivems4','sd1_v6_otmr_otmrtransmission_couple_cabcoupled','sd1_v6_otmr_otmrtransmission_couple_couplecoverswitch','sd1_v6_otmr_otmrtransmission_couple_couplepushbutton','sd1_v6_otmr_otmrtransmission_couple_uncouplepushbutton','sd1_v6_otmr_otmrtransmission_door_dirinformation1','sd1_v6_otmr_otmrtransmission_door_dirinformation12','sd1_v6_otmr_otmrtransmission_door_dirinformation6','sd1_v6_otmr_otmrtransmission_door_dirinformation7','sd1_v6_otmr_otmrtransmission_lineinformation_ctrlacselectbutton','sd1_v6_otmr_otmrtransmission_lineinformation_nracselectbutton','sd1_v6_otmr_otmrtransmission_lineinformation_nrdcselectbutton','sd1_v6_otmr_otmrtransmission_pea_peaoperationdpts1','sd1_v6_otmr_otmrtransmission_pea_peaoperationdpts2','sd1_v6_otmr_otmrtransmission_pea_peaoperationms1','sd1_v6_otmr_otmrtransmission_pea_peaoperationms2','sd1_v6_otmr_otmrtransmission_pea_peaoperationms3','sd1_v6_otmr_otmrtransmission_pea_peaoperationms4','sd1_v6_otmr_otmrtransmission_sanding_sandercontroldpst1','sd1_v6_otmr_otmrtransmission_sanding_sandercontroldpts2','sd1_v6_otmr_otmrtransmission_sanding_sandercontrolms1','sd1_v6_otmr_otmrtransmission_sanding_sandercontrolms2','sd1_v6_otmr_otmrtransmission_sanding_sandercontrolms3','sd1_v6_otmr_otmrtransmission_sanding_sandercontrolms4','sd1_v6_otmr_otmrtransmission_sanding_sandrequestrefuseddpst1','sd1_v6_otmr_otmrtransmission_sanding_sandrequestrefuseddpts2','sd1_v6_otmr_otmrtransmission_sanding_sandrequestrefusedms1','sd1_v6_otmr_otmrtransmission_sanding_sandrequestrefusedms2','sd1_v6_otmr_otmrtransmission_sanding_sandrequestrefusedms3','sd1_v6_otmr_otmrtransmission_sanding_sandrequestrefusedms4','sd1_v6_otmr_otmrtransmission_sdo_emergencyreleaseoperation','sd1_v6_otmr_otmrtransmission_sdo_leftsidedoorsrelease','sd1_v6_otmr_otmrtransmission_sdo_rightsidedoorsrelease','sd1_v6_otmr_otmrtransmission_sdo_sdocommand1','sd1_v6_otmr_otmrtransmission_sdo_sdocommand10','sd1_v6_otmr_otmrtransmission_sdo_sdocommand11','sd1_v6_otmr_otmrtransmission_sdo_sdocommand12','sd1_v6_otmr_otmrtransmission_sdo_sdocommand2','sd1_v6_otmr_otmrtransmission_sdo_sdocommand3','sd1_v6_otmr_otmrtransmission_sdo_sdocommand4','sd1_v6_otmr_otmrtransmission_sdo_sdocommand5','sd1_v6_otmr_otmrtransmission_sdo_sdocommand6','sd1_v6_otmr_otmrtransmission_sdo_sdocommand7','sd1_v6_otmr_otmrtransmission_sdo_sdocommand8','sd1_v6_otmr_otmrtransmission_sdo_sdocommand9','sd1_v6_otmr_otmrtransmission_sdo_sdodoorreleaseerror','sd1_v6_otmr_otmrtransmission_sdo_stationchanged','sd1_v6_otmr_otmrtransmission_sdo_tmssdofault1','sd1_v6_otmr_otmrtransmission_sdo_tmssdofault2','sd1_v6_otmr_otmrtransmission_speedset_speedsetactive','sd1_v6_otmr_otmrtransmission_speedset_speedsetspeed','sd1_v6_otmr_otmrtransmission_speedset_tractionactiveforspeedset','sd1_v6_otmr_otmrtransmission_traction_icemodems1','sd1_v6_otmr_otmrtransmission_traction_icemodems2','sd1_v6_otmr_otmrtransmission_traction_icemodems3','sd1_v6_otmr_otmrtransmission_traction_icemodems4','sd1_v6_otmr_otmrtransmission_traction_poweringmodems1','sd1_v6_otmr_otmrtransmission_traction_poweringmodems2','sd1_v6_otmr_otmrtransmission_traction_poweringmodems3','sd1_v6_otmr_otmrtransmission_traction_poweringmodems4','sd1_v6_otmr_otmrtransmission_traction_powerredistributionmodems1','sd1_v6_otmr_otmrtransmission_traction_powerredistributionmodems2','sd1_v6_otmr_otmrtransmission_traction_powerredistributionmodems3','sd1_v6_otmr_otmrtransmission_traction_powerredistributionmodems4','sd1_v6_otmr_otmrtransmission_traction_slowspeedmodems1','sd1_v6_otmr_otmrtransmission_traction_slowspeedmodems2','sd1_v6_otmr_otmrtransmission_traction_slowspeedmodems3','sd1_v6_otmr_otmrtransmission_traction_slowspeedmodems4','sd1_v6_otmr_otmrtransmission_traction_tractionfaultms1','sd1_v6_otmr_otmrtransmission_traction_tractionfaultms2','sd1_v6_otmr_otmrtransmission_traction_tractionfaultms3','sd1_v6_otmr_otmrtransmission_traction_tractionfaultms4','sd1_v6_otmr_otmrtransmission_traction_tractionwspdetectedms1','sd1_v6_otmr_otmrtransmission_traction_tractionwspdetectedms2','sd1_v6_otmr_otmrtransmission_traction_tractionwspdetectedms3','sd1_v6_otmr_otmrtransmission_traction_tractionwspdetectedms4','sd1_v6_otmr_otmrtransmission_trainfault_trainsystemfaultack','sd1_v6_otmr_otmrtransmission_vcb_vcb1','sd1_v6_otmr_otmrtransmission_vcb_vcb2','sd1_v6_screendisplaydata_doordisplaydataanotherunit_cabdooropen_cardpt2_leftdoor','sd1_v6_screendisplaydata_doordisplaydataanotherunit_cabdooropen_cardpt2_rightdoor','sd1_v6_screendisplaydata_driverscreendataanotherunit_bcufaultdpt2','sd1_v6_screendisplaydata_driverscreendataanotherunit_bcupowersupplydpt2','sd1_v6_toilet_toilettransmission_status_freshwaterlevelsensor25percent_freshwaterlevelsensor25percent','sd1_v6_toilet_toilettransmission_status_wastewaterlevelsensor80percent_wastewaterlevelsensor80percent','sd1_v6_toilet_toilettransmission_status_wcoutofservice_doorlockedbystaff','sd1_v6_toilet_toilettransmission_status_wcoutofservice_dooroutofservice','sd1_v6_toilet_toilettransmission_status_wcoutofservice_failureinautomaticdoor','sd1_v6_toilet_toilettransmission_status_wcoutofservice_freshwatertankempty','sd1_v6_toilet_toilettransmission_status_wcoutofservice_wastewatertankfull','sd1_v6_toilet_toilettransmission_status_wcoutofservice_wcbowlfull','sd1_v6_toilet_toilettransmission_status_wcoutofservice_wcbowloutofservicef']
# test

In [148]:
# df_test = pd.DataFrame(test, columns = ["signal_code"])
# df_test

In [149]:
# df_test.to_excel("signal_need_to_compare.xlsx")