In [2]:
import pandas as pd
import random
import re

In [238]:
df_raw_data = pd.read_csv("draw-file-workload-user.csv" , encoding = "ISO-8859-1" , header = None)
df_raw_data

C:\Users\khangnguyen1\AppData\Local\Temp\ipykernel_26984\2060997107.py:1: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
  df_raw_data = pd.read_csv("draw-file-workload-user.csv" , encoding = "ISO-8859-1" , header = None)

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
0,with,list1,as,(,select,distinct,sd1_v0_unitid,as,unitid,",",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Succeeded,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4/19/2024,10:33,AM,GMT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,12m,12s,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,csso_sevinc.bayram_0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37100,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37101,191 MiB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37102,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37103,3s 703ms,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37104,137.9MiB·s,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [239]:
def ConvertColumnType(x):
    for i in range (len(x)) :
        x[i] = str(x[i])
    return x
df_raw_data = df_raw_data.apply(ConvertColumnType)
df_raw_data

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
0,with,list1,as,(,select,distinct,sd1_v0_unitid,as,unitid,",",...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1,nan,Succeeded,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2,4/19/2024,10:33,AM,GMT,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
3,12m,12s,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
4,csso_sevinc.bayram_0,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37100,24,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
37101,191 MiB,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
37102,-,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
37103,3s 703ms,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
37104,137.9MiB·s,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

In [240]:
convertToList = list(df_raw_data.values)
convertToList = [' '.join(i).strip() for i in convertToList]
convertToList = [i.replace('nan' , '').strip() for i in convertToList]
convertToList

['with list1 as ( select distinct sd1_v0_unitid as unitid , calendar_timestamp , sd1_v0_sequentialcounter as seqcount , sd1_v1_...',
 'Succeeded',
 '4/19/2024 10:33 AM GMT',
 '12m 12s',
 'csso_sevinc.bayram_0',
 'Query',
 '830.7K',
 '41 GiB',
 '-',
 '1h 14m 18s',
 '352.9GiB·s',
 'with list1 as ( select distinct sd1_v0_unitid as unitid , calendar_timestamp , sd1_v0_sequentialcounter as seqcount , sd1_v1_...',
 'Succeeded',
 '4/19/2024 10:45 AM GMT',
 '9m 28s',
 'csso_sevinc.bayram_0',
 'Query',
 '450.1K',
 '41 GiB',
 '-',
 '1h 17m 24s',
 '390.3GiB·s',
 'select distinct sd1_v0_eventrecord_eventrecord_recordingheader_unitno_of1stunit as unitidof1stunit , sd1_v0_eventrecord_event...',
 'Succeeded',
 '4/19/2024 6:29 AM GMT',
 '5m 28s',
 'csso_damiano.tiero',
 'Query',
 '157.8K',
 '9.5 GiB',
 '-',
 '1m 36s',
 '2GiB·s',
 "with sd4 as ( select sd4_v0_unitid , cast ( concat ( '*****' , cast ( yearhcode as string ) , cast ( yearlcode as string ) , ...",
 'Succeeded',
 '4/19/2024 4:03 AM GMT',
 '3m 38s',
 'csso_todd.williams',
 'Query',
 'Missing Table Statistics',
 '3K',
 '235 MiB',
 '-',
 '9s 119ms',
 '1.3MiB·s',
 "with sd1 as ( select cast ( concat ( '*****' , cast ( yearhcode as string ) , cast ( yearlcode as string ) , '*****' , cast (...",
 'Succeeded',
 '4/19/2024 9:37 AM GMT',
 '2m 44s',
 'csso_lewis.ford',
 'Query',
 '8',
 '347 MiB',
 '-',
 '6s 857ms',
 '42.1MiB·s',
 'insert into data_science . engine_cooling ( unitid , vehicleid , sc , date , coolanttemp_max , highpower , secondsover109 , d...',
 'Other Failures',
 '4/19/2024 3:30 PM GMT',
 '3s 245ms',
 'csso_james.sutherland',
 'DML',
 '1',
 '0',
 '2.1 KiB',
 '9ms',
 '-',
 "with sd4 as ( select sd4_v0_unitid , cast ( concat ( '*****' , cast ( yearhcode as string ) , cast ( yearlcode as string ) , ...",
 'Succeeded',
 '4/19/2024 4:14 AM GMT',
 '38s 208ms',
 'csso_todd.williams',
 'Query',
 'Missing Table Statistics',
 '0',
 '6.1 MiB',
 '-',
 '6s 159ms',
 '497.9KiB·s',
 'describe formatted data_lake . ieplner_sd1',
 'Succeeded',
 '4/19/2024 4:17 PM GMT',
 '25s 990ms',
 'csso_james.sutherland',
 'DDL',
 'Slow Query Planning',
 '-',
 '0',
 '-',
 '-',
 '-',
 'get_tables',
 'Succeeded',
 '4/19/2024 4:17 PM GMT',
 '22ms',
 'csso_james.sutherland',
 'DDL',
 '-',
 '0',
 '-',
 '-',
 '-',
 'show functions in _impala_builtins',
 'Succeeded',
 '4/19/2024 4:17 PM GMT',
 '47ms',
 'csso_james.sutherland',
 'DDL',
 '-',
 '0',
 '-',
 '-',
 '-',
 'get_tables',
 'Succeeded',
 '4/19/2024 3:30 PM GMT',
 '16ms',
 'csso_james.sutherland',
 'DDL',
 '-',
 '0',
 '-',
 '-',
 '-',
 'describe formatted data_science . engine_cooling',
 'Succeeded',
 '4/19/2024 3:30 PM GMT',
 '22ms',
 'csso_james.sutherland',
 'DDL',
 '-',
 '0',
 '-',
 '-',
 '-',
 'get_tables',
 'Succeeded',
 '4/19/2024 3:30 PM GMT',
 '42ms',
 'csso_james.sutherland',
 'DDL',
 '-',
 '0',
 '-',
 '-',
 '-',
 'use data_science',
 'Succeeded',
 '4/19/2024 3:30 PM GMT',
 '1ms',
 'csso_james.sutherland',
 'DDL',
 '-',
 '0',
 '-',
 '-',
 '-',
 'get_tables',
 'Succeeded',
 '4/19/2024 3:30 PM GMT',
 '39ms',
 'csso_james.sutherland',
 'DDL',
 '-',
 '0',
 '-',
 '-',
 '-',
 'create table data_science . engine_cooling ( unitid int , vehicleid int , sc int , date string , coolanttemp_max float , high...',
 'Succeeded',
 '4/19/2024 3:30 PM GMT',
 '9s 862ms',
 'csso_james.sutherland',
 'DDL',
 '-',
 '0',
 '-',
 '-',
 '-',
 'use data_science',
 'Succeeded',
 '4/19/2024 3:30 PM GMT',
 '1ms',
 'csso_james.sutherland',
 'DDL',
 '-',
 '0',
 '-',
 '-',
 '-',
 'get_tables',
 'Succeeded',
 '4/19/2024 3:30 PM GMT',
 '26ms',
 'csso_james.sutherland',
 'DDL',
 '-',
 '0',
 '-',
 '-',
 '-',
 'insert into data_science . engine_cooling ( unitid , vehicleid , sc , date , coolanttemp_max , highpower , secondsover109 , d...',
 'Analysis Exception',
 '4/19/2024 3:30 PM GMT',
 '5ms',
 'csso_james.sutherland',
 '',
 '-',
 '0',
 '-',
 '-',
 '-',
 'use data_science',
 'Succeeded',
 '4/19/2024 3:30 PM GMT',
 '1ms',
 'csso_james.sutherland',
 'DDL',
 '-',
 '0',
 '-',
 '-',
 '-',
 'insert into data_science . engine_cooling ( unitid , vehicleid , sc , date , coolanttemp_max , highpower , secondsover109 , d...',
 'Other Failures',
 '4/19/2024 3:29 PM GMT',
 '0s',
 'csso_james.sutherland',
 '',
 '-',
 '0',
 '-',
 '-',
 '-',
 'use data_science',
 'Succeeded',
 '4/19/2024 3:29 PM GMT',
 '3ms',
 'csso_james.sutherland',
 'DDL',
 '-',
 '0',
 '-',
 '-',
 '-',
 'describe formatted data_science . engine_cooling',
 'Analysis Exception',
 '4/19/2024 3:23 PM GMT',
 '2ms',
 'csso_james.sutherland',
 '',
 '-',
 '0',
 '-',
 '-',
 '-',
 'get_tables',
 'Succeeded',
 '4/19/2024 3:23 PM GMT',
 '29ms',
 'csso_james.sutherland',
 'DDL',
 '-',
 '0',
 '-',
 '-',
 '-',
 'describe formatted data_lake . iepgw_sd15',
 'Succeeded',
 '4/19/2024 3:23 PM GMT',
 '30s 557ms',
 'csso_james.sutherland',
 'DDL',
 'Slow Query Planning',
 '-',
 '0',
 '-',
 '-',
 '-',
 'get_tables',
 'Succeeded',
 '4/19/2024 3:23 PM GMT',
 '118ms',
 'csso_james.sutherland',
 'DDL',
 '-',
 '0',
 '-',
 '-',
 '-',
 'show functions in _impala_builtins',
 'Succeeded',
 '4/19/2024 3:23 PM GMT',
 '83ms',
 'csso_james.sutherland',
 'DDL',
 '-',
 '0',
 '-',
 '-',
 '-',
 'get_tables',
 'Succeeded',
 '4/19/2024 12:28 PM GMT',
 '25ms',
 'csso_james.sutherland',
 'DDL',
 '-',
 '0',
 '-',
 '-',
 '-',
 'create table data_science . engine_cooling ( unitid int , vehicleid int , sc int , date string , coolanttemp_max float , high...',
 'Succeeded',
 '4/19/2024 12:28 PM GMT',
 '1h 41m 20s',
 'csso_james.sutherland',
 'DDL',
 '-',
 '0',
 '-',
 '-',
 '-',
 'use data_science',
 'Succeeded',
 '4/19/2024 12:28 PM GMT',
 '1ms',
 'csso_james.sutherland',
 'DDL',
 '-',
 '0',
 '-',
 '-',
 '-',
 "create table data_science . engine_cooling ( unitid int , vehicleid int , sc int , '*****' string , coolanttemp_max float , h...",
 'Other Failures',
 '4/19/2024 12:27 PM GMT',
 '1ms',
 'csso_james.sutherland',
 '',
 '-',
 '0',
 '-',
 '-',
 '-',
 'use data_science',
 'Succeeded',
 '4/19/2024 12:27 PM GMT',
 '1ms',
 'csso_james.sutherland',
 'DDL',
 '-',
 '0',
 '-',
 '-',
 '-',
 'create table data_science . engine_cooling ( unitid int , vehicleid int , sc int , date string , coolanttemp_max float , high...',
 'Other Failures',
 '4/19/2024 12:26 PM GMT',
 '1ms',
 'csso_james.sutherland',
 '',
 '-',
 '0',
 '-',
 '-',
 '-',
 'use data_science',
 'Succeeded',
 '4/19/2024 12:26 PM GMT',
 '75ms',
 'csso_james.sutherland',
 'DDL',
 '-',
 '0',
 '-',
 '-',
 '-',
 'show functions in _impala_builtins',
 'Succeeded',
 '4/19/2024 12:21 PM GMT',
 '63ms',
 'csso_james.sutherland',
 'DDL',
 '-',
 '0',
 '-',
 '-',
 '-',
 'use data_lake',
 'Succeeded',
 '4/19/2024 10:45 AM GMT',
 '3ms',
 'csso_sevinc.bayram_0',
 'DDL',
 '-',
 '0',
 '-',
 '-',
 '-',
 'use data_lake',
 'Succeeded',
 '4/19/2024 10:33 AM GMT',
 '3ms',
 'csso_sevinc.bayram_0',
 'DDL',
 '-',
 '0',
 '-',
 '-',
 '-',
 'show functions in _impala_builtins',
 'Succeeded',
 '4/19/2024 10:30 AM GMT',
 '45ms',
 'csso_sevinc.bayram_0',
 'DDL',
 '-',
 '0',
 '-',
 '-',
 '-',
 'use default',
 'Succeeded',
 '4/19/2024 9:37 AM GMT',
 '1ms',
 'csso_lewis.ford',
 'DDL',
 '-',
 '0',
 '-',
 '-',
 '-',
 'get_tables',
 'Succeeded',
 '4/19/2024 9:37 AM GMT',
 '31ms',
 'csso_lewis.ford',
 'DDL',
 '-',
 '0',
 '-',
 '-',
 '-',
 'show functions in _impala_builtins',
 'Succeeded',
 '4/19/2024 9:37 AM GMT',
 '42ms',
 'csso_lewis.ford',
 'DDL',
 '-',
 '0',
 '-',
 '-',
 '-',
 'use data_lake',
 'Succeeded',
 '4/19/2024 8:53 AM GMT',
 '1ms',
 'csso_sevinc.bayram_0',
 'DDL',
 '-',
 '0',
 '-',
 '-',
 '-',
 'with list1 as ( select distinct sd1_v0_unitid as unitid , calendar_timestamp , sd1_v0_sequentialcounter as seqcount , sd1_v1_...',
 'Other Failures',
 '4/19/2024 8:50 AM GMT',
 '1ms',
 'csso_sevinc.bayram_0',
 '',
 '-',
 '0',
 '-',
 '-',
 '-',
 'use data_lake',
 'Succeeded',
 '4/19/2024 8:50 AM GMT',
 '1ms',
 'csso_sevinc.bayram_0',
 'DDL',
 '-',
 '0',
 '-',
 '-',
 '-',
 'use data_lake',
 'Succeeded',
 '4/19/2024 8:50 AM GMT',
 '3ms',
 'csso_sevinc.bayram_0',
 'DDL',
 '-',
 '0',
 '-',
 '-',
 '-',
 'show functions in _impala_builtins',
 'Succeeded',
 '4/19/2024 8:49 AM GMT',
 '45ms',
 'csso_sevinc.bayram_0',
 'DDL',
 '-',
 '0',
 '-',
 '-',
 '-',
 'describe formatted data_lake . iepgw_sd3',
 'Succeeded',
 '4/19/2024 8:38 AM GMT',
 '31s 555ms',
 'csso_james.sutherland',
 'DDL',
 'Slow Query Planning',
 '-',
 '0',
 '-',
 '-',
 '-',
 'get_tables',
 'Succeeded',
 '4/19/2024 8:38 AM GMT',
 '119ms',
 'csso_james.sutherland',
 'DDL',
 '-',
 '0',
 '-',
 '-',
 '-',
 'show functions in _impala_builtins',
 'Succeeded',
 '4/19/2024 8:38 AM GMT',
 '80ms',
 'csso_james.sutherland',
 'DDL',
 '-',
 '0',
 '-',
 '-',
 '-',
 'invalidate metadata',
 'Succeeded',
 '4/19/2024 6:57 AM GMT',
 '4s 413ms',
 'csso_datateam.hrl',
 'DDL',
 '-',
 '0',
 '-',
 '-',
 '-',
 'use default',
 'Succeeded',
 '4/19/2024 6:57 AM GMT',
 '1ms',
 'csso_datateam.hrl',
 'DDL',
 '-',
 '0',
 '-',
 '-',
 '-',
 'show functions in _impala_builtins',
 'Succeeded',
 '4/19/2024 6:57 AM GMT',
 '42ms',
 'csso_datateam.hrl',
 'DDL',
 '-',
 '0',
 '-',
 '-',
 '-',
 'show functions in _impala_builtins',
 'Succeeded',
 '4/19/2024 6:30 AM GMT',
 '38ms',
 'csso_ian.davies',
 'DDL',
 '-',
 '0',
 '-',
 '-',
 '-',
 'use default',
 'Succeeded',
 '4/19/2024 4:14 AM GMT',
 '1ms',
 'csso_todd.williams',
 'DDL',
 '-',
 '0',
 '-',
 '-',
 '-',
 'describe formatted data_lake . iepwoe_sd5',
 'Succeeded',
 '4/19/2024 4:03 AM GMT',
 '1s 35ms',
 'csso_todd.williams',
 'DDL',
 '-',
 '0',
 '-',
 '-',
 '-',
 'get_tables',
 'Succeeded',
 '4/19/2024 4:03 AM GMT',
 '33ms',
 'csso_todd.williams',
 'DDL',
 '-',
 '0',
 '-',
 '-',
 '-',
 'describe formatted data_lake . iepwoe_sd4',
 'Succeeded',
 '4/19/2024 4:03 AM GMT',
 '28s 309ms',
 'csso_todd.williams',
 'DDL',
 'Slow Query Planning',
 '-',
 '0',
 '-',
 '-',
 '-',
 'get_tables',
 'Succeeded',
 '4/19/2024 4:03 AM GMT',
 '105ms',
 'csso_todd.williams',
 'DDL',
 '-',
 '0',
 '-',
 '-',
 '-',
 'use default',
 'Succeeded',
 '4/19/2024 4:03 AM GMT',
 '1ms',
 'csso_todd.williams',
 'DDL',
 '-',
 '0',
 '-',
 '-',
 '-',
 'show functions in _impala_builtins',
 'Succeeded',
 '4/19/2024 3:58 AM GMT',
 '59ms',
 'csso_todd.williams',
 'DDL',
 '-',
 '0',
 '-',
 '-',
 '-',
 'select sd1_v0_unitid as unitid , calendar_timestamp , sd1_v0_sequentialcounter as seqcount , sd1_v1_otmr_otmr_vehicleid1_otmr...',
 'Succeeded',
 '4/18/2024 12:11 PM GMT',
 '13m 51s',
 'csso_sevinc.bayram_0',
 'Query',
 'Slow Client',
 '20.7M',
 '13 GiB',
 '-',
 '1m 46s',
 '14.1GiB·s',
 'select sd1_v0_unitid as unitid , calendar_timestamp , sd1_v0_sequentialcounter as seqcount , sd1_v1_otmr_otmr_vehicleid1_otmr...',
 'Succeeded',
 '4/18/2024 12:25 PM GMT',
 '7m 27s',
 'csso_sevinc.bayram_0',
 'Query',
 'Slow Client',
 '11.4M',
 '6.9 GiB',
 '-',
 '52s 637ms',
 '375.2MiB·s',
 'select sd1_v0_unitid as unitid , calendar_timestamp , sd1_v0_sequentialcounter as seqcount , sd1_v1_otmr_otmr_vehicleid1_otmr...',
 'Succeeded',
 '4/18/2024 9:20 AM GMT',
 '8m 45s',
 'csso_sevinc.bayram_0',
 'Query',
 'Slow Client',
 '4.4M',
 '40 GiB',
 '-',
 '4m 48s',
 '8.6GiB·s',
 'select sd1_v0_unitid as unitid , calendar_timestamp , sd1_v0_sequentialcounter as seqcount , sd1_v1_otmr_otmr_vehicleid1_otmr...',
 'Succeeded',
 '4/18/2024 9:13 AM GMT',
 '6m 49s',
 'csso_sevinc.bayram_0',
 'Query',
 '4.4M',
 '40 GiB',
 '-',
 '4m 49s',
 '7.3GiB·s',
 'select sd1_v0_unitid as unitid , calendar_timestamp , sd1_v0_sequentialcounter as seqcount , sd1_v1_otmr_otmr_vehicleid1_otmr...',
 'Succeeded',
 '4/18/2024 9:31 AM GMT',
 '7m 55s',
 'csso_sevinc.bayram_0',
 'Query',
 'Slow Client',
 '1.5M',
 '12 GiB',
 '-',
 '1m 19s',
 '1.5GiB·s',
 'select sd1_v0_unitid as unitid , calendar_timestamp , sd1_v0_sequentialcounter as seqcount , sd1_v1_otmr_otmr_vehicleid1_otmr...',
 'Succeeded',
 '4/18/2024 10:13 AM GMT',
 '13m 37s',
 'csso_sevinc.bayram_0',
 'Query',
 'Slow Client',
 '1.3M',
 '41 GiB',
 '-',
 '4m 46s',
 '12.8GiB·s',
 'with list1 as ( select sd1_v0_unitid as unitid , calendar_timestamp , sd1_v0_sequentialcounter as seqcount , sd1_v1_otmr_otmr...',
 'Succeeded',
 '4/18/2024 1:33 PM GMT',
 '10m 26s',
 'csso_sevinc.bayram_0',
 'Query',
 'Slow Client',
 '822.8K',
 '41 GiB',
 '-',
 '34m 5s',
 '638.5GiB·s',
 'select sd1_v0_unitid as unitid , calendar_timestamp , sd1_v0_sequentialcounter as seqcount , sd1_v1_otmr_otmr_vehicleid1_otmr...',
 'Succeeded',
 '4/18/2024 10:32 AM GMT',
 '8m 19s',
 'csso_sevinc.bayram_0',
 'Query',
 'Slow Client',
 '788.8K',
 '23 GiB',
 '-',
 '2m 40s',
 '3.3GiB·s',
 'with list1 as ( select sd1_v0_unitid as unitid , calendar_timestamp , sd1_v0_sequentialcounter as seqcount , sd1_v1_otmr_otmr...',
 'Succeeded',
 '4/18/2024 1:17 PM GMT',
 '12m 48s',
 'csso_sevinc.bayram_0',
 'Query',
 'Slow Client',
 '546.7K',
 '25 GiB',
 '-',
 '19m 44s',
 '603GiB·s',
 'select sd1_v0_unitid as unitid , calendar_timestamp , sd1_v0_sequentialcounter as seqcount , sd1_v1_otmr_otmr_vehicleid1_otmr...',
 'Other Failures',
 '4/18/2024 12:33 PM GMT',
 '11m 20s',
 'csso_sevinc.bayram_0',
 'Query',
 'Slow Client',
 '480.8K',
 '13 GiB',
 '-',
 '1m 39s',
 '4GiB·s',
 'select sd1_v0_unitid as unitid , calendar_timestamp , sd1_v0_sequentialcounter as seqcount , sd1_v1_otmr_otmr_vehicleid1_otmr...',
 'Other Failures',
 '4/18/2024 9:56 AM GMT',
 '10m 4s',
 'csso_sevinc.bayram_0',
 'Query',
 'Slow Client',
 '419K',
 '12 GiB',
 '-',
 '1m 27s',
 '94.2MiB·s',
 'select sd1_v0_unitid as unitid , calendar_timestamp , sd1_v0_sequentialcounter as seqcount , sd1_v1_otmr_otmr_vehicleid1_otmr...',
 'Succeeded',
 '4/18/2024 9:52 AM GMT',
 '3m 9s',
 'csso_sevinc.bayram_0',
 'Query',
 'Slow Client',
 '419K',
 '12 GiB',
 '-',
 '1m 27s',
 '117.6MiB·s',
 'with sd1 as ( select calendar_timestamp , sd1_v0_unitid as unitid , sd1_v1_otmr_otmr_vehicleid1_otmrdiinformation2_trainwarni...',
 'Succeeded',
 '4/18/2024 9:44 AM GMT',
 '2m 44s',
 'csso_sevinc.bayram_0',
 'Query',
 'Slow Client',
 '244.9K',
 '8.7 GiB',
 '-',
 '12m 54s',
 '88GiB·s',
 'select distinct sd1_v0_eventrecord_eventrecord_recordingheader_unitno_of1stunit as unitidof1stunit , sd1_v0_eventrecord_event...',
 'Succeeded',
 '4/18/2024 9:24 AM GMT',
 '3m 11s',
 'csso_andy.vickers',
 'Query',
 'Slow Client',
 '157.3K',
 '9.4 GiB',
 '-',
 '1m 40s',
 '6.9GiB·s',
 '( with cte as ( select sd3_v0_unitid as unitid , filename , sd3_v0_sequentialcounter as sequentialcounter , yearhcode * * * *...',
 'Succeeded',
 '4/18/2024 6:48 AM GMT',
 '4m 43s',
 'csso_james.sutherland',
 'Query',
 'Missing Table Statistics',
 '1.5K',
 '18 GiB',
 '-',
 '10m 43s',
 '473MiB·s',
 'select month from data_lake . iepwoe_sd1 where ( year = * * * * * and month = * * * * * and day = * * * * * ) or ( year = * *...',
 'Succeeded',
 '4/18/2024 12:33 PM GMT',
 '573ms',
 'csso_sevinc.bayram_0',
 'Query',
 '100',
 '50 MiB',
 '-',
 '411ms',
 '0B·s',
 'select month from data_lake . iepwoe_sd1 where ( year = * * * * * and month = * * * * * and day = * * * * * ) or ( year = * *...',
 'Succeeded',
 '4/18/2024 12:33 PM GMT',
 '570ms',
 'csso_sevinc.bayram_0',
 'Query',
 '100',
 '50 MiB',
 '-',
 '412ms',
 '0B·s',
 'select sd1_v0_unitid as unitid , count ( calendar_timestamp ) from data_lake . iepgw_sd1 where year = * * * * * and ( sd1_v1_...',
 'Succeeded',
 '4/18/2024 9:29 AM GMT',
 '15s 276ms',
 'csso_sevinc.bayram_0',
 'Query',
 '56',
 '31 GiB',
 '-',
 '3m 55s',
 '467.1MiB·s',
 'select count ( calendar_timestamp ) from data_lake . iepwoe_sd1 where year = * * * * * and month = * * * * * and ( sd1_v1_otm...',
 'Succeeded',
 '4/18/2024 12:34 PM GMT',
 '4s 143ms',
 'csso_sevinc.bayram_0',
 'Query',
 '1',
 '5.3 GiB',
 '-',
 '42s 694ms',
 '21MiB·s',
 'select count ( calendar_timestamp ) from data_lake . iepgw_sd1 where year = * * * * * and ( sd1_v1_otmr_otmr_vehicleid1_otmrd...',
 'Succeeded',
 '4/18/2024 9:30 AM GMT',
 '7s 755ms',
 'csso_sevinc.bayram_0',
 'Query',
 '1',
 '31 GiB',
 '-',
 '4m 23s',
 '216.4MiB·s',
 'with data_list as ( select sd1_v0_unitid as unitid , substr ( filename , * * * * * , * * * * * ) as filename , lag ( cast ( c...',
 'Succeeded',
 '4/18/2024 5:27 PM GMT',
 '2m 24s',
 'csso_ian.davies',
 'Query',
 '0',
 '2 GiB',
 '-',
 '23s 7ms',
 '1MiB·s',
 'with data_list as ( select sd1_v0_unitid as unitid , substr ( filename , * * * * * , * * * * * ) as filename , lag ( cast ( c...',
 'Succeeded',
 '4/18/2024 1:18 PM GMT',
 '2m 34s',
 'csso_ian.davies',
 'Query',
 '0',
 '1.9 GiB',
 '-',
 '27s 159ms',
 '1006KiB·s',
 'with data_list as ( select sd1_v0_unitid as unitid , substr ( filename , * * * * * , * * * * * ) as filename , lag ( cast ( c...',
 'Succeeded',
 '4/18/2024 12:46 PM GMT',
 '3s 926ms',
 'csso_ian.davies',
 'Query',
 '0',
 '1.9 GiB',
 '-',
 '25s 156ms',
 '114.6KiB·s',
 'with data_list as ( select sd1_v0_unitid as unitid , substr ( filename , * * * * * , * * * * * ) as filename , lag ( cast ( c...',
 'Succeeded',
 '4/18/2024 12:42 PM GMT',
 '8s 996ms',
 'csso_ian.davies',
 'Query',
 '0',
 '1.9 GiB',
 '-',
 '24s 440ms',
 '967.8KiB·s',
 'use default',
 'Succeeded',
 '4/18/2024 5:27 PM GMT',
 '0s',
 'csso_ian.davies',
 'DDL',
 '-',
 '0',
 '-',
 '-',
 '-',
 'get_tables',
 'Succeeded',
 '4/18/2024 1:42 PM GMT',
 '20ms',
 'csso_james.sutherland',
 'DDL',
 '-',
 '0',
 '-',
 '-',
 '-',
 'get_tables',
 'Succeeded',
 '4/18/2024 1:38 PM GMT',
 '33ms',
 'csso_james.sutherland',
 'DDL',
 '-',
 '0',
 '-',
 '-',
 '-',
 'create table data_science . cars_parquet_managed ( id int , make string , model string , year int , color string ) stored as ...',
 'Succeeded',
 '4/18/2024 1:38 PM GMT',
 '49m 58s',
 'csso_james.sutherland',
 'DDL',
 '-',
 '0',
 '-',
 '-',
 '-',
 'use data_science',
 'Succeeded',
 '4/18/2024 1:38 PM GMT',
 '3ms',
 'csso_james.sutherland',
 'DDL',
 '-',
 '0',
 '-',
 '-',
 '-',
 'use data_lake',
 ...]

In [241]:
df_raw_data = pd.DataFrame(convertToList , columns=['raw_data'])
df_raw_data

                                                raw_data
0      with list1 as ( select distinct sd1_v0_unitid ...
1                                              Succeeded
2                                 4/19/2024 10:33 AM GMT
3                                                12m 12s
4                                   csso_sevinc.bayram_0
...                                                  ...
37100                                                 24
37101                                            191 MiB
37102                                                  -
37103                                           3s 703ms
37104                                         137.9MiB·s

[37105 rows x 1 columns]

In [242]:
df_raw_data = df_raw_data[(df_raw_data['raw_data'] != 'Missing Table Statistics') & (df_raw_data['raw_data'] != 'Slow Client')  & (df_raw_data['raw_data'] != 'Corrupt Table Statistics')  & (df_raw_data['raw_data'] != 'Slow Query Planning') & (df_raw_data['raw_data'] != 'Corrupt Table Statistics Slow Query Planning') & (df_raw_data['raw_data'] != 'Missing Table Statistics Slow Query Planning') & (df_raw_data['raw_data'] != 'Missing Table Statistics Slow Client') & (df_raw_data['raw_data'] != 'Slow Row Materialization') & (df_raw_data['raw_data'] != 'Slow Client Missing Table Statistics') & (df_raw_data['raw_data'] != 'Slow Client Slow Query Planning')]
df_raw_data

                                                raw_data
0      with list1 as ( select distinct sd1_v0_unitid ...
1                                              Succeeded
2                                 4/19/2024 10:33 AM GMT
3                                                12m 12s
4                                   csso_sevinc.bayram_0
...                                                  ...
37100                                                 24
37101                                            191 MiB
37102                                                  -
37103                                           3s 703ms
37104                                         137.9MiB·s

[36641 rows x 1 columns]

In [243]:
data_source = []
tmp = []
count = 1
for i in range (len(df_raw_data)):
    if (count < 11 ):
        tmp.append(df_raw_data.iloc[i , 0])
        count+=1
    else:
        tmp.append(df_raw_data.iloc[i , 0])
        data_source.append(tmp)
        tmp = []
        count = 1
data_source

[['with list1 as ( select distinct sd1_v0_unitid as unitid , calendar_timestamp , sd1_v0_sequentialcounter as seqcount , sd1_v1_...',
  'Succeeded',
  '4/19/2024 10:33 AM GMT',
  '12m 12s',
  'csso_sevinc.bayram_0',
  'Query',
  '830.7K',
  '41 GiB',
  '-',
  '1h 14m 18s',
  '352.9GiB·s'],
 ['with list1 as ( select distinct sd1_v0_unitid as unitid , calendar_timestamp , sd1_v0_sequentialcounter as seqcount , sd1_v1_...',
  'Succeeded',
  '4/19/2024 10:45 AM GMT',
  '9m 28s',
  'csso_sevinc.bayram_0',
  'Query',
  '450.1K',
  '41 GiB',
  '-',
  '1h 17m 24s',
  '390.3GiB·s'],
 ['select distinct sd1_v0_eventrecord_eventrecord_recordingheader_unitno_of1stunit as unitidof1stunit , sd1_v0_eventrecord_event...',
  'Succeeded',
  '4/19/2024 6:29 AM GMT',
  '5m 28s',
  'csso_damiano.tiero',
  'Query',
  '157.8K',
  '9.5 GiB',
  '-',
  '1m 36s',
  '2GiB·s'],
 ["with sd4 as ( select sd4_v0_unitid , cast ( concat ( '*****' , cast ( yearhcode as string ) , cast ( yearlcode as string ) , ...",
  'Succeeded',
  '4/19/2024 4:03 AM GMT',
  '3m 38s',
  'csso_todd.williams',
  'Query',
  '3K',
  '235 MiB',
  '-',
  '9s 119ms',
  '1.3MiB·s'],
 ["with sd1 as ( select cast ( concat ( '*****' , cast ( yearhcode as string ) , cast ( yearlcode as string ) , '*****' , cast (...",
  'Succeeded',
  '4/19/2024 9:37 AM GMT',
  '2m 44s',
  'csso_lewis.ford',
  'Query',
  '8',
  '347 MiB',
  '-',
  '6s 857ms',
  '42.1MiB·s'],
 ['insert into data_science . engine_cooling ( unitid , vehicleid , sc , date , coolanttemp_max , highpower , secondsover109 , d...',
  'Other Failures',
  '4/19/2024 3:30 PM GMT',
  '3s 245ms',
  'csso_james.sutherland',
  'DML',
  '1',
  '0',
  '2.1 KiB',
  '9ms',
  '-'],
 ["with sd4 as ( select sd4_v0_unitid , cast ( concat ( '*****' , cast ( yearhcode as string ) , cast ( yearlcode as string ) , ...",
  'Succeeded',
  '4/19/2024 4:14 AM GMT',
  '38s 208ms',
  'csso_todd.williams',
  'Query',
  '0',
  '6.1 MiB',
  '-',
  '6s 159ms',
  '497.9KiB·s'],
 ['describe formatted data_lake . ieplner_sd1',
  'Succeeded',
  '4/19/2024 4:17 PM GMT',
  '25s 990ms',
  'csso_james.sutherland',
  'DDL',
  '-',
  '0',
  '-',
  '-',
  '-'],
 ['get_tables',
  'Succeeded',
  '4/19/2024 4:17 PM GMT',
  '22ms',
  'csso_james.sutherland',
  'DDL',
  '-',
  '0',
  '-',
  '-',
  '-'],
 ['show functions in _impala_builtins',
  'Succeeded',
  '4/19/2024 4:17 PM GMT',
  '47ms',
  'csso_james.sutherland',
  'DDL',
  '-',
  '0',
  '-',
  '-',
  '-'],
 ['get_tables',
  'Succeeded',
  '4/19/2024 3:30 PM GMT',
  '16ms',
  'csso_james.sutherland',
  'DDL',
  '-',
  '0',
  '-',
  '-',
  '-'],
 ['describe formatted data_science . engine_cooling',
  'Succeeded',
  '4/19/2024 3:30 PM GMT',
  '22ms',
  'csso_james.sutherland',
  'DDL',
  '-',
  '0',
  '-',
  '-',
  '-'],
 ['get_tables',
  'Succeeded',
  '4/19/2024 3:30 PM GMT',
  '42ms',
  'csso_james.sutherland',
  'DDL',
  '-',
  '0',
  '-',
  '-',
  '-'],
 ['use data_science',
  'Succeeded',
  '4/19/2024 3:30 PM GMT',
  '1ms',
  'csso_james.sutherland',
  'DDL',
  '-',
  '0',
  '-',
  '-',
  '-'],
 ['get_tables',
  'Succeeded',
  '4/19/2024 3:30 PM GMT',
  '39ms',
  'csso_james.sutherland',
  'DDL',
  '-',
  '0',
  '-',
  '-',
  '-'],
 ['create table data_science . engine_cooling ( unitid int , vehicleid int , sc int , date string , coolanttemp_max float , high...',
  'Succeeded',
  '4/19/2024 3:30 PM GMT',
  '9s 862ms',
  'csso_james.sutherland',
  'DDL',
  '-',
  '0',
  '-',
  '-',
  '-'],
 ['use data_science',
  'Succeeded',
  '4/19/2024 3:30 PM GMT',
  '1ms',
  'csso_james.sutherland',
  'DDL',
  '-',
  '0',
  '-',
  '-',
  '-'],
 ['get_tables',
  'Succeeded',
  '4/19/2024 3:30 PM GMT',
  '26ms',
  'csso_james.sutherland',
  'DDL',
  '-',
  '0',
  '-',
  '-',
  '-'],
 ['insert into data_science . engine_cooling ( unitid , vehicleid , sc , date , coolanttemp_max , highpower , secondsover109 , d...',
  'Analysis Exception',
  '4/19/2024 3:30 PM GMT',
  '5ms',
  'csso_james.sutherland',
  '',
  '-',
  '0',
  '-',
  '-',
  '-'],
 ['use data_science',
  'Succeeded',
  '4/19/2024 3:30 PM GMT',
  '1ms',
  'csso_james.sutherland',
  'DDL',
  '-',
  '0',
  '-',
  '-',
  '-'],
 ['insert into data_science . engine_cooling ( unitid , vehicleid , sc , date , coolanttemp_max , highpower , secondsover109 , d...',
  'Other Failures',
  '4/19/2024 3:29 PM GMT',
  '0s',
  'csso_james.sutherland',
  '',
  '-',
  '0',
  '-',
  '-',
  '-'],
 ['use data_science',
  'Succeeded',
  '4/19/2024 3:29 PM GMT',
  '3ms',
  'csso_james.sutherland',
  'DDL',
  '-',
  '0',
  '-',
  '-',
  '-'],
 ['describe formatted data_science . engine_cooling',
  'Analysis Exception',
  '4/19/2024 3:23 PM GMT',
  '2ms',
  'csso_james.sutherland',
  '',
  '-',
  '0',
  '-',
  '-',
  '-'],
 ['get_tables',
  'Succeeded',
  '4/19/2024 3:23 PM GMT',
  '29ms',
  'csso_james.sutherland',
  'DDL',
  '-',
  '0',
  '-',
  '-',
  '-'],
 ['describe formatted data_lake . iepgw_sd15',
  'Succeeded',
  '4/19/2024 3:23 PM GMT',
  '30s 557ms',
  'csso_james.sutherland',
  'DDL',
  '-',
  '0',
  '-',
  '-',
  '-'],
 ['get_tables',
  'Succeeded',
  '4/19/2024 3:23 PM GMT',
  '118ms',
  'csso_james.sutherland',
  'DDL',
  '-',
  '0',
  '-',
  '-',
  '-'],
 ['show functions in _impala_builtins',
  'Succeeded',
  '4/19/2024 3:23 PM GMT',
  '83ms',
  'csso_james.sutherland',
  'DDL',
  '-',
  '0',
  '-',
  '-',
  '-'],
 ['get_tables',
  'Succeeded',
  '4/19/2024 12:28 PM GMT',
  '25ms',
  'csso_james.sutherland',
  'DDL',
  '-',
  '0',
  '-',
  '-',
  '-'],
 ['create table data_science . engine_cooling ( unitid int , vehicleid int , sc int , date string , coolanttemp_max float , high...',
  'Succeeded',
  '4/19/2024 12:28 PM GMT',
  '1h 41m 20s',
  'csso_james.sutherland',
  'DDL',
  '-',
  '0',
  '-',
  '-',
  '-'],
 ['use data_science',
  'Succeeded',
  '4/19/2024 12:28 PM GMT',
  '1ms',
  'csso_james.sutherland',
  'DDL',
  '-',
  '0',
  '-',
  '-',
  '-'],
 ["create table data_science . engine_cooling ( unitid int , vehicleid int , sc int , '*****' string , coolanttemp_max float , h...",
  'Other Failures',
  '4/19/2024 12:27 PM GMT',
  '1ms',
  'csso_james.sutherland',
  '',
  '-',
  '0',
  '-',
  '-',
  '-'],
 ['use data_science',
  'Succeeded',
  '4/19/2024 12:27 PM GMT',
  '1ms',
  'csso_james.sutherland',
  'DDL',
  '-',
  '0',
  '-',
  '-',
  '-'],
 ['create table data_science . engine_cooling ( unitid int , vehicleid int , sc int , date string , coolanttemp_max float , high...',
  'Other Failures',
  '4/19/2024 12:26 PM GMT',
  '1ms',
  'csso_james.sutherland',
  '',
  '-',
  '0',
  '-',
  '-',
  '-'],
 ['use data_science',
  'Succeeded',
  '4/19/2024 12:26 PM GMT',
  '75ms',
  'csso_james.sutherland',
  'DDL',
  '-',
  '0',
  '-',
  '-',
  '-'],
 ['show functions in _impala_builtins',
  'Succeeded',
  '4/19/2024 12:21 PM GMT',
  '63ms',
  'csso_james.sutherland',
  'DDL',
  '-',
  '0',
  '-',
  '-',
  '-'],
 ['use data_lake',
  'Succeeded',
  '4/19/2024 10:45 AM GMT',
  '3ms',
  'csso_sevinc.bayram_0',
  'DDL',
  '-',
  '0',
  '-',
  '-',
  '-'],
 ['use data_lake',
  'Succeeded',
  '4/19/2024 10:33 AM GMT',
  '3ms',
  'csso_sevinc.bayram_0',
  'DDL',
  '-',
  '0',
  '-',
  '-',
  '-'],
 ['show functions in _impala_builtins',
  'Succeeded',
  '4/19/2024 10:30 AM GMT',
  '45ms',
  'csso_sevinc.bayram_0',
  'DDL',
  '-',
  '0',
  '-',
  '-',
  '-'],
 ['use default',
  'Succeeded',
  '4/19/2024 9:37 AM GMT',
  '1ms',
  'csso_lewis.ford',
  'DDL',
  '-',
  '0',
  '-',
  '-',
  '-'],
 ['get_tables',
  'Succeeded',
  '4/19/2024 9:37 AM GMT',
  '31ms',
  'csso_lewis.ford',
  'DDL',
  '-',
  '0',
  '-',
  '-',
  '-'],
 ['show functions in _impala_builtins',
  'Succeeded',
  '4/19/2024 9:37 AM GMT',
  '42ms',
  'csso_lewis.ford',
  'DDL',
  '-',
  '0',
  '-',
  '-',
  '-'],
 ['use data_lake',
  'Succeeded',
  '4/19/2024 8:53 AM GMT',
  '1ms',
  'csso_sevinc.bayram_0',
  'DDL',
  '-',
  '0',
  '-',
  '-',
  '-'],
 ['with list1 as ( select distinct sd1_v0_unitid as unitid , calendar_timestamp , sd1_v0_sequentialcounter as seqcount , sd1_v1_...',
  'Other Failures',
  '4/19/2024 8:50 AM GMT',
  '1ms',
  'csso_sevinc.bayram_0',
  '',
  '-',
  '0',
  '-',
  '-',
  '-'],
 ['use data_lake',
  'Succeeded',
  '4/19/2024 8:50 AM GMT',
  '1ms',
  'csso_sevinc.bayram_0',
  'DDL',
  '-',
  '0',
  '-',
  '-',
  '-'],
 ['use data_lake',
  'Succeeded',
  '4/19/2024 8:50 AM GMT',
  '3ms',
  'csso_sevinc.bayram_0',
  'DDL',
  '-',
  '0',
  '-',
  '-',
  '-'],
 ['show functions in _impala_builtins',
  'Succeeded',
  '4/19/2024 8:49 AM GMT',
  '45ms',
  'csso_sevinc.bayram_0',
  'DDL',
  '-',
  '0',
  '-',
  '-',
  '-'],
 ['describe formatted data_lake . iepgw_sd3',
  'Succeeded',
  '4/19/2024 8:38 AM GMT',
  '31s 555ms',
  'csso_james.sutherland',
  'DDL',
  '-',
  '0',
  '-',
  '-',
  '-'],
 ['get_tables',
  'Succeeded',
  '4/19/2024 8:38 AM GMT',
  '119ms',
  'csso_james.sutherland',
  'DDL',
  '-',
  '0',
  '-',
  '-',
  '-'],
 ['show functions in _impala_builtins',
  'Succeeded',
  '4/19/2024 8:38 AM GMT',
  '80ms',
  'csso_james.sutherland',
  'DDL',
  '-',
  '0',
  '-',
  '-',
  '-'],
 ['invalidate metadata',
  'Succeeded',
  '4/19/2024 6:57 AM GMT',
  '4s 413ms',
  'csso_datateam.hrl',
  'DDL',
  '-',
  '0',
  '-',
  '-',
  '-'],
 ['use default',
  'Succeeded',
  '4/19/2024 6:57 AM GMT',
  '1ms',
  'csso_datateam.hrl',
  'DDL',
  '-',
  '0',
  '-',
  '-',
  '-'],
 ['show functions in _impala_builtins',
  'Succeeded',
  '4/19/2024 6:57 AM GMT',
  '42ms',
  'csso_datateam.hrl',
  'DDL',
  '-',
  '0',
  '-',
  '-',
  '-'],
 ['show functions in _impala_builtins',
  'Succeeded',
  '4/19/2024 6:30 AM GMT',
  '38ms',
  'csso_ian.davies',
  'DDL',
  '-',
  '0',
  '-',
  '-',
  '-'],
 ['use default',
  'Succeeded',
  '4/19/2024 4:14 AM GMT',
  '1ms',
  'csso_todd.williams',
  'DDL',
  '-',
  '0',
  '-',
  '-',
  '-'],
 ['describe formatted data_lake . iepwoe_sd5',
  'Succeeded',
  '4/19/2024 4:03 AM GMT',
  '1s 35ms',
  'csso_todd.williams',
  'DDL',
  '-',
  '0',
  '-',
  '-',
  '-'],
 ['get_tables',
  'Succeeded',
  '4/19/2024 4:03 AM GMT',
  '33ms',
  'csso_todd.williams',
  'DDL',
  '-',
  '0',
  '-',
  '-',
  '-'],
 ['describe formatted data_lake . iepwoe_sd4',
  'Succeeded',
  '4/19/2024 4:03 AM GMT',
  '28s 309ms',
  'csso_todd.williams',
  'DDL',
  '-',
  '0',
  '-',
  '-',
  '-'],
 ['get_tables',
  'Succeeded',
  '4/19/2024 4:03 AM GMT',
  '105ms',
  'csso_todd.williams',
  'DDL',
  '-',
  '0',
  '-',
  '-',
  '-'],
 ['use default',
  'Succeeded',
  '4/19/2024 4:03 AM GMT',
  '1ms',
  'csso_todd.williams',
  'DDL',
  '-',
  '0',
  '-',
  '-',
  '-'],
 ['show functions in _impala_builtins',
  'Succeeded',
  '4/19/2024 3:58 AM GMT',
  '59ms',
  'csso_todd.williams',
  'DDL',
  '-',
  '0',
  '-',
  '-',
  '-'],
 ['select sd1_v0_unitid as unitid , calendar_timestamp , sd1_v0_sequentialcounter as seqcount , sd1_v1_otmr_otmr_vehicleid1_otmr...',
  'Succeeded',
  '4/18/2024 12:11 PM GMT',
  '13m 51s',
  'csso_sevinc.bayram_0',
  'Query',
  '20.7M',
  '13 GiB',
  '-',
  '1m 46s',
  '14.1GiB·s'],
 ['select sd1_v0_unitid as unitid , calendar_timestamp , sd1_v0_sequentialcounter as seqcount , sd1_v1_otmr_otmr_vehicleid1_otmr...',
  'Succeeded',
  '4/18/2024 12:25 PM GMT',
  '7m 27s',
  'csso_sevinc.bayram_0',
  'Query',
  '11.4M',
  '6.9 GiB',
  '-',
  '52s 637ms',
  '375.2MiB·s'],
 ['select sd1_v0_unitid as unitid , calendar_timestamp , sd1_v0_sequentialcounter as seqcount , sd1_v1_otmr_otmr_vehicleid1_otmr...',
  'Succeeded',
  '4/18/2024 9:20 AM GMT',
  '8m 45s',
  'csso_sevinc.bayram_0',
  'Query',
  '4.4M',
  '40 GiB',
  '-',
  '4m 48s',
  '8.6GiB·s'],
 ['select sd1_v0_unitid as unitid , calendar_timestamp , sd1_v0_sequentialcounter as seqcount , sd1_v1_otmr_otmr_vehicleid1_otmr...',
  'Succeeded',
  '4/18/2024 9:13 AM GMT',
  '6m 49s',
  'csso_sevinc.bayram_0',
  'Query',
  '4.4M',
  '40 GiB',
  '-',
  '4m 49s',
  '7.3GiB·s'],
 ['select sd1_v0_unitid as unitid , calendar_timestamp , sd1_v0_sequentialcounter as seqcount , sd1_v1_otmr_otmr_vehicleid1_otmr...',
  'Succeeded',
  '4/18/2024 9:31 AM GMT',
  '7m 55s',
  'csso_sevinc.bayram_0',
  'Query',
  '1.5M',
  '12 GiB',
  '-',
  '1m 19s',
  '1.5GiB·s'],
 ['select sd1_v0_unitid as unitid , calendar_timestamp , sd1_v0_sequentialcounter as seqcount , sd1_v1_otmr_otmr_vehicleid1_otmr...',
  'Succeeded',
  '4/18/2024 10:13 AM GMT',
  '13m 37s',
  'csso_sevinc.bayram_0',
  'Query',
  '1.3M',
  '41 GiB',
  '-',
  '4m 46s',
  '12.8GiB·s'],
 ['with list1 as ( select sd1_v0_unitid as unitid , calendar_timestamp , sd1_v0_sequentialcounter as seqcount , sd1_v1_otmr_otmr...',
  'Succeeded',
  '4/18/2024 1:33 PM GMT',
  '10m 26s',
  'csso_sevinc.bayram_0',
  'Query',
  '822.8K',
  '41 GiB',
  '-',
  '34m 5s',
  '638.5GiB·s'],
 ['select sd1_v0_unitid as unitid , calendar_timestamp , sd1_v0_sequentialcounter as seqcount , sd1_v1_otmr_otmr_vehicleid1_otmr...',
  'Succeeded',
  '4/18/2024 10:32 AM GMT',
  '8m 19s',
  'csso_sevinc.bayram_0',
  'Query',
  '788.8K',
  '23 GiB',
  '-',
  '2m 40s',
  '3.3GiB·s'],
 ['with list1 as ( select sd1_v0_unitid as unitid , calendar_timestamp , sd1_v0_sequentialcounter as seqcount , sd1_v1_otmr_otmr...',
  'Succeeded',
  '4/18/2024 1:17 PM GMT',
  '12m 48s',
  'csso_sevinc.bayram_0',
  'Query',
  '546.7K',
  '25 GiB',
  '-',
  '19m 44s',
  '603GiB·s'],
 ['select sd1_v0_unitid as unitid , calendar_timestamp , sd1_v0_sequentialcounter as seqcount , sd1_v1_otmr_otmr_vehicleid1_otmr...',
  'Other Failures',
  '4/18/2024 12:33 PM GMT',
  '11m 20s',
  'csso_sevinc.bayram_0',
  'Query',
  '480.8K',
  '13 GiB',
  '-',
  '1m 39s',
  '4GiB·s'],
 ['select sd1_v0_unitid as unitid , calendar_timestamp , sd1_v0_sequentialcounter as seqcount , sd1_v1_otmr_otmr_vehicleid1_otmr...',
  'Other Failures',
  '4/18/2024 9:56 AM GMT',
  '10m 4s',
  'csso_sevinc.bayram_0',
  'Query',
  '419K',
  '12 GiB',
  '-',
  '1m 27s',
  '94.2MiB·s'],
 ['select sd1_v0_unitid as unitid , calendar_timestamp , sd1_v0_sequentialcounter as seqcount , sd1_v1_otmr_otmr_vehicleid1_otmr...',
  'Succeeded',
  '4/18/2024 9:52 AM GMT',
  '3m 9s',
  'csso_sevinc.bayram_0',
  'Query',
  '419K',
  '12 GiB',
  '-',
  '1m 27s',
  '117.6MiB·s'],
 ['with sd1 as ( select calendar_timestamp , sd1_v0_unitid as unitid , sd1_v1_otmr_otmr_vehicleid1_otmrdiinformation2_trainwarni...',
  'Succeeded',
  '4/18/2024 9:44 AM GMT',
  '2m 44s',
  'csso_sevinc.bayram_0',
  'Query',
  '244.9K',
  '8.7 GiB',
  '-',
  '12m 54s',
  '88GiB·s'],
 ['select distinct sd1_v0_eventrecord_eventrecord_recordingheader_unitno_of1stunit as unitidof1stunit , sd1_v0_eventrecord_event...',
  'Succeeded',
  '4/18/2024 9:24 AM GMT',
  '3m 11s',
  'csso_andy.vickers',
  'Query',
  '157.3K',
  '9.4 GiB',
  '-',
  '1m 40s',
  '6.9GiB·s'],
 ['( with cte as ( select sd3_v0_unitid as unitid , filename , sd3_v0_sequentialcounter as sequentialcounter , yearhcode * * * *...',
  'Succeeded',
  '4/18/2024 6:48 AM GMT',
  '4m 43s',
  'csso_james.sutherland',
  'Query',
  '1.5K',
  '18 GiB',
  '-',
  '10m 43s',
  '473MiB·s'],
 ['select month from data_lake . iepwoe_sd1 where ( year = * * * * * and month = * * * * * and day = * * * * * ) or ( year = * *...',
  'Succeeded',
  '4/18/2024 12:33 PM GMT',
  '573ms',
  'csso_sevinc.bayram_0',
  'Query',
  '100',
  '50 MiB',
  '-',
  '411ms',
  '0B·s'],
 ['select month from data_lake . iepwoe_sd1 where ( year = * * * * * and month = * * * * * and day = * * * * * ) or ( year = * *...',
  'Succeeded',
  '4/18/2024 12:33 PM GMT',
  '570ms',
  'csso_sevinc.bayram_0',
  'Query',
  '100',
  '50 MiB',
  '-',
  '412ms',
  '0B·s'],
 ['select sd1_v0_unitid as unitid , count ( calendar_timestamp ) from data_lake . iepgw_sd1 where year = * * * * * and ( sd1_v1_...',
  'Succeeded',
  '4/18/2024 9:29 AM GMT',
  '15s 276ms',
  'csso_sevinc.bayram_0',
  'Query',
  '56',
  '31 GiB',
  '-',
  '3m 55s',
  '467.1MiB·s'],
 ['select count ( calendar_timestamp ) from data_lake . iepwoe_sd1 where year = * * * * * and month = * * * * * and ( sd1_v1_otm...',
  'Succeeded',
  '4/18/2024 12:34 PM GMT',
  '4s 143ms',
  'csso_sevinc.bayram_0',
  'Query',
  '1',
  '5.3 GiB',
  '-',
  '42s 694ms',
  '21MiB·s'],
 ['select count ( calendar_timestamp ) from data_lake . iepgw_sd1 where year = * * * * * and ( sd1_v1_otmr_otmr_vehicleid1_otmrd...',
  'Succeeded',
  '4/18/2024 9:30 AM GMT',
  '7s 755ms',
  'csso_sevinc.bayram_0',
  'Query',
  '1',
  '31 GiB',
  '-',
  '4m 23s',
  '216.4MiB·s'],
 ['with data_list as ( select sd1_v0_unitid as unitid , substr ( filename , * * * * * , * * * * * ) as filename , lag ( cast ( c...',
  'Succeeded',
  '4/18/2024 5:27 PM GMT',
  '2m 24s',
  'csso_ian.davies',
  'Query',
  '0',
  '2 GiB',
  '-',
  '23s 7ms',
  '1MiB·s'],
 ['with data_list as ( select sd1_v0_unitid as unitid , substr ( filename , * * * * * , * * * * * ) as filename , lag ( cast ( c...',
  'Succeeded',
  '4/18/2024 1:18 PM GMT',
  '2m 34s',
  'csso_ian.davies',
  'Query',
  '0',
  '1.9 GiB',
  '-',
  '27s 159ms',
  '1006KiB·s'],
 ['with data_list as ( select sd1_v0_unitid as unitid , substr ( filename , * * * * * , * * * * * ) as filename , lag ( cast ( c...',
  'Succeeded',
  '4/18/2024 12:46 PM GMT',
  '3s 926ms',
  'csso_ian.davies',
  'Query',
  '0',
  '1.9 GiB',
  '-',
  '25s 156ms',
  '114.6KiB·s'],
 ['with data_list as ( select sd1_v0_unitid as unitid , substr ( filename , * * * * * , * * * * * ) as filename , lag ( cast ( c...',
  'Succeeded',
  '4/18/2024 12:42 PM GMT',
  '8s 996ms',
  'csso_ian.davies',
  'Query',
  '0',
  '1.9 GiB',
  '-',
  '24s 440ms',
  '967.8KiB·s'],
 ['use default',
  'Succeeded',
  '4/18/2024 5:27 PM GMT',
  '0s',
  'csso_ian.davies',
  'DDL',
  '-',
  '0',
  '-',
  '-',
  '-'],
 ['get_tables',
  'Succeeded',
  '4/18/2024 1:42 PM GMT',
  '20ms',
  'csso_james.sutherland',
  'DDL',
  '-',
  '0',
  '-',
  '-',
  '-'],
 ['get_tables',
  'Succeeded',
  '4/18/2024 1:38 PM GMT',
  '33ms',
  'csso_james.sutherland',
  'DDL',
  '-',
  '0',
  '-',
  '-',
  '-'],
 ['create table data_science . cars_parquet_managed ( id int , make string , model string , year int , color string ) stored as ...',
  'Succeeded',
  '4/18/2024 1:38 PM GMT',
  '49m 58s',
  'csso_james.sutherland',
  'DDL',
  '-',
  '0',
  '-',
  '-',
  '-'],
 ['use data_science',
  'Succeeded',
  '4/18/2024 1:38 PM GMT',
  '3ms',
  'csso_james.sutherland',
  'DDL',
  '-',
  '0',
  '-',
  '-',
  '-'],
 ['use data_lake',
  'Succeeded',
  '4/18/2024 1:33 PM GMT',
  '1ms',
  'csso_sevinc.bayram_0',
  'DDL',
  '-',
  '0',
  '-',
  '-',
  '-'],
 ['with list1 as ( select sd1_v0_unitid as unitid , calendar_timestamp , sd1_v0_sequentialcounter as seqcount , sd1_v1_otmr_otmr...',
  'Cancelled',
  '4/18/2024 1:33 PM GMT',
  '1s 831ms',
  'csso_sevinc.bayram_0',
  'Query',
  '-',
  '0',
  '-',
  '-',
  '-'],
 ['use data_lake',
  'Succeeded',
  '4/18/2024 1:33 PM GMT',
  '3ms',
  'csso_sevinc.bayram_0',
  'DDL',
  '-',
  '0',
  '-',
  '-',
  '-'],
 ['use default',
  'Succeeded',
  '4/18/2024 1:18 PM GMT',
  '1ms',
  'csso_ian.davies',
  'DDL',
  '-',
  '0',
  '-',
  '-',
  '-'],
 ['show functions in _impala_builtins',
  'Succeeded',
  '4/18/2024 1:17 PM GMT',
  '42ms',
  'csso_ian.davies',
  'DDL',
  '-',
  '0',
  '-',
  '-',
  '-'],
 ['use data_lake',
  'Succeeded',
  '4/18/2024 1:17 PM GMT',
  '2ms',
  'csso_sevinc.bayram_0',
  'DDL',
  '-',
  '0',
  '-',
  '-',
  '-'],
 ['with list1 as ( select sd1_v0_unitid as unitid , calendar_timestamp , sd1_v0_sequentialcounter as seqcount , sd1_v1_otmr_otmr...',
  'Analysis Exception',
  '4/18/2024 1:17 PM GMT',
  '41ms',
  'csso_sevinc.bayram_0',
  '',
  '-',
  '0',
  '-',
  '-',
  '-'],
 ['use data_lake',
  'Succeeded',
  '4/18/2024 1:17 PM GMT',
  '1ms',
  'csso_sevinc.bayram_0',
  'DDL',
  '-',
  '0',
  '-',
  '-',
  '-'],
 ['with list1 as ( select sd1_v0_unitid as unitid , calendar_timestamp , sd1_v0_sequentialcounter as seqcount , sd1_v1_otmr_otmr...',
  'Analysis Exception',
  '4/18/2024 1:16 PM GMT',
  '41ms',
  'csso_sevinc.bayram_0',
  '',
  '-',
  '0',
  '-',
  '-',
  '-'],

In [244]:
df = pd.DataFrame(data_source , columns = ['Query' , 'Status' , 'Start Time' , 'Duration' , 'User' , 'Statement' , 'Rows Produced' , 'Input' , 'Output' , 'CPU' , 'Memory'])
df

,Query,Status,Start Time,Duration,User,Statement,Rows Produced,Input,Output,CPU,Memory
0,with list1 as ( select distinct sd1_v0_unitid ...,Succeeded,4/19/2024 10:33 AM GMT,12m 12s,csso_sevinc.bayram_0,Query,830.7K,41 GiB,-,1h 14m 18s,352.9GiB·s
1,with list1 as ( select distinct sd1_v0_unitid ...,Succeeded,4/19/2024 10:45 AM GMT,9m 28s,csso_sevinc.bayram_0,Query,450.1K,41 GiB,-,1h 17m 24s,390.3GiB·s
2,select distinct sd1_v0_eventrecord_eventrecord...,Succeeded,4/19/2024 6:29 AM GMT,5m 28s,csso_damiano.tiero,Query,157.8K,9.5 GiB,-,1m 36s,2GiB·s
3,"with sd4 as ( select sd4_v0_unitid , cast ( co...",Succeeded,4/19/2024 4:03 AM GMT,3m 38s,csso_todd.williams,Query,3K,235 MiB,-,9s 119ms,1.3MiB·s
4,"with sd1 as ( select cast ( concat ( '*****' ,...",Succeeded,4/19/2024 9:37 AM GMT,2m 44s,csso_lewis.ford,Query,8,347 MiB,-,6s 857ms,42.1MiB·s
...,...,...,...,...,...,...,...,...,...,...,...
3326,get_tables,Succeeded,03/25/2024 1:15 PM GMT,20ms,csso_james.sutherland,DDL,-,0,-,-,-
3327,describe formatted data_lake . ieplner_sd3,Succeeded,03/25/2024 1:14 PM GMT,129ms,csso_sevinc.bayram_0,DDL,-,0,-,-,-
3328,get_tables,Succeeded,03/25/2024 1:14 PM GMT,21ms,csso_sevinc.bayram_0,DDL,-,0,-,-,-
3329,"with sd1 as ( select sd1_v0_unitid as unitid ,...",Cancelled,03/25/2024 1:13 PM GMT,10m 57s,csso_sevinc.bayram_0,Query,0,275 GiB,-,12m 54s,11.8GiB·s
3330,select distinct sd1_v0_eventrecord_eventrecord...,Succeeded,03/25/2024 1:10 PM GMT,23s 910ms,csso_richard.griggs,Query,24,191 MiB,-,3s 703ms,137.9MiB·s

In [245]:
df = df.drop(columns = ['Statement' , 'Rows Produced' , 'Output' ])
df

,Query,Status,Start Time,Duration,User,Input,CPU,Memory
0,with list1 as ( select distinct sd1_v0_unitid ...,Succeeded,4/19/2024 10:33 AM GMT,12m 12s,csso_sevinc.bayram_0,41 GiB,1h 14m 18s,352.9GiB·s
1,with list1 as ( select distinct sd1_v0_unitid ...,Succeeded,4/19/2024 10:45 AM GMT,9m 28s,csso_sevinc.bayram_0,41 GiB,1h 17m 24s,390.3GiB·s
2,select distinct sd1_v0_eventrecord_eventrecord...,Succeeded,4/19/2024 6:29 AM GMT,5m 28s,csso_damiano.tiero,9.5 GiB,1m 36s,2GiB·s
3,"with sd4 as ( select sd4_v0_unitid , cast ( co...",Succeeded,4/19/2024 4:03 AM GMT,3m 38s,csso_todd.williams,235 MiB,9s 119ms,1.3MiB·s
4,"with sd1 as ( select cast ( concat ( '*****' ,...",Succeeded,4/19/2024 9:37 AM GMT,2m 44s,csso_lewis.ford,347 MiB,6s 857ms,42.1MiB·s
...,...,...,...,...,...,...,...,...
3326,get_tables,Succeeded,03/25/2024 1:15 PM GMT,20ms,csso_james.sutherland,0,-,-
3327,describe formatted data_lake . ieplner_sd3,Succeeded,03/25/2024 1:14 PM GMT,129ms,csso_sevinc.bayram_0,0,-,-
3328,get_tables,Succeeded,03/25/2024 1:14 PM GMT,21ms,csso_sevinc.bayram_0,0,-,-
3329,"with sd1 as ( select sd1_v0_unitid as unitid ,...",Cancelled,03/25/2024 1:13 PM GMT,10m 57s,csso_sevinc.bayram_0,275 GiB,12m 54s,11.8GiB·s
3330,select distinct sd1_v0_eventrecord_eventrecord...,Succeeded,03/25/2024 1:10 PM GMT,23s 910ms,csso_richard.griggs,191 MiB,3s 703ms,137.9MiB·s

In [246]:
df = df.sort_values(by=['User' , 'Start Time' , 'Duration'])
df

,Query,Status,Start Time,Duration,User,Input,CPU,Memory
2947,get_schemas,Succeeded,03/27/2024 8:46 PM GMT,210ms,csso_ady.hibbert,0,-,-
2946,get_tables,Succeeded,03/27/2024 8:46 PM GMT,23ms,csso_ady.hibbert,0,-,-
2945,show functions in _impala_builtins,Succeeded,03/27/2024 8:46 PM GMT,45ms,csso_ady.hibbert,0,-,-
557,get_schemas,Succeeded,4/16/2024 1:17 AM GMT,148ms,csso_ady.hibbert,0,-,-
556,get_tables,Succeeded,4/16/2024 1:17 AM GMT,17ms,csso_ady.hibbert,0,-,-
...,...,...,...,...,...,...,...,...
56,describe formatted data_lake . iepwoe_sd4,Succeeded,4/19/2024 4:03 AM GMT,28s 309ms,csso_todd.williams,0,-,-
55,get_tables,Succeeded,4/19/2024 4:03 AM GMT,33ms,csso_todd.williams,0,-,-
3,"with sd4 as ( select sd4_v0_unitid , cast ( co...",Succeeded,4/19/2024 4:03 AM GMT,3m 38s,csso_todd.williams,235 MiB,9s 119ms,1.3MiB·s
53,use default,Succeeded,4/19/2024 4:14 AM GMT,1ms,csso_todd.williams,0,-,-
6,"with sd4 as ( select sd4_v0_unitid , cast ( co...",Succeeded,4/19/2024 4:14 AM GMT,38s 208ms,csso_todd.williams,6.1 MiB,6s 159ms,497.9KiB·s

In [247]:
def getTimeUsed(x):
    used = 0
    x = x.split(" ")
    for it in x:
        if "h" in it:
            used += int(it.replace("h" , "")) * 60 * 60 * 1000
        elif "m" in it and "s" not in it :
            used += int(it.replace("m" , "")) * 60 * 1000
        elif "s" in it and "m" not in it:
            used += int(it.replace("s" , "")) * 1000
        else:
            used += int(it.replace("ms" , ""))
    return used / 60000
    
df['DurationM'] = df['Duration'].apply(getTimeUsed)
df

,Query,Status,Start Time,Duration,User,Input,CPU,Memory,DurationM
2947,get_schemas,Succeeded,03/27/2024 8:46 PM GMT,210ms,csso_ady.hibbert,0,-,-,0.003500
2946,get_tables,Succeeded,03/27/2024 8:46 PM GMT,23ms,csso_ady.hibbert,0,-,-,0.000383
2945,show functions in _impala_builtins,Succeeded,03/27/2024 8:46 PM GMT,45ms,csso_ady.hibbert,0,-,-,0.000750
557,get_schemas,Succeeded,4/16/2024 1:17 AM GMT,148ms,csso_ady.hibbert,0,-,-,0.002467
556,get_tables,Succeeded,4/16/2024 1:17 AM GMT,17ms,csso_ady.hibbert,0,-,-,0.000283
...,...,...,...,...,...,...,...,...,...
56,describe formatted data_lake . iepwoe_sd4,Succeeded,4/19/2024 4:03 AM GMT,28s 309ms,csso_todd.williams,0,-,-,0.471817
55,get_tables,Succeeded,4/19/2024 4:03 AM GMT,33ms,csso_todd.williams,0,-,-,0.000550
3,"with sd4 as ( select sd4_v0_unitid , cast ( co...",Succeeded,4/19/2024 4:03 AM GMT,3m 38s,csso_todd.williams,235 MiB,9s 119ms,1.3MiB·s,3.633333
53,use default,Succeeded,4/19/2024 4:14 AM GMT,1ms,csso_todd.williams,0,-,-,0.000017
6,"with sd4 as ( select sd4_v0_unitid , cast ( co...",Succeeded,4/19/2024 4:14 AM GMT,38s 208ms,csso_todd.williams,6.1 MiB,6s 159ms,497.9KiB·s,0.636800

In [248]:
df = df.sort_values(by = ['User' , 'Start Time' , 'DurationM'])
df

,Query,Status,Start Time,Duration,User,Input,CPU,Memory,DurationM
2946,get_tables,Succeeded,03/27/2024 8:46 PM GMT,23ms,csso_ady.hibbert,0,-,-,0.000383
2945,show functions in _impala_builtins,Succeeded,03/27/2024 8:46 PM GMT,45ms,csso_ady.hibbert,0,-,-,0.000750
2947,get_schemas,Succeeded,03/27/2024 8:46 PM GMT,210ms,csso_ady.hibbert,0,-,-,0.003500
553,use default,Succeeded,4/16/2024 1:17 AM GMT,1ms,csso_ady.hibbert,0,-,-,0.000017
556,get_tables,Succeeded,4/16/2024 1:17 AM GMT,17ms,csso_ady.hibbert,0,-,-,0.000283
...,...,...,...,...,...,...,...,...,...
54,describe formatted data_lake . iepwoe_sd5,Succeeded,4/19/2024 4:03 AM GMT,1s 35ms,csso_todd.williams,0,-,-,0.017250
56,describe formatted data_lake . iepwoe_sd4,Succeeded,4/19/2024 4:03 AM GMT,28s 309ms,csso_todd.williams,0,-,-,0.471817
3,"with sd4 as ( select sd4_v0_unitid , cast ( co...",Succeeded,4/19/2024 4:03 AM GMT,3m 38s,csso_todd.williams,235 MiB,9s 119ms,1.3MiB·s,3.633333
53,use default,Succeeded,4/19/2024 4:14 AM GMT,1ms,csso_todd.williams,0,-,-,0.000017
6,"with sd4 as ( select sd4_v0_unitid , cast ( co...",Succeeded,4/19/2024 4:14 AM GMT,38s 208ms,csso_todd.williams,6.1 MiB,6s 159ms,497.9KiB·s,0.636800

In [249]:
df['Date'] = df['Start Time'].apply(lambda x : str(x).split(' ')[0])
df

,Query,Status,Start Time,Duration,User,Input,CPU,Memory,DurationM,Date
2946,get_tables,Succeeded,03/27/2024 8:46 PM GMT,23ms,csso_ady.hibbert,0,-,-,0.000383,03/27/2024
2945,show functions in _impala_builtins,Succeeded,03/27/2024 8:46 PM GMT,45ms,csso_ady.hibbert,0,-,-,0.000750,03/27/2024
2947,get_schemas,Succeeded,03/27/2024 8:46 PM GMT,210ms,csso_ady.hibbert,0,-,-,0.003500,03/27/2024
553,use default,Succeeded,4/16/2024 1:17 AM GMT,1ms,csso_ady.hibbert,0,-,-,0.000017,4/16/2024
556,get_tables,Succeeded,4/16/2024 1:17 AM GMT,17ms,csso_ady.hibbert,0,-,-,0.000283,4/16/2024
...,...,...,...,...,...,...,...,...,...,...
54,describe formatted data_lake . iepwoe_sd5,Succeeded,4/19/2024 4:03 AM GMT,1s 35ms,csso_todd.williams,0,-,-,0.017250,4/19/2024
56,describe formatted data_lake . iepwoe_sd4,Succeeded,4/19/2024 4:03 AM GMT,28s 309ms,csso_todd.williams,0,-,-,0.471817,4/19/2024
3,"with sd4 as ( select sd4_v0_unitid , cast ( co...",Succeeded,4/19/2024 4:03 AM GMT,3m 38s,csso_todd.williams,235 MiB,9s 119ms,1.3MiB·s,3.633333,4/19/2024
53,use default,Succeeded,4/19/2024 4:14 AM GMT,1ms,csso_todd.williams,0,-,-,0.000017,4/19/2024
6,"with sd4 as ( select sd4_v0_unitid , cast ( co...",Succeeded,4/19/2024 4:14 AM GMT,38s 208ms,csso_todd.williams,6.1 MiB,6s 159ms,497.9KiB·s,0.636800,4/19/2024

In [250]:
df_percent_usage = df.groupby(['User' , 'Date']).sum().reset_index().drop(["Query" , "Status" , "Start Time", "Duration","CPU","Input" , "Memory"] , axis = 1)
df_percent_usage

                     User        Date   DurationM
0        csso_ady.hibbert  03/27/2024    0.004633
1        csso_ady.hibbert   4/16/2024    3.676650
2        csso_ady.hibbert   4/17/2024    1.765233
3       csso_andy.vickers   4/12/2024    6.102683
4       csso_andy.vickers   4/15/2024    7.700017
..                    ...         ...         ...
98   csso_sevinc.bayram_0    4/9/2024  145.717433
99      csso_simon.pinder  03/28/2024    4.779950
100    csso_stuart.ogston   4/16/2024    4.093083
101    csso_todd.williams   4/15/2024    3.692833
102    csso_todd.williams   4/19/2024    4.762517

[103 rows x 3 columns]

In [251]:
arr_sum_by_day = []
checked = []
conver_pd_to_list = list(df_percent_usage.values)
for i in conver_pd_to_list:
    if i[1] not in checked:
        sum_tt = sum([it[2] for it in conver_pd_to_list if it[1] == i[1]])
        arr_sum_by_day.append([i[1] , sum_tt])
        checked.append(i[1])
    else:
        continue
arr_sum_by_day

[['03/27/2024', 110.69278333333334],
 ['4/16/2024', 207.8646],
 ['4/17/2024', 79.15643333333334],
 ['4/12/2024', 179.64033333333333],
 ['4/15/2024', 127.15383333333332],
 ['4/18/2024', 181.96471666666667],
 ['4/11/2024', 303.9365666666667],
 ['4/5/2024', 447.05246666666665],
 ['4/8/2024', 187.2008833333333],
 ['04/03/2024', 45.58841666666667],
 ['03/26/2024', 210.97233333333332],
 ['03/28/2024', 512.3739],
 ['03/29/2024', 7.021966666666667],
 ['04/02/2024', 163.51893333333334],
 ['4/10/2024', 68.00603333333333],
 ['4/19/2024', 137.74088333333333],
 ['4/9/2024', 177.56573333333333],
 ['03/25/2024', 122.09421666666668],
 ['04/04/2024', 54.124199999999995],
 ['4/7/2024', 58.29623333333333]]

In [252]:
def countPercitent(x):
    sum_tt = [ix[1] for ix in arr_sum_by_day if ix[0] == x[1]][0]
    return (x[2] / sum_tt) * 100

df_percent_usage['percent'] = df_percent_usage.apply(countPercitent , axis = 1)
df_percent_usage

C:\Users\khangnguyen1\AppData\Local\Temp\ipykernel_26984\2221663135.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  sum_tt = [ix[1] for ix in arr_sum_by_day if ix[0] == x[1]][0]
C:\Users\khangnguyen1\AppData\Local\Temp\ipykernel_26984\2221663135.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  return (x[2] / sum_tt) * 100

                     User        Date   DurationM    percent
0        csso_ady.hibbert  03/27/2024    0.004633   0.004186
1        csso_ady.hibbert   4/16/2024    3.676650   1.768772
2        csso_ady.hibbert   4/17/2024    1.765233   2.230057
3       csso_andy.vickers   4/12/2024    6.102683   3.397168
4       csso_andy.vickers   4/15/2024    7.700017   6.055670
..                    ...         ...         ...        ...
98   csso_sevinc.bayram_0    4/9/2024  145.717433  82.063938
99      csso_simon.pinder  03/28/2024    4.779950   0.932903
100    csso_stuart.ogston   4/16/2024    4.093083   1.969110
101    csso_todd.williams   4/15/2024    3.692833   2.904225
102    csso_todd.williams   4/19/2024    4.762517   3.457591

[103 rows x 4 columns]

In [253]:
df_percent_usage = df_percent_usage.sort_values(by = ['Date'])
df_percent_usage

                     User        Date   DurationM    percent
43  csso_james.sutherland  03/25/2024   13.557400  11.104048
62        csso_lewis.ford  03/25/2024    0.466033   0.381700
85   csso_sevinc.bayram_0  03/25/2024  102.048133  83.581464
79    csso_richard.griggs  03/25/2024    6.022650   4.932789
63        csso_lewis.ford  03/26/2024    6.872533   3.257552
..                    ...         ...         ...        ...
29     csso_damiano.tiero    4/9/2024    1.651000   0.929797
42        csso_ian.watson    4/9/2024    0.002467   0.001389
58  csso_james.sutherland    4/9/2024   24.941717  14.046470
98   csso_sevinc.bayram_0    4/9/2024  145.717433  82.063938
75     csso_matthew.jones    4/9/2024    2.846317   1.602965

[103 rows x 4 columns]

In [254]:
filter = []
conver_pd_to_list = list(df_percent_usage.values)
group_tmp = []
day = list(set(df['Date'].values))
for i in day  :
    list_day_match = [it for it in conver_pd_to_list if it[1] == i]
    for index in range(len(list_day_match)):
        if list_day_match[index][3] > 5:
            filter.append(list(list_day_match[index]))
        else :
            group_tmp.append(list(list_day_match[index]))
    if(len(group_tmp)) > 0 :
        filter.append(['Other' , group_tmp[0][1] ,sum([it1[2] for it1 in group_tmp]) , sum([it1[3] for it1 in group_tmp])])  
    group_tmp = []
filter

[['csso_karen.collins', '04/03/2024', 23.727833333333333, 52.04794346517115],
 ['csso_damiano.tiero', '04/03/2024', 8.384316666666667, 18.391331131263243],
 ['csso_richard.griggs', '04/03/2024', 4.638483333333333, 10.174697154430676],
 ['csso_connor.goodrich', '04/03/2024', 3.109633333333333, 6.821104045069927],
 ['csso_chris.fox', '04/03/2024', 5.728149999999999, 12.564924204064992],
 ['csso_damiano.tiero', '03/29/2024', 6.967616666666666, 99.22600031330254],
 ['Other', '03/29/2024', 0.05435, 0.7739996866974589],
 ['csso_james.sutherland', '4/8/2024', 89.18228333333333, 47.63988382177328],
 ['csso_bruno.corasolla', '4/8/2024', 88.76665, 47.41785851615907],
 ['Other', '4/8/2024', 9.251949999999999, 4.942257662067656],
 ['csso_patrick.eacott', '4/10/2024', 14.5834, 21.444273816881932],
 ['csso_james.sutherland', '4/10/2024', 29.6642, 43.61995332767044],
 ['csso_damiano.tiero', '4/10/2024', 4.951716666666666, 7.281290238464136],
 ['csso_sevinc.bayram_0', '4/10/2024', 16.76565, 24.653180281553453],
 ['Other', '4/10/2024', 2.0410666666666666, 3.0013023354300423],
 ['csso_james.sutherland',
  '03/25/2024',
  13.557400000000001,
  11.104047652816753],
 ['csso_sevinc.bayram_0', '03/25/2024', 102.04813333333334, 83.58146365928062],
 ['Other', '03/25/2024', 6.488683333333334, 5.314488687902635],
 ['csso_james.sutherland',
  '04/02/2024',
  149.75226666666666,
  91.58099530981937],
 ['csso_damiano.tiero', '04/02/2024', 13.766666666666667, 8.419004690180627],
 ['csso_anjala.mattapalli',
  '4/16/2024',
  12.184833333333334,
  5.861908825905582],
 ['csso_andy.vickers', '4/16/2024', 23.100033333333336, 11.113019404618841],
 ['csso_sevinc.bayram_0', '4/16/2024', 132.56303333333332, 63.773741817189325],
 ['csso_james.sutherland', '4/16/2024', 20.150066666666667, 9.693842369824717],
 ['Other', '4/16/2024', 19.866633333333333, 9.557487582461532],
 ['csso_anjala.mattapalli', '4/15/2024', 33.6573, 26.469748585374937],
 ['csso_james.sutherland', '4/15/2024', 59.877233333333336, 47.09038788973462],
 ['csso_lewis.ford', '4/15/2024', 14.97246666666667, 11.775080840399362],
 ['csso_andy.vickers', '4/15/2024', 7.7000166666666665, 6.05567010039021],
 ['csso_justin.exton', '4/15/2024', 6.411766666666667, 5.042527227518374],
 ['Other', '4/15/2024', 4.53505, 3.566585356582512],
 ['csso_sevinc.bayram_0', '04/04/2024', 54.11901666666666, 99.99042326106743],
 ['Other', '04/04/2024', 0.005183333333333333, 0.009576738932553893],
 ['csso_andy.vickers', '4/17/2024', 46.03338333333333, 58.15494887128567],
 ['csso_richard.griggs', '4/17/2024', 12.162700000000001, 15.365396706016316],
 ['csso_james.sutherland', '4/17/2024', 11.07155, 13.986923783411159],
 ['csso_sevinc.bayram_0', '4/17/2024', 4.392783333333333, 5.549496292783951],
 ['Other', '4/17/2024', 5.496016666666667, 6.943234346502895],
 ['csso_bruno.corasolla', '4/5/2024', 211.5533, 47.32180577760672],
 ['csso_sevinc.bayram_0', '4/5/2024', 48.083333333333336, 10.755635393727836],
 ['csso_matthew.jones', '4/5/2024', 180.00283333333334, 40.26436419766986],
 ['Other', '4/5/2024', 7.412999999999999, 1.6581946309955864],
 ['csso_james.sutherland', '4/9/2024', 24.941716666666668, 14.046469551557623],
 ['csso_sevinc.bayram_0', '4/9/2024', 145.71743333333333, 82.06393801206389],
 ['Other', '4/9/2024', 6.906583333333334, 3.8895924363784906],
 ['csso_matthew.jones', '4/7/2024', 58.291266666666665, 99.9914802957538],
 ['Other', '4/7/2024', 0.004966666666666667, 0.00851970424618629],
 ['csso_james.sutherland',
  '03/28/2024',
  487.42786666666666,
  95.13128335902094],
 ['Other', '03/28/2024', 24.946033333333332, 4.868716640979045],
 ['csso_sevinc.bayram_0', '4/12/2024', 90.39378333333333, 50.31931396252883],
 ['csso_james.sutherland', '4/12/2024', 73.86478333333332, 41.11815089781247],
 ['Other', '4/12/2024', 15.381766666666666, 8.562535139658689],
 ['csso_james.sutherland',
  '4/18/2024',
  54.688950000000006,
  30.054700164857966],
 ['csso_sevinc.bayram_0', '4/18/2024', 118.90255, 65.34373925787628],
 ['Other', '4/18/2024', 8.373216666666668, 4.601560577265757],
 ['csso_james.sutherland', '03/27/2024', 77.78508333333333, 70.27114233734298],
 ['csso_damiano.tiero', '03/27/2024', 14.501333333333333, 13.100522813366183],
 ['csso_sevinc.bayram_0', '03/27/2024', 15.534, 14.03343518178767],
 ['Other', '03/27/2024', 2.8723666666666667, 2.5948996675031655],
 ['csso_james.sutherland',
  '03/26/2024',
  84.61698333333334,
  40.108094742280585],
 ['csso_sevinc.bayram_0',
  '03/26/2024',
  111.73171666666667,
  52.960364471170784],
 ['Other', '03/26/2024', 14.623633333333334, 6.931540786548631],
 ['csso_james.sutherland', '4/11/2024', 73.53421666666667, 24.19393542314805],
 ['csso_sevinc.bayram_0', '4/11/2024', 18.9719, 6.242059061227359],
 ['csso_richard.griggs', '4/11/2024', 15.688616666666666, 5.1618062409294385],
 ['csso_bruno.corasolla', '4/11/2024', 140.0197, 46.06872464725918],
 ['csso_chris.fox', '4/11/2024', 55.607683333333334, 18.295818743757604],
 ['Other', '4/11/2024', 0.11445, 0.03765588367835963],
 ['csso_sevinc.bayram_0', '4/19/2024', 21.668366666666667, 15.731252872997162],
 ['csso_james.sutherland', '4/19/2024', 103.03386666666665, 74.8026759907764],
 ['Other', '4/19/2024', 13.03865, 9.46607113622644]]

In [104]:
df_percent_usage = pd.DataFrame(filter , columns = ['User' , 'Day', 'DurationM' , 'percent'])
df_percent_usage

                     User         Day   DurationM    percent
0      csso_karen.collins  04/03/2024   23.727833  52.047943
1      csso_damiano.tiero  04/03/2024    8.384317  18.391331
2     csso_richard.griggs  04/03/2024    4.638483  10.174697
3    csso_connor.goodrich  04/03/2024    3.109633   6.821104
4          csso_chris.fox  04/03/2024    5.728150  12.564924
..                    ...         ...         ...        ...
66         csso_chris.fox   4/11/2024   55.607683  18.295819
67                  Other   4/11/2024    0.114450   0.037656
68   csso_sevinc.bayram_0   4/19/2024   21.668367  15.731253
69  csso_james.sutherland   4/19/2024  103.033867  74.802676
70                  Other   4/19/2024   13.038650   9.466071

[71 rows x 4 columns]

In [105]:
list_user = list((set(df['User'].values)))
user_format = []
for index in range(len(list_user)) :
    user_format.append({'name' : list_user[index] , 'alias' : index})
user_format

[{'name': 'csso_damiano.tiero', 'alias': 0},
 {'name': 'csso_andy.vickers', 'alias': 1},
 {'name': 'csso_james.sutherland', 'alias': 2},
 {'name': 'csso_ady.hibbert', 'alias': 3},
 {'name': 'csso_karen.collins', 'alias': 4},
 {'name': 'csso_lewis.ford', 'alias': 5},
 {'name': 'csso_anjala.mattapalli', 'alias': 6},
 {'name': 'csso_matthew.jewell', 'alias': 7},
 {'name': 'csso_simon.pinder', 'alias': 8},
 {'name': 'csso_stuart.ogston', 'alias': 9},
 {'name': 'csso_connor.goodrich', 'alias': 10},
 {'name': 'csso_todd.williams', 'alias': 11},
 {'name': 'csso_datateam.hrl', 'alias': 12},
 {'name': 'csso_ian.davies', 'alias': 13},
 {'name': 'csso_matthew.jones', 'alias': 14},
 {'name': 'csso_bruno.corasolla', 'alias': 15},
 {'name': 'csso_ian.watson', 'alias': 16},
 {'name': 'csso_justin.exton', 'alias': 17},
 {'name': 'csso_patrick.eacott', 'alias': 18},
 {'name': 'csso_paul.currie', 'alias': 19},
 {'name': 'csso_richard.griggs', 'alias': 20},
 {'name': 'csso_chris.fox', 'alias': 21},
 {'name': 'csso_sevinc.bayram_0', 'alias': 22}]

In [106]:
def defineUser(x):
    return [ i['alias'] for i in user_format if x == i['name']][0]

df['alias'] = df['User'].apply(defineUser)
df

,Query,Status,Start Time,Duration,User,Input,CPU,Memory,DurationM,Date,alias
2946,get_tables,Succeeded,03/27/2024 8:46 PM GMT,23ms,csso_ady.hibbert,0,-,-,0.000383,03/27/2024,3
2945,show functions in _impala_builtins,Succeeded,03/27/2024 8:46 PM GMT,45ms,csso_ady.hibbert,0,-,-,0.000750,03/27/2024,3
2947,get_schemas,Succeeded,03/27/2024 8:46 PM GMT,210ms,csso_ady.hibbert,0,-,-,0.003500,03/27/2024,3
553,use default,Succeeded,4/16/2024 1:17 AM GMT,1ms,csso_ady.hibbert,0,-,-,0.000017,4/16/2024,3
556,get_tables,Succeeded,4/16/2024 1:17 AM GMT,17ms,csso_ady.hibbert,0,-,-,0.000283,4/16/2024,3
...,...,...,...,...,...,...,...,...,...,...,...
54,describe formatted data_lake . iepwoe_sd5,Succeeded,4/19/2024 4:03 AM GMT,1s 35ms,csso_todd.williams,0,-,-,0.017250,4/19/2024,11
56,describe formatted data_lake . iepwoe_sd4,Succeeded,4/19/2024 4:03 AM GMT,28s 309ms,csso_todd.williams,0,-,-,0.471817,4/19/2024,11
3,"with sd4 as ( select sd4_v0_unitid , cast ( co...",Succeeded,4/19/2024 4:03 AM GMT,3m 38s,csso_todd.williams,235 MiB,9s 119ms,1.3MiB·s,3.633333,4/19/2024,11
53,use default,Succeeded,4/19/2024 4:14 AM GMT,1ms,csso_todd.williams,0,-,-,0.000017,4/19/2024,11
6,"with sd4 as ( select sd4_v0_unitid , cast ( co...",Succeeded,4/19/2024 4:14 AM GMT,38s 208ms,csso_todd.williams,6.1 MiB,6s 159ms,497.9KiB·s,0.636800,4/19/2024,11

In [190]:
df[df['Status'] == 'Succeeded'].sort_values(by=['DurationM' , 'Input' , 'Memory'] , ascending = False).head(20)

,Query,Status,Start Time,Duration,User,Input,CPU,Memory,DurationM,Date,alias
28,create table data_science . engine_cooling ( u...,Succeeded,4/19/2024 12:28 PM GMT,1h 41m 20s,csso_james.sutherland,0,-,-,101.333333,4/19/2024,2
847,create external table default . cars_parquet_e...,Succeeded,4/12/2024 12:55 PM GMT,1h 1m 10s,csso_james.sutherland,0,-,-,61.166667,4/12/2024,2
87,create table data_science . cars_parquet_manag...,Succeeded,4/18/2024 1:38 PM GMT,49m 58s,csso_james.sutherland,0,-,-,49.966667,4/18/2024,2
2196,"select ieplner_sd1 . calendar_timestamp , iepl...",Succeeded,4/5/2024 4:25 PM GMT,43m 24s,csso_bruno.corasolla,587 GiB,1h 59m 50s,7.3TiB·s,43.400000,4/5/2024,15
2905,"with cte1 as ( select distinct year , month , ...",Succeeded,03/28/2024 12:29 PM GMT,30m 14s,csso_james.sutherland,39 GiB,5h 17m 52s,1.9TiB·s,30.233333,03/28/2024,2
2197,"select ieplner_sd1 . calendar_timestamp , iepl...",Succeeded,4/5/2024 5:35 PM GMT,27m 54s,csso_bruno.corasolla,602 GiB,1h 49m 5s,873.9GiB·s,27.900000,4/5/2024,15
2201,create external table ieplner_data_warehouse ....,Succeeded,4/5/2024 1:12 PM GMT,26m 48s,csso_matthew.jones,15 GiB,11m 50s,11.8GiB·s,26.800000,4/5/2024,14
2198,create external table ieplner_data_warehouse ....,Succeeded,4/7/2024 7:41 PM GMT,26m 45s,csso_matthew.jones,9.5 GiB,6m 40s,146.6GiB·s,26.750000,4/7/2024,14
2204,create external table asrasr_data_warehouse . ...,Succeeded,4/5/2024 2:29 PM GMT,25m 28s,csso_matthew.jones,53 MiB,6s 240ms,179.4MiB·s,25.466667,4/5/2024,14
2903,"with cte1 as ( select distinct year , month , ...",Succeeded,03/28/2024 12:59 PM GMT,24m 34s,csso_james.sutherland,40 GiB,6h 9m 22s,6.3TiB·s,24.566667,03/28/2024,2
2878,"with cte1 as ( select distinct year , month , ...",Succeeded,03/28/2024 3:12 PM GMT,24m 13s,csso_james.sutherland,43 GiB,5h 52m 59s,3.1TiB·s,24.216667,03/28/2024,2
2874,"with cte1 as ( select distinct year , month , ...",Succeeded,03/28/2024 3:59 PM GMT,23m 38s,csso_james.sutherland,46 GiB,6h 23m 1s,4TiB·s,23.633333,03/28/2024,2
2872,"with cte1 as ( select distinct year , month , ...",Succeeded,03/28/2024 4:23 PM GMT,23m 1s,csso_james.sutherland,64 GiB,6h 38m 41s,4.7TiB·s,23.016667,03/28/2024,2
2876,"with cte1 as ( select distinct year , month , ...",Succeeded,03/28/2024 3:36 PM GMT,22m 55s,csso_james.sutherland,45 GiB,6h 17m 14s,2.8TiB·s,22.916667,03/28/2024,2
2864,"with cte1 as ( select distinct year , month , ...",Succeeded,03/28/2024 5:10 PM GMT,22m 47s,csso_james.sutherland,65 GiB,6h 7m 46s,2.7TiB·s,22.783333,03/28/2024,2
2891,"with cte1 as ( select distinct year , month , ...",Succeeded,03/28/2024 2:09 PM GMT,21m 48s,csso_james.sutherland,41 GiB,6h 12m 46s,5TiB·s,21.800000,03/28/2024,2
2870,"with cte1 as ( select distinct year , month , ...",Succeeded,03/28/2024 4:46 PM GMT,21m 37s,csso_james.sutherland,67 GiB,6h 14m 36s,3.4TiB·s,21.616667,03/28/2024,2
2860,"with cte1 as ( select distinct year , month , ...",Succeeded,03/28/2024 6:06 PM GMT,20m 29s,csso_james.sutherland,20 GiB,2h 43m 42s,2TiB·s,20.483333,03/28/2024,2
2802,"with cte1 as ( select distinct year , month , ...",Succeeded,04/02/2024 10:03 AM GMT,20m 20s,csso_james.sutherland,42 GiB,3h 17m 28s,9.7TiB·s,20.333333,04/02/2024,2
2830,"with cte1 as ( select distinct year , month , ...",Succeeded,04/02/2024 10:03 AM GMT,20m 20s,csso_james.sutherland,42 GiB,3h 17m 28s,9.7TiB·s,20.333333,04/02/2024,2

In [124]:
df.to_csv('detail_user_usage.csv' , index = False)
df_percent_usage.to_csv('percent_user_usage.csv' , index = False)

In [ ]:
list((set(df['User'].values)))

In [212]:
df_query_select=df[['Query' , 'User', 'DurationM']]
df_query_select

,Query,User,DurationM
2946,get_tables,csso_ady.hibbert,0.000383
2945,show functions in _impala_builtins,csso_ady.hibbert,0.000750
2947,get_schemas,csso_ady.hibbert,0.003500
553,use default,csso_ady.hibbert,0.000017
556,get_tables,csso_ady.hibbert,0.000283
...,...,...,...
54,describe formatted data_lake . iepwoe_sd5,csso_todd.williams,0.017250
56,describe formatted data_lake . iepwoe_sd4,csso_todd.williams,0.471817
3,"with sd4 as ( select sd4_v0_unitid , cast ( co...",csso_todd.williams,3.633333
53,use default,csso_todd.williams,0.000017
6,"with sd4 as ( select sd4_v0_unitid , cast ( co...",csso_todd.williams,0.636800

In [213]:
df_query_select = df_query_select.groupby(by=['Query']).agg({'User': 'count', 'DurationM': 'sum'}).reset_index().sort_values(by=['DurationM' ,'User'],ascending=False).reset_index()
df_query_select

,index,Query,User,DurationM
0,339,"with cte1 as ( select distinct year , month , ...",43,610.916783
1,5,( with gwr as ( select sd1_v0_unitid as unitid...,43,316.846033
2,160,select distinct sd1_v0_eventrecord_eventrecord...,23,182.283333
3,167,"select ieplner_sd1 . calendar_timestamp , iepl...",10,182.066700
4,338,"with cte as ( select sd3_v0_unitid as unitid ,...",41,161.381417
...,...,...,...,...
368,329,use iepgw_data_warehouse,1,0.000017
369,351,with event as select distinct sd1_v0_eventreco...,1,0.000017
370,54,describe formatted data_lake . iepl_sd1,1,0.000000
371,98,metadata,1,0.000000
372,140,select count ( * ) from asrasr_data_warehouse ...,1,0.000000

In [259]:
df_query_select.head(30)

    index                                              Query  User   DurationM
0     339  with cte1 as ( select distinct year , month , ...    43  610.916783
1       5  ( with gwr as ( select sd1_v0_unitid as unitid...    43  316.846033
2     160  select distinct sd1_v0_eventrecord_eventrecord...    23  182.283333
3     167  select ieplner_sd1 . calendar_timestamp , iepl...    10  182.066700
4     338  with cte as ( select sd3_v0_unitid as unitid ,...    41  161.381417
5       3  ( with cte as ( select distinct sd3_v0_unitid ...    15  135.080000
6     164  select ieplner_sd1 . calendar_timestamp , iepl...     9  127.066683
7      13  create external table ieplner_data_warehouse ....     6  108.651017
8      17  create table data_science . engine_cooling ( u...     3  101.497717
9     210  select sd1_v0_unitid as unitid , calendar_time...    12   91.266700
10    354  with list as ( select sd1_v0_unitid as unitid ...    17   85.534250
11    350  with event as ( select distinct sd1_v0_eventre...    17   79.721317
12    159  select distinct sd1_v0_eventrecord_eventrecord...    32   72.514750
13     10  create external table default . cars_parquet_e...     1   61.166667
14    158  select distinct ieplner_sd1 . calendar_timesta...     2   59.000000
15     15  create table data_science . cars_parquet_manag...     1   49.966667
16    128  select calendar_timestamp , sd3_v0_unitid as u...     3   44.966667
17     12  create external table ieplner_data_warehouse ....     3   42.222450
18    341  with cte1 as ( select sd1_v0_unitid as unitid ...     4   39.166667
19    353  with list as ( select sd1_v0_unitid , calendar...     1   37.216667
20    135  select concat ( '*****' , cast ( yearhcode as ...     3   33.400000
21    362  with sd1 as ( select sd1_v0_ethernetapplicatio...    23   31.174817
22      4  ( with cte as ( select sd3_v0_unitid as unitid...     3   31.033333
23    165  select ieplner_sd1 . calendar_timestamp , iepl...     5   30.903233
24    254  select sd3_v0_unitid as unitid , filename , sd...     2   28.383333
25      9  create external table asrasr_data_warehouse . ...     3   27.883300
26      8  create external table asrasr_data_warehouse . ...     3   27.085867
27      1  ( with cte as ( select distinct sd1_v0_unitid ...     3   26.416667
28    119  select * from data_lake . ieplner_sd1 where ( ...     5   24.303500
29    346  with data_list as ( select sd1_v0_eventrecord_...     8   23.701700

In [289]:
# optimise_query = df[df["Query"].str.contains("with cte as \( select sd3_v0_unitid as unitid ,..")]
# optimise_query
df[df["Query"].str.contains("\( with cte as \( select distinct sd3_v0_unitid as unitid , yearhcode \* \* \* \* \* \*")].to_csv("capture-data.csv")

In [179]:
# optimise_query.groupby(by=['Query']).agg({'User': 'count', 'DurationM': 'sum'}).reset_index()

                                               Query  User   DurationM
0  ( with cte as ( select distinct sd1_v0_unitid ...     3   26.416667
1  ( with cte as ( select distinct sd3_v0_unitid ...     1   10.266667
2  with cte1 as ( select distinct year , month , ...    43  610.916783

In [287]:
list_query = list(df['Query'].values)
[i for i in list_query if i.find("( with cte as ( select distinct sd3_v0_unitid as unitid , yearhcode") > - 1]

['( with cte as ( select distinct sd3_v0_unitid as unitid , yearhcode , yearlcode , monthhcode , monthlcode , dayhcode , daylco...',
 '( with cte as ( select distinct sd3_v0_unitid as unitid , yearhcode , yearlcode , monthhcode , monthlcode , dayhcode , daylco...',
 '( with cte as ( select distinct sd3_v0_unitid as unitid , yearhcode , yearlcode , monthhcode , monthlcode , dayhcode , daylco...',
 '( with cte as ( select distinct sd3_v0_unitid as unitid , yearhcode , yearlcode , monthhcode , monthlcode , dayhcode , daylco...',
 '( with cte as ( select distinct sd3_v0_unitid as unitid , yearhcode , yearlcode , monthhcode , monthlcode , dayhcode , daylco...',
 '( with cte as ( select distinct sd3_v0_unitid as unitid , yearhcode , yearlcode , monthhcode , monthlcode , dayhcode , daylco...',
 '( with cte as ( select distinct sd3_v0_unitid as unitid , yearhcode , yearlcode , monthhcode , monthlcode , dayhcode , daylco...',
 '( with cte as ( select distinct sd3_v0_unitid as unitid , yearhcode , yearlcode , monthhcode , monthlcode , dayhcode , daylco...',
 '( with cte as ( select distinct sd3_v0_unitid as unitid , yearhcode , yearlcode , monthhcode , monthlcode , dayhcode , daylco...',
 '( with cte as ( select distinct sd3_v0_unitid as unitid , yearhcode , yearlcode , monthhcode , monthlcode , dayhcode , daylco...',
 '( with cte as ( select distinct sd3_v0_unitid as unitid , yearhcode , yearlcode , monthhcode , monthlcode , dayhcode , daylco...',
 '( with cte as ( select distinct sd3_v0_unitid as unitid , yearhcode , yearlcode , monthhcode , monthlcode , dayhcode , daylco...',
 '( with cte as ( select distinct sd3_v0_unitid as unitid , yearhcode , yearlcode , monthhcode , monthlcode , dayhcode , daylco...',
 '( with cte as ( select distinct sd3_v0_unitid as unitid , yearhcode , yearlcode , monthhcode , monthlcode , dayhcode , daylco...',
 '( with cte as ( select distinct sd3_v0_unitid as unitid , yearhcode , yearlcode , monthhcode , monthlcode , dayhcode , daylco...',
 '( with cte as ( select distinct sd3_v0_unitid as unitid , yearhcode * * * * * * + yearlcode as yearcode , monthhcode * * * * ...']

In [130]:
list_query

['get_tables',
 'show functions in _impala_builtins',
 'get_schemas',
 'use default',
 'get_tables',
 'get_tables',
 'get_tables',
 'show functions in _impala_builtins',
 'get_schemas',
 'describe formatted data_lake . ieptpe_sd1',
 'describe formatted data_lake . ieptpe_sd14',
 'with sd1 as ( select sd1_v0_ethernetapplication_commondataofsdr_mlcsdr1_commondatatrainid , sd1_v0_ethernetapplication_common...',
 'use default',
 'show functions in _impala_builtins',
 'with sd1 as ( select sd1_v0_ethernetapplication_commondataofsdr_mlcsdr1_commondatatrainid , sd1_v0_ethernetapplication_common...',
 'show functions in _impala_builtins',
 'use default',
 'with sd1 as ( select sd1_v0_ethernetapplication_commondataofsdr_mlcsdr1_commondatatrainid , sd1_v0_ethernetapplication_common...',
 'use default',
 'with sd1 as ( select sd1_v0_ethernetapplication_commondataofsdr_mlcsdr1_commondatatrainid , sd1_v0_ethernetapplication_common...',
 'get_schemas',
 'use default',
 'select distinct sd1_v0_eventrecord_eventrecord_recordingheader_unitno_of1stunit as unitidof1stunit , sd1_v0_eventrecord_event...',
 'use default',
 'select distinct sd1_v0_eventrecord_eventrecord_recordingheader_unitno_of1stunit as unitidof1stunit , sd1_v0_eventrecord_event...',
 'use default',
 'select distinct sd1_v0_eventrecord_eventrecord_recordingheader_unitno_of1stunit as unitidof1stunit , sd1_v0_eventrecord_event...',
 'use default',
 'select distinct sd1_v0_eventrecord_eventrecord_recordingheader_unitno_of1stunit as unitidof1stunit , sd1_v0_eventrecord_event...',
 'use default',
 'select distinct sd1_v0_eventrecord_eventrecord_recordingheader_unitno_of1stunit as unitidof1stunit , sd1_v0_eventrecord_event...',
 'use default',
 'select distinct sd1_v0_eventrecord_eventrecord_recordingheader_unitno_of1stunit as unitidof1stunit , sd1_v0_eventrecord_event...',
 'use default',
 'select distinct sd1_v0_eventrecord_eventrecord_recordingheader_unitno_of1stunit as unitidof1stunit , sd1_v0_eventrecord_event...',
 'use default',
 'select distinct sd1_v0_eventrecord_eventrecord_recordingheader_unitno_of1stunit as unitidof1stunit , sd1_v0_eventrecord_event...',
 'select distinct sd1_v0_eventrecord_eventrecord_recordingheader_unitno_of1stunit as unitidof1stunit , sd1_v0_eventrecord_event...',
 'select sd4_v0_unitid as unitid , year , month , day , sum ( sd4_v0_sdnumber ) / * * * * * as totalhours , sum ( sd4_v2_bcumon...',
 'use default',
 'get_schemas',
 'get_tables',
 'show functions in _impala_builtins',
 'select sd4_v0_unitid as unitid , year , month , day , sum ( sd4_v0_sdnumber ) / * * * * * as totalhours , sum ( sd4_v2_bcumon...',
 'use default',
 'select sd4_v0_unitid as unitid , year , month , day , sum ( sd4_v0_sdnumber ) / * * * * * as totalhours , sum ( sd4_v2_bcumon...',
 'use default',
 'use data_lake',
 'select sd4_v0_unitid as unitid , year , month , day , sum ( sd4_v0_sdnumber ) / * * * * * as totalhours , sum ( sd4_v2_bcumon...',
 'use data_lake',
 'select sd4_v0_unitid as unitid , year , month , day , sum ( sd4_v0_sdnumber ) / * * * * * as totalhours , sum ( sd4_v2_bcumon...',
 'use default',
 'select sd4_v0_unitid as unitid , year , month , day , sum ( sd4_v0_sdnumber ) / * * * * * as totalhours , sum ( sd4_v2_bcumon...',
 'get_tables',
 'with cte1 as ( select sd4_v0_unitid as unitid , year , month , day , count ( sd4_v0_sdnumber ) / ( * * * * * ) as totalhours ...',
 'use data_lake',
 'with cte1 as ( select sd4_v0_unitid as unitid , year , month , day , count ( sd4_v0_sdnumber ) / ( * * * * * ) as totalhours ...',
 'use data_lake',
 'use data_lake',
 'with cte1 as ( select sd4_v0_unitid as unitid , year , month , day , count ( sd4_v0_sdnumber ) / ( * * * * * ) as totalhours ...',
 'use data_lake',
 'with cte1 as ( select sd4_v0_unitid as unitid , year , month , day , count ( sd4_v0_sdnumber ) / ( * * * * * ) as totalhours ...',
 'use data_lake',
 'with cte1 as ( select sd4_v0_unitid as unitid , year , month , sum ( sd4_v0_sdnumber ) / * * * * * as totalhours , sum ( sd4_...',
 'use data_lake',
 'with cte1 as ( select sd4_v0_unitid as unitid , year , month , sum ( sd4_v0_sdnumber ) / * * * * * as totalhours , sum ( sd4_...',
 'use data_lake',
 'use data_lake',
 'select sd4_v0_unitid as unitid , year , month , day , sum ( sd4_v0_sdnumber ) / * * * * * as totalhours , sum ( sd4_v2_bcumon...',
 'select sd4_v0_unitid as unitid , year , month , day , sum ( sd4_v0_sdnumber ) / * * * * * as totalhours , sum ( sd4_v2_bcumon...',
 'use data_lake',
 'select sd4_v0_unitid as unitid , year , month , day , sum ( sd4_v0_sdnumber ) / * * * * * as totalhours , sum ( sd4_v2_bcumon...',
 'use data_lake',
 'use data_lake',
 'use data_lake',
 'select sd4_v0_unitid as unitid , year , month , sum ( sd4_v0_sdnumber ) / * * * * * as totalhours , sum ( sd4_v2_bcumonitorin...',
 'select sd4_v0_unitid as unitid , year , month , count ( sd4_v0_sdnumber ) / * * * * * as totalhours , sum ( sd4_v2_bcumonitor...',
 'select sd4_v0_unitid as unitid , year , month , sum ( sd4_v0_sdnumber ) / * * * * * as totalhours , sum ( sd4_v2_bcumonitorin...',
 'use data_lake',
 'with cte1 as ( select sd4_v0_unitid as unitid , year , month , count ( sd4_v0_sdnumber ) / * * * * * as totalhours , sum ( sd...',
 'use data_lake',
 'use data_lake',
 'with cte1 as ( select sd4_v0_unitid as unitid , year , month , count ( sd4_v0_sdnumber ) / * * * * * as totalhours , sum ( sd...',
 'with cte1 as ( select sd4_v0_unitid as unitid , year , month , count ( sd4_v0_sdnumber ) / * * * * * as totalhours , sum ( sd...',
 'use data_lake',
 'with cte1 as ( select sd4_v0_unitid as unitid , year , month , count ( sd4_v0_sdnumber ) / * * * * * as totalhours , sum ( sd...',
 '= ( { $yy } )',
 'use data_lake',
 'with cte1 as ( select sd4_v0_unitid as unitid , year , month , count ( sd4_v0_sdnumber ) / * * * * * as totalhours , sum ( sd...',
 'use data_lake',
 'with cte1 as ( select sd4_v0_unitid as unitid , year , month , count ( sd4_v0_sdnumber ) / * * * * * as totalhours , sum ( sd...',
 'use data_lake',
 'with cte1 as ( select sd4_v0_unitid as unitid , year , month , count ( sd4_v0_sdnumber ) / * * * * * as totalhours , sum ( sd...',
 'use data_lake',
 'with cte1 as ( select sd4_v0_unitid as unitid , year , month , count ( sd4_v0_sdnumber ) / * * * * * as totalhours , sum ( sd...',
 'use data_lake',
 'with cte1 as ( select sd4_v0_unitid as unitid , year , month , count ( sd4_v0_sdnumber ) / * * * * * as totalhours , sum ( sd...',
 'use data_lake',
 'with cte1 as ( select sd4_v0_unitid as unitid , year , month , count ( sd4_v0_sdnumber ) / * * * * * as totalhours , sum ( sd...',
 'use data_lake',
 'with cte1 as ( select sd4_v0_unitid as unitid , year , month , count ( sd4_v0_sdnumber ) / * * * * * as totalhours , sum ( sd...',
 'use data_lake',
 'with cte1 as ( select sd4_v0_unitid as unitid , year , month , count ( sd4_v0_sdnumber ) / * * * * * as totalhours , sum ( sd...',
 'use data_lake',
 'with cte1 as ( select sd4_v0_unitid as unitid , year , month , count ( sd4_v0_sdnumber ) / * * * * * as totalhours , sum ( sd...',
 'use data_lake',
 'with cte1 as ( select sd4_v0_unitid as unitid , year , month , count ( sd4_v0_sdnumber ) / * * * * * as totalhours , sum ( sd...',
 'use data_lake',
 'with cte1 as ( select sd4_v0_unitid as unitid , year , month , day , count ( sd4_v0_sdnumber ) / * * * * * as totalhours , su...',
 'use data_lake',
 'with cte1 as ( select sd4_v0_unitid as unitid , year , month , day , count ( sd4_v0_sdnumber ) / * * * * * as totalhours , su...',
 'show functions in _impala_builtins',
 'use data_lake',
 'with cte1 as ( select sd4_v0_unitid as unitid , year , month , day , count ( sd4_v0_sdnumber ) / * * * * * as totalhours , su...',
 'describe formatted data_lake . cte1',
 'describe formatted data_lake . cte1',
 'use data_lake',
 'get_tables',
 'get_tables',
 'with cte1 as ( select sd4_v0_unitid as unitid , year , month , day , count ( sd4_v0_sdnumber ) / * * * * * as totalhours , su...',
 'show functions in _impala_builtins',
 'use data_lake',
 'show functions in _impala_builtins',
 'with cte1 as ( select sd4_v0_unitid as unitid , year , month , day , count ( sd4_v0_sdnumber ) / * * * * * as totalhours , su...',
 'use data_lake',
 'with cte1 as ( select sd4_v0_unitid as unitid , year , month , day , count ( sd4_v0_sdnumber ) / * * * * * as totalhours , su...',
 'use data_lake',
 'with cte1 as ( select sd4_v0_unitid as unitid , year , month , day , count ( sd4_v0_sdnumber ) / * * * * * as totalhours , su...',
 'use data_lake',
 'with cte1 as ( select sd4_v0_unitid as unitid , year , month , day , count ( sd4_v0_sdnumber ) / * * * * * as totalhours , su...',
 'use data_lake',
 'with cte1 as ( select sd4_v0_unitid as unitid , year , month , day , count ( sd4_v0_sdnumber ) / * * * * * as totalhours , su...',
 'show functions in _impala_builtins',
 'show functions in _impala_builtins',
 'use data_lake',
 'select ieplner_sd1 . calendar_timestamp , ieplner_sd1 . sd1_v0_unitid as unit_id , ieplner_sd1 . sd1_v0_ethernetapplication_c...',
 'use data_lake',
 'select ieplner_sd1 . calendar_timestamp , ieplner_sd1 . sd1_v0_unitid as unit_id , ieplner_sd1 . sd1_v0_ethernetapplication_c...',
 'show functions in _impala_builtins',
 'use data_lake',
 'select ieplner_sd1 . calendar_timestamp , ieplner_sd1 . sd1_v0_unitid as unit_id , ieplner_sd1 . sd1_v0_ethernetapplication_c...',
 'select * from hre_data_warehouse . fact_event_sevinc where ( year = * * * * * and month = * * * * * and day = * * * * * and t...',
 'select * from data_lake . ieplner_sd1 where ( year = * * * * * and month = * * * * * and day = * * * * * ) or ( year = * * * ...',
 'select * from data_lake . ieplner_sd1 where ( year = * * * * * and month = * * * * * and day = * * * * * ) or ( year = * * * ...',
 'select sd1_v0_ethernetapplication_commondataofsdr_csvsdr1_trainspeed_trainspeed from data_lake . ieplner_sd1 where ( year = *...',
 'select sd1_v2_assignment_vehicleifunit_vehicleid2mcar_vehicle24vdi_hotaxlebearingdetection5 from data_lake . ieplner_sd1 wher...',
 'select sd1_v2_assignment_vehicleifunit_vehicleid2mcar_vehicle24vdi_hotaxlebearingdetection6 from data_lake . ieplner_sd1 wher...',
 'select sd1_v7_assignment_vehicleifunit_vehicleid7mcar_vehicle24vdi_guardpanelinvestibuleright from data_lake . ieplner_sd1 wh...',
 'select sd1_v2_assignment_vehicleifunit_vehicleid2mcar_vehicle24vdi_hotaxlebearingdetection3 from data_lake . ieplner_sd1 wher...',
 'select sd1_v2_assignment_vehicleifunit_vehicleid2mcar_vehicle24vdi_hotaxlebearingdetection7 from data_lake . ieplner_sd1 wher...',
 'select sd1_v8_assignment_vehicleifunit_vehicleid8tcar_vehicle110vdi_powersupplyforbrake from data_lake . ieplner_sd1 where ( ...',
 'select sd1_v2_assignment_vehicleifunit_vehicleid2mcar_vehicle24vdi_hotaxlebearingdetection4 from data_lake . ieplner_sd1 wher...',
 'select * from data_lake . ieplner_sd1 where ( year = * * * * * and month = * * * * * and day = * * * * * ) or ( year = * * * ...',
 'select * from data_lake . ieplner_sd1 where ( year = * * * * * and month = * * * * * and day = * * * * * ) or ( year = * * * ...',
 'select * from data_lake . ieplner_sd1 where ( year = * * * * * and month = * * * * * and day = * * * * * ) or ( year = * * * ...',
 'select ieplner_sd1 . calendar_timestamp , ieplner_sd1 . sd1_v0_unitid , ieplner_sd1 . sd1_v0_trainuid_trainuid , ieplner_sd1 ...',
 'select ieplner_sd1 . calendar_timestamp , ieplner_sd1 . sd1_v0_unitid , ieplner_sd1 . sd1_v0_trainuid_trainuid , ieplner_sd1 ...',
 'select * from data_lake . ieplner_sd3 where ( year = * * * * * and month = * * * * * and day = * * * * * ) or ( year = * * * ...',
 'select calendar_timestamp from data_lake . ieplner_sd1 where ( year = * * * * * and month = * * * * * and day = * * * * * ) o...',
 'select calendar_timestamp from data_lake . ieplner_sd1 where ( year = * * * * * and month = * * * * * and day = * * * * * ) o...',
 'select calendar_timestamp from data_lake . ieplner_sd1 where ( year = * * * * * and month = * * * * * and day = * * * * * ) o...',
 'select calendar_timestamp from data_lake . ieplner_sd1 where ( year = * * * * * and month = * * * * * and day = * * * * * ) o...',
 'select calendar_timestamp from data_lake . ieplner_sd1 where ( year = * * * * * and month = * * * * * and day = * * * * * ) o...',
 'select ieplner_sd1 . calendar_timestamp , ieplner_sd1 . sd1_v0_unitid , ieplner_sd1 . sd1_v0_trainuid_trainuid , ieplner_sd1 ...',
 'select ieplner_sd1 . calendar_timestamp , ieplner_sd1 . sd1_v0_unitid , ieplner_sd1 . sd1_v0_trainuid_trainuid , ieplner_sd1 ...',
 'select ieplner_sd1 . calendar_timestamp , ieplner_sd1 . sd1_v0_unitid , ieplner_sd1 . sd1_v0_trainuid_trainuid , ieplner_sd1 ...',
 'select ieplner_sd1 . calendar_timestamp , ieplner_sd1 . sd1_v0_unitid , ieplner_sd1 . sd1_v0_trainuid_trainuid from ieplner_s...',
 'select sd1_v0_trainuid_trainuid from data_lake . ieplner_sd1 where ( year = * * * * * and month = * * * * * and day = * * * *...',
 'select sd1_v0_trainuid_trainuid from data_lake . ieplner_sd1 where ( year = * * * * * and month = * * * * * and day = * * * *...',
 'select sd1_v0_trainuid_trainuid from data_lake . ieplner_sd1 where ( year = * * * * * and month = * * * * * and day = * * * *...',
 'select sd1_v0_trainuid_trainuid from data_lake . ieplner_sd1 where ( year = * * * * * and month = * * * * * and day = * * * *...',
 'select sd1_v0_trainuid_trainuid from data_lake . ieplner_sd1 where ( year = * * * * * and month = * * * * * and day = * * * *...',
 'select sd1_v0_trainuid_trainuid from data_lake . ieplner_sd1 where ( year = * * * * * and month = * * * * * and day = * * * *...',
 'select sd1_v0_trainuid_trainuid from data_lake . ieplner_sd1 where ( year = * * * * * and month = * * * * * and day = * * * *...',
 'select sd1_v0_trainuid_trainuid from data_lake . ieplner_sd1 where ( year = * * * * * and month = * * * * * and day = * * * *...',
 'select ieplner_sd1 . calendar_timestamp , ieplner_sd1 . sd1_v0_unitid , ieplner_sd1 . sd1_v0_trainuid_trainuid from ieplner_s...',
 'select ieplner_sd1 . calendar_timestamp , ieplner_sd1 . sd1_v0_unitid , ieplner_sd1 . sd1_v0_trainuid_trainuid from ieplner_s...',
 'select ieplner_sd1 . calendar_timestamp , ieplner_sd1 . sd1_v0_unitid , ieplner_sd1 . sd1_v0_trainuid_trainuid from ieplner_s...',
 'select ieplner_sd1 . calendar_timestamp , ieplner_sd1 . sd1_v0_ethernetapplication_commondataofsdr_mlcsdr1_commondatatrainid ...',
 'select * from data_lake . asrasr_sd2_tmp where ( year = * * * * * and month = * * * * * and day = * * * * * ) or ( year = * *...',
 'select sd1_v0_ethernetapplication_commondataofsdr_mlcsdr1_commondatatrainid from data_lake . ieplner_sd1 where ( year = * * *...',
 'select sd1_v0_ethernetapplication_commondataofsdr_mlcsdr1_commondatatrainid from data_lake . ieplner_sd1 where ( year = * * *...',
 'select sd1_v0_ethernetapplication_commondataofsdr_mlcsdr1_commondatatrainid from data_lake . ieplner_sd1 where ( year = * * *...',
 'select sd1_v0_ethernetapplication_commondataofsdr_mlcsdr1_commondatatrainid from data_lake . ieplner_sd1 where ( year = * * *...',
 'select ieplner_sd1 . calendar_timestamp , ieplner_sd1 . sd1_v0_unitid , ieplner_sd1 . sd1_v0_ethernetapplication_commondataof...',
 'select sd1_v0_ethernetapplication_commondataofsdr_csvsdr1_commondatatraininformation1_braking from data_lake . ieplner_sd1 wh...',
 'select ieplner_sd1 . calendar_timestamp , ieplner_sd1 . sd1_v0_ethernetapplication_commondataofsdr_mlcsdr1_commondatatrainid ...',
 'select sd1_v0_ethernetapplication_commondataofsdr_csvsdr1_commondatatraininformation2_operatingmodeofnetworkunit1st_powertype...',
 'select ieplner_sd1 . calendar_timestamp , ieplner_sd1 . sd1_v0_ethernetapplication_commondataofsdr_mlcsdr1_commondatatrainid ...',
 'select ieplner_sd1 . calendar_timestamp , ieplner_sd1 . sd1_v0_unitid , ieplner_sd1 . sd1_v0_ethernetapplication_commondataof...',
 'select ieplner_sd1 . calendar_timestamp , ieplner_sd1 . sd1_v0_ethernetapplication_commondataofsdr_mlcsdr1_commondatatrainid ...',
 'get_tables',
 'get_tables',
 'get_tables',
 'get_tables',
 'describe formatted data_lake . iepgw_sd1',
 'describe formatted data_lake . iepgw_sd1',
 'describe formatted data_lake . iepgw_sd1',
 'describe formatted data_lake . iepgw_sd1',
 'describe formatted data_lake . iepgw_sd1',
 'select month from data_lake . iepgw_sd1 where ( year = * * * * * and month = * * * * * and day = * * * * * ) or ( year = * * ...',
 'select day from data_lake . iepgw_sd1 where ( year = * * * * * and month = * * * * * and day = * * * * * ) or ( year = * * * ...',
 'select year from data_lake . iepgw_sd1 where ( year = * * * * * and month = * * * * * and day = * * * * * ) or ( year = * * *...',
 'show partitions data_lake . iepgw_sd1',
 'show partitions data_lake . iepgw_sd1',
 'show partitions data_lake . iepgw_sd1',
 'select ieplner_sd1 . calendar_timestamp , ieplner_sd1 . sd1_v0_unitid , ieplner_sd1 . sd1_v0_ethernetapplication_commondataof...',
 'select ieplner_sd1 . calendar_timestamp , ieplner_sd1 . sd1_v0_unitid , ieplner_sd1 . sd1_v0_ethernetapplication_commondataof...',
 'use default',
 'get_tables',
 'get_tables',
 'get_tables',
 'get_tables',
 'get_tables',
 'show partitions data_lake . asrasr_sd7_tmp',
 'describe formatted data_lake . asrasr_sd7_tmp',
 'get_tables',
 'describe formatted data_lake . asrasr_sd7_tmp',
 'get_tables',
 'show column stats data_lake . ieplner_sd1',
 'describe formatted data_lake . ieplner_sd1',
 'describe formatted data_lake . ieplner_sd1',
 'show column stats data_lake . ieplner_sd1',
 'describe formatted data_lake . ieplner_sd1',
 'show partitions data_lake . ieplner_sd1',
 'describe formatted data_lake . asrasr_sd7_tmp',
 'describe formatted data_lake . asrasr_sd7_tmp',
 'select pentahocounter from data_lake . ieplner_sd1 where ( year = * * * * * and month = * * * * * and day = * * * * * ) or ( ...',
 'select * from data_lake . asrasr_sd7_tmp where ( year = * * * * * and month = * * * * * and day = * * * * * ) or ( year = * *...',
 'use default',
 'get_tables',
 'get_tables',
 'describe formatted data_lake . ieplner_sd1',
 'describe formatted data_lake . ieplner_sd1',
 'show partitions data_lake . ieplner_sd1',
 'select distinct calendar_timestamp from data_lake . ieplner_sd1 where ( year = * * * * * and month = * * * * * and day = * * ...',
 'get_tables',
 'get_tables',
 'get_tables',
 'get_tables',
 'get_tables',
 'get_tables',
 'describe formatted data_lake . ieplner_sd1',
 'describe formatted data_lake . ieplner_sd1',
 'describe formatted data_lake . ieplner_sd1',
 'describe formatted data_lake . ieplner_sd1',
 'describe formatted data_lake . ieplner_sd1',
 'show partitions data_lake . ieplner_sd1',
 'describe formatted data_lake . ieplner_sd1',
 'show partitions data_lake . ieplner_sd1',
 'select milisecondlcode from data_lake . ieplner_sd1 where ( year = * * * * * and month = * * * * * and day = * * * * * ) or (...',
 'select milisecondhcode from data_lake . ieplner_sd1 where ( year = * * * * * and month = * * * * * and day = * * * * * ) or (...',
 'show functions in _impala_builtins',
 'use data_lake',
 'select ieplner_sd1 . calendar_timestamp , ieplner_sd1 . sd1_v0_unitid , ieplner_sd1 . sd1_v0_ethernetapplication_commondataof...',
 'use data_lake',
 'select ieplner_sd1 . calendar_timestamp , ieplner_sd1 . sd1_v0_unitid , ieplner_sd1 . sd1_v0_ethernetapplication_commondataof...',
 'use data_lake',
 'select ieplner_sd1 . calendar_timestamp , ieplner_sd1 . sd1_v0_unitid , ieplner_sd1 . sd1_v0_ethernetapplication_commondataof...',
 'use data_lake',
 "create external table lner_depot_for_batteries_18955 row format delimited fields terminated by '*****' escaped by '*****' lin...",
 'drop table if exists lner_depot_for_batteries_18955',
 'use data_lake',
 'select distinct ieplner_sd1 . calendar_timestamp , ieplner_sd1 . sd1_v0_unitid , ieplner_sd1 . sd1_v0_ethernetapplication_com...',
 'use data_lake',

In [137]:
df

,Query,Status,Start Time,Duration,User,Input,CPU,Memory,DurationM,Date,alias
2946,get_tables,Succeeded,03/27/2024 8:46 PM GMT,23ms,csso_ady.hibbert,0,-,-,0.000383,03/27/2024,3
2945,show functions in _impala_builtins,Succeeded,03/27/2024 8:46 PM GMT,45ms,csso_ady.hibbert,0,-,-,0.000750,03/27/2024,3
2947,get_schemas,Succeeded,03/27/2024 8:46 PM GMT,210ms,csso_ady.hibbert,0,-,-,0.003500,03/27/2024,3
553,use default,Succeeded,4/16/2024 1:17 AM GMT,1ms,csso_ady.hibbert,0,-,-,0.000017,4/16/2024,3
556,get_tables,Succeeded,4/16/2024 1:17 AM GMT,17ms,csso_ady.hibbert,0,-,-,0.000283,4/16/2024,3
...,...,...,...,...,...,...,...,...,...,...,...
54,describe formatted data_lake . iepwoe_sd5,Succeeded,4/19/2024 4:03 AM GMT,1s 35ms,csso_todd.williams,0,-,-,0.017250,4/19/2024,11
56,describe formatted data_lake . iepwoe_sd4,Succeeded,4/19/2024 4:03 AM GMT,28s 309ms,csso_todd.williams,0,-,-,0.471817,4/19/2024,11
3,"with sd4 as ( select sd4_v0_unitid , cast ( co...",Succeeded,4/19/2024 4:03 AM GMT,3m 38s,csso_todd.williams,235 MiB,9s 119ms,1.3MiB·s,3.633333,4/19/2024,11
53,use default,Succeeded,4/19/2024 4:14 AM GMT,1ms,csso_todd.williams,0,-,-,0.000017,4/19/2024,11
6,"with sd4 as ( select sd4_v0_unitid , cast ( co...",Succeeded,4/19/2024 4:14 AM GMT,38s 208ms,csso_todd.williams,6.1 MiB,6s 159ms,497.9KiB·s,0.636800,4/19/2024,11

In [185]:
df

,Query,Status,Start Time,Duration,User,Input,CPU,Memory,DurationM,Date,alias
2946,get_tables,Succeeded,03/27/2024 8:46 PM GMT,23ms,csso_ady.hibbert,0,-,-,0.000383,03/27/2024,3
2945,show functions in _impala_builtins,Succeeded,03/27/2024 8:46 PM GMT,45ms,csso_ady.hibbert,0,-,-,0.000750,03/27/2024,3
2947,get_schemas,Succeeded,03/27/2024 8:46 PM GMT,210ms,csso_ady.hibbert,0,-,-,0.003500,03/27/2024,3
553,use default,Succeeded,4/16/2024 1:17 AM GMT,1ms,csso_ady.hibbert,0,-,-,0.000017,4/16/2024,3
556,get_tables,Succeeded,4/16/2024 1:17 AM GMT,17ms,csso_ady.hibbert,0,-,-,0.000283,4/16/2024,3
...,...,...,...,...,...,...,...,...,...,...,...
54,describe formatted data_lake . iepwoe_sd5,Succeeded,4/19/2024 4:03 AM GMT,1s 35ms,csso_todd.williams,0,-,-,0.017250,4/19/2024,11
56,describe formatted data_lake . iepwoe_sd4,Succeeded,4/19/2024 4:03 AM GMT,28s 309ms,csso_todd.williams,0,-,-,0.471817,4/19/2024,11
3,"with sd4 as ( select sd4_v0_unitid , cast ( co...",Succeeded,4/19/2024 4:03 AM GMT,3m 38s,csso_todd.williams,235 MiB,9s 119ms,1.3MiB·s,3.633333,4/19/2024,11
53,use default,Succeeded,4/19/2024 4:14 AM GMT,1ms,csso_todd.williams,0,-,-,0.000017,4/19/2024,11
6,"with sd4 as ( select sd4_v0_unitid , cast ( co...",Succeeded,4/19/2024 4:14 AM GMT,38s 208ms,csso_todd.williams,6.1 MiB,6s 159ms,497.9KiB·s,0.636800,4/19/2024,11

In [255]:
df

,Query,Status,Start Time,Duration,User,Input,CPU,Memory,DurationM,Date
2946,get_tables,Succeeded,03/27/2024 8:46 PM GMT,23ms,csso_ady.hibbert,0,-,-,0.000383,03/27/2024
2945,show functions in _impala_builtins,Succeeded,03/27/2024 8:46 PM GMT,45ms,csso_ady.hibbert,0,-,-,0.000750,03/27/2024
2947,get_schemas,Succeeded,03/27/2024 8:46 PM GMT,210ms,csso_ady.hibbert,0,-,-,0.003500,03/27/2024
553,use default,Succeeded,4/16/2024 1:17 AM GMT,1ms,csso_ady.hibbert,0,-,-,0.000017,4/16/2024
556,get_tables,Succeeded,4/16/2024 1:17 AM GMT,17ms,csso_ady.hibbert,0,-,-,0.000283,4/16/2024
...,...,...,...,...,...,...,...,...,...,...
54,describe formatted data_lake . iepwoe_sd5,Succeeded,4/19/2024 4:03 AM GMT,1s 35ms,csso_todd.williams,0,-,-,0.017250,4/19/2024
56,describe formatted data_lake . iepwoe_sd4,Succeeded,4/19/2024 4:03 AM GMT,28s 309ms,csso_todd.williams,0,-,-,0.471817,4/19/2024
3,"with sd4 as ( select sd4_v0_unitid , cast ( co...",Succeeded,4/19/2024 4:03 AM GMT,3m 38s,csso_todd.williams,235 MiB,9s 119ms,1.3MiB·s,3.633333,4/19/2024
53,use default,Succeeded,4/19/2024 4:14 AM GMT,1ms,csso_todd.williams,0,-,-,0.000017,4/19/2024
6,"with sd4 as ( select sd4_v0_unitid , cast ( co...",Succeeded,4/19/2024 4:14 AM GMT,38s 208ms,csso_todd.williams,6.1 MiB,6s 159ms,497.9KiB·s,0.636800,4/19/2024

In [3]:
df_download = pd.read_csv("needtodownload.csv")
df_download

                                                Signal
0                                            YearHCode
1                                            YearLCode
2                                           MonthHCode
3                                           MonthLCode
4                                             DayHCode
..                                                 ...
287  sd1_v0_ethernetapplication_commondataofsdr_mlc...
288  sd1_v0_ethernetapplication_commondataofsdr_mlc...
289  sd1_v0_ethernetapplication_commondataofsdr_mlc...
290                           sd1_v0_trainuid_trainuid
291  sd1_v0_ethernetapplication_commondataofsdr_mlc...

[292 rows x 1 columns]

In [4]:
','.join(df_download['Signal'].values)

'YearHCode,YearLCode,MonthHCode,MonthLCode,DayHCode,DayLCode,HourHCode,HourLCode,MinuteHCode,MinuteLCode,SecondHCode,SecondLCode,MilisecondHCode,MilisecondLCode,sd1_v0_couplingstatus_couplingstatus,derived_distance_miles,derived_speed_mph,sd1_v0_otmr_otmr_mlcsdr1_commondataforotmr_trainspeedfrometcs_trainspeedfrometcs,sd1_v0_assignment_odometer,sd7_v0_pcs_pcs_sd_wholetraininformation1_currenttrainpassengeroccupancy,sd3_v0_traction_tractioncontrol_csvsdr1_loadweightinformation_numberofhealthytraction,sd3_v0_traction_tractioncontrol_csvsdr1_loadweightinformation_loadweightofcartractionofasno1,sd3_v0_traction_tractioncontrol_csvsdr1_loadweightinformation_loadweightofcartractionofasno2,sd3_v0_traction_tractioncontrol_csvsdr1_loadweightinformation_loadweightofcartractionofasno3,sd3_v0_traction_tractioncontrol_csvsdr1_loadweightinformation_loadweightofcartractionofasno4,sd3_v0_traction_tractioncontrol_csvsdr1_loadweightinformation_loadweightofcartractionofasno5,sd3_v0_traction_tractioncontrol_csvsdr1_loadweightinformation_loadweightofcartractionofasno6,sd3_v0_traction_tractioncontrol_csvsdr1_loadweightinformation_loadweightofcartractionofasno7,sd3_v0_traction_tractioncontrol_csvsdr1_loadweightinformation_averageloadweightofmcar,sd3_v0_traction_tractioncontrol_csvsdr1_loadweightpertraction,sd26_v1_ridecomfortmonitoring_ridecomfortmonitoring_vehicleid1_sdr_traininformation1_loadweightonvehicle,sd26_v2_ridecomfortmonitoring_ridecomfortmonitoring_vehicleid2_sdr_traininformation1_loadweightonvehicle,sd26_v12_ridecomfortmonitoring_ridecomfortmonitoring_vehicleid12_sdr_traininformation1_loadweightonvehicle,sd4_v2_bcucontrol_bcucontrol_vehicleid2_sdr_controlinformation1_plineno9,sd4_v2_bcucontrol_bcucontrol_vehicleid2_sdr_controlinformation1_blineno10,sd4_v2_bcucontrol_bcucontrol_vehicleid2_sdr_controlinformation1_locomotivehauledmode,sd4_v2_bcucontrol_bcucontrol_vehicleid2_sdr_controlinformation1_fastbrake,sd4_v2_bcucontrol_bcucontrol_vehicleid2_sdr_controlinformation1_electricbrakeeffective_carno8,sd4_v2_bcucontrol_bcucontrol_vehicleid2_sdr_controlinformation1_electricbrakeeffective_carno7,sd4_v2_bcucontrol_bcucontrol_vehicleid2_sdr_controlinformation1_electricbrakeeffective_carno6,sd4_v2_bcucontrol_bcucontrol_vehicleid2_sdr_controlinformation1_electricbrakeeffective_carno5,sd4_v2_bcucontrol_bcucontrol_vehicleid2_sdr_controlinformation1_electricbrakeeffective_carno4,sd4_v2_bcucontrol_bcucontrol_vehicleid2_sdr_controlinformation1_electricbrakeeffective_carno3,sd4_v2_bcucontrol_bcucontrol_vehicleid2_sdr_controlinformation1_electricbrakeeffective_carno2,sd4_v2_bcucontrol_bcucontrol_vehicleid2_sdr_controlinformation1_electricbrakeeffective_carno1,sd4_v2_bcucontrol_bcucontrol_vehicleid2_sdr_controlinformation1_electricbrakeeffective_carno12,sd4_v2_bcucontrol_bcucontrol_vehicleid2_sdr_controlinformation1_electricbrakeeffective_carno11,sd4_v2_bcucontrol_bcucontrol_vehicleid2_sdr_controlinformation1_electricbrakeeffective_carno10,sd4_v2_bcucontrol_bcucontrol_vehicleid2_sdr_controlinformation1_electricbrakeeffective_carno9,sd4_v2_bcucontrol_bcucontrol_vehicleid2_sdr_controlinformation3_cpbccommand,sd4_v2_bcucontrol_bcucontrol_vehicleid2_sdr_controlinformation4_loadweightofcarno1,sd4_v2_bcucontrol_bcucontrol_vehicleid2_sdr_controlinformation4_loadweightofcarno2,sd4_v2_bcucontrol_bcucontrol_vehicleid2_sdr_controlinformation4_loadweightofcarno3,sd4_v2_bcucontrol_bcucontrol_vehicleid2_sdr_controlinformation4_loadweightofcarno4,sd4_v2_bcucontrol_bcucontrol_vehicleid2_sdr_controlinformation5_loadweightofcarno5,sd4_v2_bcucontrol_bcucontrol_vehicleid2_sdr_controlinformation5_loadweightofcarno6,sd4_v2_bcucontrol_bcucontrol_vehicleid2_sdr_controlinformation5_loadweightofcarno7,sd4_v2_bcucontrol_bcucontrol_vehicleid2_sdr_controlinformation5_loadweightofcarno8,sd4_v2_bcucontrol_bcucontrol_vehicleid2_sdr_controlinformation6_loadweightofcarno9,sd4_v2_bcucontrol_bcucontrol_vehicleid2_sdr_controlinformation6_loadweightofcarno10,sd4_v2_bcucontrol_bcucontrol_vehicleid2_sdr_controlinformation6_loadweightofcarno11,sd4_v2_bcucontrol_bcucontrol_vehicleid2_sdr_controlinformation6_loadweightofcarno12,sd4_v2_bcucontrol_bcucontrol_vehicleid2_sdr_controlinformation7_electricbrakeachievedofcarno2,sd4_v2_bcucontrol_bcucontrol_vehicleid2_sdr_controlinformation7_electricbrakeachievedofcarno3,sd4_v2_bcucontrol_bcucontrol_vehicleid2_sdr_controlinformation7_electricbrakeachievedofcarno4,sd4_v2_bcucontrol_bcucontrol_vehicleid2_sdr_controlinformation7_electricbrakeachievedofcarno5,sd4_v2_bcucontrol_bcucontrol_vehicleid2_sdr_controlinformation8_electricbrakeachievedofcarno6,sd4_v2_bcucontrol_bcucontrol_vehicleid2_sdr_controlinformation8_electricbrakeachievedofcarno7,sd4_v2_bcucontrol_bcucontrol_vehicleid2_sdr_controlinformation8_electricbrakeachievedofcarno8,sd4_v2_bcucontrol_bcucontrol_vehicleid2_sdr_controlinformation8_electricbrakeachievedofcarno9,sd4_v2_bcucontrol_bcucontrol_vehicleid2_sdr_controlinformation9_electricbrakeachievedofcarno10,sd4_v2_bcucontrol_bcucontrol_vehicleid2_sdr_controlinformation9_electricbrakeachievedofcarno11,sd4_v2_bcucontrol_bcucontrol_vehicleid2_sdr_controlinformation10_epbrakepossibleofcarno1,sd4_v2_bcucontrol_bcucontrol_vehicleid2_sdr_controlinformation10_epbrakepossibleofcarno2,sd4_v2_bcucontrol_bcucontrol_vehicleid2_sdr_controlinformation10_epbrakepossibleofcarno3,sd4_v2_bcucontrol_bcucontrol_vehicleid2_sdr_controlinformation10_epbrakepossibleofcarno4,sd4_v2_bcucontrol_bcucontrol_vehicleid2_sdr_controlinformation11_epbrakepossibleofcarno5,sd4_v2_bcucontrol_bcucontrol_vehicleid2_sdr_controlinformation11_epbrakepossibleofcarno6,sd4_v2_bcucontrol_bcucontrol_vehicleid2_sdr_controlinformation11_epbrakepossibleofcarno7,sd4_v2_bcucontrol_bcucontrol_vehicleid2_sdr_controlinformation11_epbrakepossibleofcarno8,sd4_v2_bcucontrol_bcucontrol_vehicleid2_sdr_controlinformation12_epbrakepossibleofcarno9,sd4_v2_bcucontrol_bcucontrol_vehicleid2_sdr_controlinformation12_epbrakepossibleofcarno10,sd4_v2_bcucontrol_bcucontrol_vehicleid2_sdr_controlinformation12_epbrakepossibleofcarno11,sd4_v2_bcucontrol_bcucontrol_vehicleid2_sdr_controlinformation12_epbrakepossibleofcarno12,sd4_v2_bcucontrol_bcucontrol_vehicleid2_sd_controlinformation3_cpbccommand,sd4_v10_bcucontrol_bcucontrol_vehicleid10_sd_controlinformation3_cpbccommand,sd4_v11_bcucontrol_bcucontrol_vehicleid11_sd_controlinformation3_cpbccommand,sd4_v2_bcucontrol_bcucontrol_vehicleid2_sd_controlinformation1_locomotivehauledmodeready,sd4_v10_bcucontrol_bcucontrol_vehicleid10_sd_controlinformation1_locomotivehauledmodeready,sd4_v11_bcucontrol_bcucontrol_vehicleid11_sd_controlinformation1_locomotivehauledmodeready,sd4_v2_bcucontrol_bcucontrol_vehicleid2_sd_controlinformation1_fastbrake,sd4_v10_bcucontrol_bcucontrol_vehicleid10_sd_controlinformation1_fastbrake,sd4_v11_bcucontrol_bcucontrol_vehicleid11_sd_controlinformation1_fastbrake,sd4_v2_bcucontrol_bcucontrol_vehicleid2_sd_controlinformation1_electricbrakeeffective,sd4_v10_bcucontrol_bcucontrol_vehicleid10_sd_controlinformation1_electricbrakeeffective,sd4_v11_bcucontrol_bcucontrol_vehicleid11_sd_controlinformation1_electricbrakeeffective,sd4_v2_bcucontrol_bcucontrol_vehicleid2_sd_controlinformation3_electricbrakedemandtolocaltcu,sd4_v10_bcucontrol_bcucontrol_vehicleid10_sd_controlinformation3_electricbrakedemandtolocaltcu,sd4_v11_bcucontrol_bcucontrol_vehicleid11_sd_controlinformation3_electricbrakedemandtolocaltcu,sd4_v2_bcucontrol_bcucontrol_vehicleid2_sd_controlinformation3_electricbrakeachievedfromlocaltcu,sd4_v10_bcucontrol_bcucontrol_vehicleid10_sd_controlinformation3_electricbrakeachievedfromlocaltcu,sd4_v11_bcucontrol_bcucontrol_vehicleid11_sd_controlinformation3_electricbrakeachievedfromlocaltcu,sd4_v2_bcucontrol_bcucontrol_vehicleid2_sd_controlinformation4_loadweightofmc,sd4_v10_bcucontrol_bcucontrol_vehicleid10_sd_controlinformation4_loadweightofmc,sd4_v11_bcucontrol_bcucontrol_vehicleid11_sd_controlinformation4_loadweightofmc,sd4_v2_bcucontrol_bcucontrol_vehicleid2_sd_controlinformation4_loadweightoftc,sd4_v10_bcucontrol_bcucontrol_vehicleid10_sd_controlinformation4_loadweightoftc,sd4_v11_bcucontrol_bcucontrol_vehicleid11_sd_controlinformation4_loadweightoftc,sd4_v2_bcucontrol_bcucontrol_vehicleid2_sd_controlinformation4_epbrakepossibleofmc,sd4_v10_bcucontrol_bcucontrol_vehicleid10_sd_controlinformation4_epbrakepossibleofmc,sd4_v11_bcucontrol_bcucontrol_vehicleid11_sd_controlinformation4_epbrakepossibleofmc,sd4_v2_bcucontrol_bcucontrol_vehicleid2_sd_controlinformation4_epbrakepossibleoftc,sd4_v10_bcucontrol_bcucontrol_vehicleid10_sd_controlinformation4_epbrakepossibleoftc,sd4_v11_bcucontrol_bcucontrol_vehicleid11_sd_controlinformation4_epbrakepossibleoftc,sd4_v10_bcucontrol_bcucontrol_vehicleid10_sdr_controlinformation1_plineno9,sd4_v10_bcucontrol_bcucontrol_vehicleid10_sdr_controlinformation1_blineno10,sd4_v10_bcucontrol_bcucontrol_vehicleid10_sdr_controlinformation1_locomotivehauledmode,sd4_v10_bcucontrol_bcucontrol_vehicleid10_sdr_controlinformation1_fastbrake,sd4_v10_bcucontrol_bcucontrol_vehicleid10_sdr_controlinformation1_electricbrakeeffective_carno8,sd4_v10_bcucontrol_bcucontrol_vehicleid10_sdr_controlinformation1_electricbrakeeffective_carno7,sd4_v10_bcucontrol_bcucontrol_vehicleid10_sdr_controlinformation1_electricbrakeeffective_carno6,sd4_v10_bcucontrol_bcucontrol_vehicleid10_sdr_controlinformation1_electricbrakeeffective_carno5,sd4_v10_bcucontrol_bcucontrol_vehicleid10_sdr_controlinformation1_electricbrakeeffective_carno4,sd4_v10_bcucontrol_bcucontrol_vehicleid10_sdr_controlinformation1_electricbrakeeffective_carno3,sd4_v10_bcucontrol_bcucontrol_vehicleid10_sdr_controlinformation1_electricbrakeeffective_carno2,sd4_v10_bcucontrol_bcucontrol_vehicleid10_sdr_controlinformation1_electricbrakeeffective_carno1,sd4_v10_bcucontrol_bcucontrol_vehicleid10_sdr_controlinformation1_electricbrakeeffective_carno12,sd4_v10_bcucontrol_bcucontrol_vehicleid10_sdr_controlinformation1_electricbrakeeffective_carno11,sd4_v10_bcucontrol_bcucontrol_vehicleid10_sdr_controlinformation1_electricbrakeeffective_carno10,sd4_v10_bcucontrol_bcucontrol_vehicleid10_sdr_controlinformation1_electricbrakeeffective_carno9,sd4_v10_bcucontrol_bcucontrol_vehicleid10_sdr_controlinformation3_cpbccommand,sd4_v10_bcucontrol_bcucontrol_vehicleid10_sdr_controlinformation4_loadweightofcarno1,sd4_v10_bcucontrol_bcucontrol_vehicleid10_sdr_controlinformation4_loadweightofcarno2,sd4_v10_bcucontrol_bcucontrol_vehicleid10_sdr_controlinformation4_loadweightofcarno3,sd4_v10_bcucontrol_bcucontrol_vehicleid10_sdr_controlinformation4_loadweightofcarno4,sd4_v10_bcucontrol_bcucontrol_vehicleid10_sdr_controlinformation5_loadweightofcarno5,sd4_v10_bcucontrol_bcucontrol_vehicleid10_sdr_controlinformation5_loadweightofcarno6,sd4_v10_bcucontrol_bcucontrol_vehicleid10_sdr_controlinformation5_loadweightofcarno7,sd4_v10_bcucontrol_bcucontrol_vehicleid10_sdr_controlinformation5_loadweightofcarno8,sd4_v10_bcucontrol_bcucontrol_vehicleid10_sdr_controlinformation6_loadweightofcarno9,sd4_v10_bcucontrol_bcucontrol_vehicleid10_sdr_controlinformation6_loadweightofcarno10,sd4_v10_bcucontrol_bcucontrol_vehicleid10_sdr_controlinformation6_loadweightofcarno11,sd4_v10_bcucontrol_bcucontrol_vehicleid10_sdr_controlinformation6_loadweightofcarno12,sd4_v10_bcucontrol_bcucontrol_vehicleid10_sdr_controlinformation7_electricbrakeachievedofcarno2,sd4_v10_bcucontrol_bcucontrol_vehicleid10_sdr_controlinformation7_electricbrakeachievedofcarno3,sd4_v10_bcucontrol_bcucontrol_vehicleid10_sdr_controlinformation7_electricbrakeachievedofcarno4,sd4_v10_bcucontrol_bcucontrol_vehicleid10_sdr_controlinformation7_electricbrakeachievedofcarno5,sd4_v10_bcucontrol_bcucontrol_vehicleid10_sdr_controlinformation8_electricbrakeachievedofcarno6,sd4_v10_bcucontrol_bcucontrol_vehicleid10_sdr_controlinformation8_electricbrakeachievedofcarno7,sd4_v10_bcucontrol_bcucontrol_vehicleid10_sdr_controlinformation8_electricbrakeachievedofcarno8,sd4_v10_bcucontrol_bcucontrol_vehicleid10_sdr_controlinformation8_electricbrakeachievedofcarno9,sd4_v10_bcucontrol_bcucontrol_vehicleid10_sdr_controlinformation9_electricbrakeachievedofcarno10,sd4_v10_bcucontrol_bcucontrol_vehicleid10_sdr_controlinformation9_electricbrakeachievedofcarno11,sd4_v10_bcucontrol_bcucontrol_vehicleid10_sdr_controlinformation10_epbrakepossibleofcarno1,sd4_v10_bcucontrol_bcucontrol_vehicleid10_sdr_controlinformation10_epbrakepossibleofcarno2,sd4_v10_bcucontrol_bcucontrol_vehicleid10_sdr_controlinformation10_epbrakepossibleofcarno3,sd4_v10_bcucontrol_bcucontrol_vehicleid10_sdr_controlinformation10_epbrakepossibleofcarno4,sd4_v10_bcucontrol_bcucontrol_vehicleid10_sdr_controlinformation11_epbrakepossibleofcarno5,sd4_v10_bcucontrol_bcucontrol_vehicleid10_sdr_controlinformation11_epbrakepossibleofcarno6,sd4_v10_bcucontrol_bcucontrol_vehicleid10_sdr_controlinformation11_epbrakepossibleofcarno7,sd4_v10_bcucontrol_bcucontrol_vehicleid10_sdr_controlinformation11_epbrakepossibleofcarno8,sd4_v10_bcucontrol_bcucontrol_vehicleid10_sdr_controlinformation12_epbrakepossibleofcarno9,sd4_v10_bcucontrol_bcucontrol_vehicleid10_sdr_controlinformation12_epbrakepossibleofcarno10,sd4_v10_bcucontrol_bcucontrol_vehicleid10_sdr_controlinformation12_epbrakepossibleofcarno11,sd4_v10_bcucontrol_bcucontrol_vehicleid10_sdr_controlinformation12_epbrakepossibleofcarno12,sd4_v11_bcucontrol_bcucontrol_vehicleid11_sdr_controlinformation1_plineno9,sd4_v11_bcucontrol_bcucontrol_vehicleid11_sdr_controlinformation1_blineno10,sd4_v11_bcucontrol_bcucontrol_vehicleid11_sdr_controlinformation1_locomotivehauledmode,sd4_v11_bcucontrol_bcucontrol_vehicleid11_sdr_controlinformation1_fastbrake,sd4_v11_bcucontrol_bcucontrol_vehicleid11_sdr_controlinformation1_electricbrakeeffective_carno8,sd4_v11_bcucontrol_bcucontrol_vehicleid11_sdr_controlinformation1_electricbrakeeffective_carno7,sd4_v11_bcucontrol_bcucontrol_vehicleid11_sdr_controlinformation1_electricbrakeeffective_carno6,sd4_v11_bcucontrol_bcucontrol_vehicleid11_sdr_controlinformation1_electricbrakeeffective_carno5,sd4_v11_bcucontrol_bcucontrol_vehicleid11_sdr_controlinformation1_electricbrakeeffective_carno4,sd4_v11_bcucontrol_bcucontrol_vehicleid11_sdr_controlinformation1_electricbrakeeffective_carno3,sd4_v11_bcucontrol_bcucontrol_vehicleid11_sdr_controlinformation1_electricbrakeeffective_carno2,sd4_v11_bcucontrol_bcucontrol_vehicleid11_sdr_controlinformation1_electricbrakeeffective_carno1,sd4_v11_bcucontrol_bcucontrol_vehicleid11_sdr_controlinformation1_electricbrakeeffective_carno12,sd4_v11_bcucontrol_bcucontrol_vehicleid11_sdr_controlinformation1_electricbrakeeffective_carno11,sd4_v11_bcucontrol_bcucontrol_vehicleid11_sdr_controlinformation1_electricbrakeeffective_carno10,sd4_v11_bcucontrol_bcucontrol_vehicleid11_sdr_controlinformation1_electricbrakeeffective_carno9,sd4_v11_bcucontrol_bcucontrol_vehicleid11_sdr_controlinformation3_cpbccommand,sd4_v11_bcucontrol_bcucontrol_vehicleid11_sdr_controlinformation4_loadweightofcarno1,sd4_v11_bcucontrol_bcucontrol_vehicleid11_sdr_controlinformation4_loadweightofcarno2,sd4_v11_bcucontrol_bcucontrol_vehicleid11_sdr_controlinformation4_loadweightofcarno3,sd4_v11_bcucontrol_bcucontrol_vehicleid11_sdr_controlinformation4_loadweightofcarno4,sd4_v11_bcucontrol_bcucontrol_vehicleid11_sdr_controlinformation5_loadweightofcarno5,sd4_v11_bcucontrol_bcucontrol_vehicleid11_sdr_controlinformation5_loadweightofcarno6,sd4_v11_bcucontrol_bcucontrol_vehicleid11_sdr_controlinformation5_loadweightofcarno7,sd4_v11_bcucontrol_bcucontrol_vehicleid11_sdr_controlinformation5_loadweightofcarno8,sd4_v11_bcucontrol_bcucontrol_vehicleid11_sdr_controlinformation6_loadweightofcarno9,sd4_v11_bcucontrol_bcucontrol_vehicleid11_sdr_controlinformation6_loadweightofcarno10,sd4_v11_bcucontrol_bcucontrol_vehicleid11_sdr_controlinformation6_loadweightofcarno11,sd4_v11_bcucontrol_bcucontrol_vehicleid11_sdr_controlinformation6_loadweightofcarno12,sd4_v11_bcucontrol_bcucontrol_vehicleid11_sdr_controlinformation7_electricbrakeachievedofcarno2,sd4_v11_bcucontrol_bcucontrol_vehicleid11_sdr_controlinformation7_electricbrakeachievedofcarno3,sd4_v11_bcucontrol_bcucontrol_vehicleid11_sdr_controlinformation7_electricbrakeachievedofcarno4,sd4_v11_bcucontrol_bcucontrol_vehicleid11_sdr_controlinformation7_electricbrakeachievedofcarno5,sd4_v11_bcucontrol_bcucontrol_vehicleid11_sdr_controlinformation8_electricbrakeachievedofcarno6,sd4_v11_bcucontrol_bcucontrol_vehicleid11_sdr_controlinformation8_electricbrakeachievedofcarno7,sd4_v11_bcucontrol_bcucontrol_vehicleid11_sdr_controlinformation8_electricbrakeachievedofcarno8,sd4_v11_bcucontrol_bcucontrol_vehicleid11_sdr_controlinformation8_electricbrakeachievedofcarno9,sd4_v11_bcucontrol_bcucontrol_vehicleid11_sdr_controlinformation9_electricbrakeachievedofcarno10,sd4_v11_bcucontrol_bcucontrol_vehicleid11_sdr_controlinformation9_electricbrakeachievedofcarno11,sd4_v11_bcucontrol_bcucontrol_vehicleid11_sdr_controlinformation10_epbrakepossibleofcarno1,sd4_v11_bcucontrol_bcucontrol_vehicleid11_sdr_controlinformation10_epbrakepossibleofcarno2,sd4_v11_bcucontrol_bcucontrol_vehicleid11_sdr_controlinformation10_epbrakepossibleofcarno3,sd4_v11_bcucontrol_bcucontrol_vehicleid11_sdr_controlinformation10_epbrakepossibleofcarno4,sd4_v11_bcucontrol_bcucontrol_vehicleid11_sdr_controlinformation11_epbrakepossibleofcarno5,sd4_v11_bcucontrol_bcucontrol_vehicleid11_sdr_controlinformation11_epbrakepossibleofcarno6,sd4_v11_bcucontrol_bcucontrol_vehicleid11_sdr_controlinformation11_epbrakepossibleofcarno7,sd4_v11_bcucontrol_bcucontrol_vehicleid11_sdr_controlinformation11_epbrakepossibleofcarno8,sd4_v11_bcucontrol_bcucontrol_vehicleid11_sdr_controlinformation12_epbrakepossibleofcarno9,sd4_v11_bcucontrol_bcucontrol_vehicleid11_sdr_controlinformation12_epbrakepossibleofcarno10,sd4_v11_bcucontrol_bcucontrol_vehicleid11_sdr_controlinformation12_epbrakepossibleofcarno11,sd4_v11_bcucontrol_bcucontrol_vehicleid11_sdr_controlinformation12_epbrakepossibleofcarno12,sd3_v2_traction_tractionmonitoring_vehicleid2_engineinfo2_enginetotalfuelused,sd3_v10_traction_tractionmonitoring_vehicleid10_engineinfo2_enginetotalfuelused,sd3_v11_traction_tractionmonitoring_vehicleid11_engineinfo2_enginetotalfuelused,sd3_v2_traction_tractionmonitoring_vehicleid2_engineinfo2_enginetripfuel,sd3_v10_traction_tractionmonitoring_vehicleid10_engineinfo2_enginetripfuel,sd3_v11_traction_tractionmonitoring_vehicleid11_engineinfo2_enginetripfuel,sd3_v2_traction_tractionmonitoring_vehicleid2_engineinfo2_enginetotalhoursofoperation,sd3_v10_traction_tractionmonitoring_vehicleid10_engineinfo2_enginetotalhoursofoperation,sd3_v11_traction_tractionmonitoring_vehicleid11_engineinfo2_enginetotalhoursofoperation,sd3_v2_traction_tractionmonitoring_vehicleid2_engineinfo2_tripenginerunningtime,sd3_v10_traction_tractionmonitoring_vehicleid10_engineinfo2_tripenginerunningtime,sd3_v11_traction_tractionmonitoring_vehicleid11_engineinfo2_tripenginerunningtime,sd3_v2_traction_tractionmonitoring_vehicleid2_engineinfo2_mechanicalenergycount,sd3_v10_traction_tractionmonitoring_vehicleid10_engineinfo2_mechanicalenergycount,sd3_v11_traction_tractionmonitoring_vehicleid11_engineinfo2_mechanicalenergycount,sd3_v2_traction_tractionmonitoring_vehicleid2_cisoftwaresum_enginefuelrate,sd3_v10_traction_tractionmonitoring_vehicleid2_cisoftwaresum_enginefuelrate,sd3_v11_traction_tractionmonitoring_vehicleid2_cisoftwaresum_enginefuelrate,sd3_v2_traction_tractionmonitoring_vehicleid2_cisoftwaresum_tripaveragefuelrate,sd3_v10_traction_tractionmonitoring_vehicleid2_cisoftwaresum_tripaveragefuelrate,sd3_v11_traction_tractionmonitoring_vehicleid2_cisoftwaresum_tripaveragefuelrate,sd2_v1_energymeter_energymeter_vehicleid1_energymeterinformation3_totalconsumedactiveenergy,sd2_v12_energymeter_energymeter_vehicleid12_energymeterinformation3_totalconsumedactiveenergy,sd3_v0_traction_tractionmonitoring_mlvsdr1_energymeterinformation_totalconsumedactiveenergy,sd2_v1_energymeter_energymeter_vehicleid1_energymeterinformation4_totalregeneratedactiveenergy,sd

In [19]:
common = ['YearHCode','YearLCode','MonthHCode','MonthLCode','DayHCode','DayLCode','HourHCode','HourLCode','MinuteHCode','MinuteLCode','SecondHCode','SecondLCode','MilisecondHCode','MilisecondLCode']
common

['YearHCode',
 'YearLCode',
 'MonthHCode',
 'MonthLCode',
 'DayHCode',
 'DayLCode',
 'HourHCode',
 'HourLCode',
 'MinuteHCode',
 'MinuteLCode',
 'SecondHCode',
 'SecondLCode',
 'MilisecondHCode',
 'MilisecondLCode']

In [20]:
sd1 = common.copy() + [i for i in df_download['Signal'].values if 'sd1' in i].copy()
','.join(sd1)

'YearHCode,YearLCode,MonthHCode,MonthLCode,DayHCode,DayLCode,HourHCode,HourLCode,MinuteHCode,MinuteLCode,SecondHCode,SecondLCode,MilisecondHCode,MilisecondLCode,sd1_v0_couplingstatus_couplingstatus,sd1_v0_otmr_otmr_mlcsdr1_commondataforotmr_trainspeedfrometcs_trainspeedfrometcs,sd1_v0_assignment_odometer,sd1_v1_assignment_cabifunit_vehicleid1_cab24vddi_pantographstatus,sd1_v12_assignment_cabifunit_vehicleid12_cab24vddi_pantographstatus,sd1_v12_assignment_cabifunit_vehicleid12_cab24vdi_pantographautodropdetection,sd1_v1_assignment_cabifunit_vehicleid1_cab24vdi_pantographautodropdetection,sd1_v0_ethernetapplication_commondataofsdr_csvsdr1_commondatatraininformation1_sleepmode,sd1_v0_loginstatus_selfunitvehicleid1,sd1_v0_loginstatus_coupledunitvehicleid12,sd1_v0_ethernetapplication_commondataofsdr_mlcsdr1_commondatatrainid,sd1_v0_ethernetapplication_commondataofsdr_mlcsdr1_commondatagpsinformation_directionoflatitude,sd1_v0_ethernetapplication_commondataofsdr_mlcsdr1_commondatagpsinformation_latitudedegrees,sd1_v0_ethernetapplication_commondataofsdr_mlcsdr1_commondatagpsinformation_latitudeminutes,sd1_v0_ethernetapplication_commondataofsdr_mlcsdr1_commondatagpsinformation_directionoflongitude,sd1_v0_ethernetapplication_commondataofsdr_mlcsdr1_commondatagpsinformation_longitudedegrees,sd1_v0_ethernetapplication_commondataofsdr_mlcsdr1_commondatagpsinformation_longitudeminutes,sd1_v0_trainuid_trainuid,sd1_v0_ethernetapplication_commondataofsdr_mlcsdr1_personalid_personalid'

In [27]:
','.join(common + [i1 for i1 in df_download['Signal'].values if '26' in i1])

'YearHCode,YearLCode,MonthHCode,MonthLCode,DayHCode,DayLCode,HourHCode,HourLCode,MinuteHCode,MinuteLCode,SecondHCode,SecondLCode,MilisecondHCode,MilisecondLCode,sd26_v1_ridecomfortmonitoring_ridecomfortmonitoring_vehicleid1_sdr_traininformation1_loadweightonvehicle,sd26_v2_ridecomfortmonitoring_ridecomfortmonitoring_vehicleid2_sdr_traininformation1_loadweightonvehicle,sd26_v12_ridecomfortmonitoring_ridecomfortmonitoring_vehicleid12_sdr_traininformation1_loadweightonvehicle'

In [22]:
common

['YearHCode',
 'YearLCode',
 'MonthHCode',
 'MonthLCode',
 'DayHCode',
 'DayLCode',
 'HourHCode',
 'HourLCode',
 'MinuteHCode',
 'MinuteLCode',
 'SecondHCode',
 'SecondLCode',
 'MilisecondHCode',
 'MilisecondLCode']

In [304]:
df_download.apply(lambda x : print(f'cp /data/HCP_Data/data/IEPLNER/{x[0]}/{x[1]} /data/MISSING_DATA') , axis = 1)

cp /data/HCP_Data/data/IEPLNER/20220215/SD2202141540460-801108.tgz /data/MISSING_DATA
cp /data/HCP_Data/data/IEPLNER/20220215/SD2202141740161-801108.tgz /data/MISSING_DATA
cp /data/HCP_Data/data/IEPLNER/20220215/SD2202150138151-801106.tgz /data/MISSING_DATA
cp /data/HCP_Data/data/IEPLNER/20220215/SD2202150138161-801108.tgz /data/MISSING_DATA
cp /data/HCP_Data/data/IEPLNER/20220215/SD2202150505531-801222.tgz /data/MISSING_DATA
cp /data/HCP_Data/data/IEPLNER/20220215/SD2202150527280-800204.tgz /data/MISSING_DATA
cp /data/HCP_Data/data/IEPLNER/20220215/SD2202150537150-801106.tgz /data/MISSING_DATA
cp /data/HCP_Data/data/IEPLNER/20220215/SD2202150537160-801108.tgz /data/MISSING_DATA
cp /data/HCP_Data/data/IEPLNER/20220215/SD2202150651450-800106.tgz /data/MISSING_DATA
cp /data/HCP_Data/data/IEPLNER/20220215/SD2202150705230-801222.tgz /data/MISSING_DATA
cp /data/HCP_Data/data/IEPLNER/20220215/SD2202150736450-801106.tgz /data/MISSING_DATA
cp /data/HCP_Data/data/IEPLNER/20220215/SD2202150736460-801108.tgz /data/MISSING_DATA
cp /data/HCP_Data/data/IEPLNER/20220215/SD2202150904530-801222.tgz /data/MISSING_DATA
cp /data/HCP_Data/data/IEPLNER/20220215/SD2202150932110-800210.tgz /data/MISSING_DATA
cp /data/HCP_Data/data/IEPLNER/20220215/SD2202150936140-801106.tgz /data/MISSING_DATA
cp /data/HCP_Data/data/IEPLNER/20220215/SD2202151033200-801220.tgz /data/MISSING_DATA
cp /data/HCP_Data/data/IEPLNER/20220215/SD2202151104231-801222.tgz /data/MISSING_DATA
cp /data/HCP_Data/data/IEPLNER/20220215/SD2202151125570-800204.tgz /data/MISSING_DATA
cp /data/HCP_Data/data/IEPLNER/20220215/SD2202151131410-800210.tgz /data/MISSING_DATA
cp /data/HCP_Data/data/IEPLNER/20220215/SD2202151135440-801106.tgz /data/MISSING_DATA
cp /data/HCP_Data/data/IEPLNER/20220215/SD2202151135460-801108.tgz /data/MISSING_DATA
cp /data/HCP_Data/data/IEPLNER/20220215/SD2202151232500-801220.tgz /data/MISSING_DATA
cp /data/HCP_Data/data/IEPLNER/20220215/SD2202151246370-801214.tgz /data/MISSING_DATA
cp /data/HCP_Data/data/IEPLNER/20220215/SD2202151250150-800106.tgz /data/MISSING_DATA
cp /data/HCP_Data/data/IEPLNER/20220215/SD2202151303530-801222.tgz /data/MISSING_DATA
cp /data/HCP_Data/data/IEPLNER/20220215/SD2202151325270-800204.tgz /data/MISSING_DATA
cp /data/HCP_Data/data/IEPLNER/20220215/SD2202151331120-800210.tgz /data/MISSING_DATA
cp /data/HCP_Data/data/IEPLNER/20220215/SD2202151335140-801106.tgz /data/MISSING_DATA
cp /data/HCP_Data/data/IEPLNER/20220215/SD2202151335160-801108.tgz /data/MISSING_DATA
cp /data/HCP_Data/data/IEPLNER/20220215/SD2202151432200-801220.tgz /data/MISSING_DATA
cp /data/HCP_Data/data/IEPLNER/20220215/SD2202151446070-801214.tgz /data/MISSING_DATA
cp /data/HCP_Data/data/IEPLNER/20220215/SD2202151503220-801222.tgz /data/MISSING_DATA
cp /data/HCP_Data/data/IEPLNER/20220215/SD2202151524560-800204.tgz /data/MISSING_DATA
cp /data/HCP_Data/data/IEPLNER/20220215/SD2202151530410-800210.tgz /data/MISSING_DATA
cp /data/HCP_Data/data/IEPLNER/20220215/SD2202151534440-801106.tgz /data/MISSING_DATA
cp /data/HCP_Data/data/IEPLNER/20220215/SD2202151534460-801108.tgz /data/MISSING_DATA
cp /data/HCP_Data/data/IEPLNER/20220215/SD2202151631500-801220.tgz /data/MISSING_DATA
cp /data/HCP_Data/data/IEPLNER/20220215/SD2202151645370-801214.tgz /data/MISSING_DATA
cp /data/HCP_Data/data/IEPLNER/20220215/SD2202151702520-801222.tgz /data/MISSING_DATA
cp /data/HCP_Data/data/IEPLNER/20220215/SD2202151724260-800204.tgz /data/MISSING_DATA
cp /data/HCP_Data/data/IEPLNER/20220215/SD2202151730110-800210.tgz /data/MISSING_DATA
cp /data/HCP_Data/data/IEPLNER/20220215/SD2202151734140-801106.tgz /data/MISSING_DATA
cp /data/HCP_Data/data/IEPLNER/20220215/SD2202151734160-801108.tgz /data/MISSING_DATA
cp /data/HCP_Data/data/IEPLNER/20220215/SD2202151831200-801220.tgz /data/MISSING_DATA
cp /data/HCP_Data/data/IEPLNER/20220215/SD2202151845080-801214.tgz /data/MISSING_DATA
cp /data/HCP_Data/data/IEPLNER/20220215/SD2202151902221-801222.tgz /data/MISSING_DATA
cp /data/HCP_Data/data/IEPLNER/20220215/SD2202151923561-800204.tgz /data/MISSING_DATA
cp /data/HCP_Data/data/IEPLNER/20220215/SD2202151924070-801212.tgz /data/MISSING_DATA
cp /data/HCP_Data/data/IEPLNER/20220215/SD2202151925210-801210.tgz /data/MISSING_DATA
cp /data/HCP_Data/data/IEPLNER/20220215/SD2202151926180-801110.tgz /data/MISSING_DATA
cp /data/HCP_Data/data/IEPLNER/20220215/SD2202151926360-801112.tgz /data/MISSING_DATA
cp /data/HCP_Data/data/IEPLNER/20220215/SD2202151929380-800104.tgz /data/MISSING_DATA
cp /data/HCP_Data/data/IEPLNER/20220215/SD2202151929410-800210.tgz /data/MISSING_DATA
cp /data/HCP_Data/data/IEPLNER/20220215/SD2202151932430-801102.tgz /data/MISSING_DATA
cp /data/HCP_Data/data/IEPLNER/20220215/SD2202151933441-801106.tgz /data/MISSING_DATA
cp /data/HCP_Data/data/IEPLNER/20220215/SD2202151933460-801108.tgz /data/MISSING_DATA
cp /data/HCP_Data/data/IEPLNER/20220215/SD2202151935131-801208.tgz /data/MISSING_DATA
cp /data/HCP_Data/data/IEPLNER/20220215/SD2202151945370-801204.tgz /data/MISSING_DATA
cp /data/HCP_Data/data/IEPLNER/20220215/SD2202152007311-801215.tgz /data/MISSING_DATA
cp /data/HCP_Data/data/IEPLNER/20220215/SD2202152030500-801220.tgz /data/MISSING_DATA
cp /data/HCP_Data/data/IEPLNER/20220215/SD2202152044370-801214.tgz /data/MISSING_DATA
cp /data/HCP_Data/data/IEPLNER/20220215/SD2202152046021-801219.tgz /data/MISSING_DATA
cp /data/HCP_Data/data/IEPLNER/20220215/SD2202152056240-801205.tgz /data/MISSING_DATA
cp /data/HCP_Data/data/IEPLNER/20220215/SD2202152114481-800203.tgz /data/MISSING_DATA
cp /data/HCP_Data/data/IEPLNER/20220215/SD2202152114551-801101.tgz /data/MISSING_DATA
cp /data/HCP_Data/data/IEPLNER/20220215/SD2202152116181-800205.tgz /data/MISSING_DATA
cp /data/HCP_Data/data/IEPLNER/20220215/SD2202152129081-800104.tgz /data/MISSING_DATA
cp /data/HCP_Data/data/IEPLNER/20220215/SD2202152138141-800104.tgz /data/MISSING_DATA

C:\Users\khangnguyen1\AppData\Local\Temp\ipykernel_26984\923916194.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df_download.apply(lambda x : print(f'cp /data/HCP_Data/data/IEPLNER/{x[0]}/{x[1]} /data/MISSING_DATA') , axis = 1)

0     None
1     None
2     None
3     None
4     None
      ...
63    None
64    None
65    None
66    None
67    None
Length: 68, dtype: object